<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title endblock %} | {{ 'service.name'|trans }}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="SkreenHouseFactory">
	<meta name="language" content="fr-FR" />
	<meta name="viewport" content="width=device-width">
	{% if app.environment != 'prod' %}
	<meta name="robots" content="noindex,nofollow">
	{% endif %}
	{% block meta %}{% endblock %}

  {% stylesheets
      '@SkreenHouseFactoryTvBundle/Resources/public/less/couchmode.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/slider.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/modal.less'
      '@SkreenHouseFactoryV3Bundle/Resources/public/less/style.less'
        filter='less,?yui_css'
        output='css/v3.css'
        %}
      <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Votre navigateur est <em>ancien!</em> <a href="http://browsehappy.com/">Mettez-le à jour</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">installez Google Chrome Frame</a> pour profiter utiliser mySkreen dans les meilleurs conditions.</p><![endif]-->

    <div id="header" style="height:150px">
    <iframe scrolling="no" width="100%" height="150px" frameborder="0" src="{{ path('header') }}"></iframe>
    </div><div id="content" class="container">
    {% block content %}
    {% endblock %}
    </div>

    <div id="footer" class="container">
      <hr/>
      <div class="row">
        <ul class="span10 nav nav-pills">
          <li><a rel="nofollow" class="pull-left" href="http://v2.myskreen.com/about">A propos</a></li>
          <li><a rel="nofollow" class="pull-left" target="_blank" href="http://medias.myskreen.com/pdf/cguv.pdf">CGUV</a></li>
          <li><a rel="nofollow" class="pull-left" href="#" data-modal="feedback">Nous écrire</a></li>
        </ul>
      </div>
    </div>

{% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery-1.8.0.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/jquery.cookies.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/bootstrap-ajax-typeahead.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/modernizr.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/easyXDM.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/inheritance.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/flowplayer-3.2.11.min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/flowplayer.ipad-3.2.11.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/core/*' 
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/session.js'
    '@SkreenHouseFactoryTvBundle/Resources/public/js/couchmode.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/ui.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/script.js'
    
    filter='?yui_js' 
    output='js/compiled/v3.js'  %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6151896-14']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
  var _sf_async_config = { uid: 40056, domain: 'myskreen.com' };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
        "js/chartbeat.js");
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>

</body>
</html>