<div class="bande_listes header-margin-top">
  <div class="container">
    <div itemscope itemtype="http://schema.org/Person" itemref="md-description md-person-programs" class="row">
      {% if img is defined and img %}
        <div class="col-xs-2">
          <img itemprop="image" src="{{ img }}" height="120px"/>
        </div>
        <div class="col-xs-9">
      {% else %}
        <div class="col-xs-11">
      {% endif %}
        <span class="ms-format">Personnalité</span>
        <h1 itemprop="name">{{ person.name }}</h1>
        {% if person.photo_credits is defined and person.photo_credits %}
          <div class="credits">Crédits photo : {{ person.photo_credits|wordCut(30,'...') }}</div>
        {% endif %}
      </div>
      <div class="col-xs-5">
        {# AjoutListes #}
        <div class="row">
          {# Bouton Ajout/Abo #}
          <div class="col-xs-16 ajout">
            {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: person.id, class: 'fav-person', text: 'Ajouter à mes listes', placement: 'left', name: person.name, origin: 'person'} %}
          </div>
          {# Textes Ajouts #}
          <div class="col-xs-16">
            <a class="meslistes-plus" data-toggle-text="<i class='glyphicon glyphicon-collapse-up'></i>&nbsp;Fermer" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><i class="glyphicon glyphicon-collapse-down"></i><span>&nbsp;Plus d'infos...</span></a>
            {# <p>Soyez averti des prochaines diffusions (Tv, Replay, Ciné, VOD).</p>
            {# <p>Partagez vos playlists avec vos amis et suivez ce qu'ils regardent.</p> #}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bande_couleur_degrade">
  <div class="container">
    <div class="row">
      <p>Soyez averti des prochaines diffusions (TV, Replay, Ciné, VOD) <br/> auxquelles participe &laquo; {{ person.name }} &raquo;.</p>
      <p>Partagez vos listes avec vos amis et suivez ce qu'ils regardent.</p>
    </div>
  </div>
  {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { active: '', no_background: true } %}
</div>