{% extends "SkreenHouseFactoryV3Bundle:Channel:_base-channel.html.twig" %}

{% block customcontent %}
  {% set fav = 'channel' %}
  {% include  'SkreenHouseFactoryV3Bundle:Channel:_description.html.twig' %}
  <div id="cover" class="cover73">
    <div id="channel73" class="header-container">
      <a class="cover-wrap" href="{{ channel.program.seo_url }}">
      <div class="header-content">
        <div class="player-wrap">
          <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&play=35480295&height=301&width=509&channel_header=1&fromWebsite=v3" height="301" width="509"></iframe>{# ba : 36574591 #}
        </div>
      </div>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="wrap-follow clearfix"{% if fav is defined and fav %} data-playlist="{{ fav }}"{% endif %}>
          <div>
            <h2>La <strong>Chaîne officielle</strong> du film</h2>
            {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: channel.id, class: fav is defined and fav ? 'fav-' ~ fav : '', name: channel.title, text: 'Abonne-toi' } %}
          </div>
          <div class="shareblock">
            {% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com' ~ channel.seo_url, text: program.twitter_msg is defined ? program.twitter_msg : channel.title ~ ' sur mySkreen', fb_layout: 'box_count', tw_layout: 'vertical', g_size: 'tall', g_annotation: 'bubble' } %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include  'SkreenHouseFactoryV3Bundle:Channel:_packs.html.twig' %}
{% endblock %}

{% block custompagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/channel/sous-les-jupes.less'
      filter='lessphp,?yui_css'
      output='css/channel/sous-les-jupes.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}