{% extends "SkreenHouseFactoryV3Bundle:Channel:_base-channel.html.twig" %}

{% block customcontent %}
  {% include  'SkreenHouseFactoryV3Bundle:Channel:_description.html.twig' %}
  <div class="bande-couleur-webtv">
    <div class="container">
      <div class="row">
        <div class="col-xs-11">
          <h1>Mes listes : Web TV</h1>
          <p>Soyez averti des prochaines vidéos de vos WebTV préférées.</p>
        </div>
        <div class="col-xs-5">
          <p class="listes-plus user-off">
            <a class="btn-suivre meslistes-plus" data-toggle-text="<i class='glyphicon glyphicon-collapse-up'></i><span>&nbsp;Fermer</span>" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><i class="glyphicon glyphicon-collapse-down"></i><span>&nbsp;Plus d'infos...</span></a>
          </p>
          <p class="listes-plus user-on">
            <a class="btn btn-suivre meslistes-plus" data-toggle-text="Fermer&nbsp;<i class='glyphicon glyphicon-collapse-up'></i>" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><span></span><i class="glyphicon glyphicon-collapse-down"></i></a>
          </p>
        </div>
        {# <p>Partagez vos listes avec vos amis et suivez ce qu'ils regardent.</p> #}
      </div>
    </div>
  </div>
  <div class="bande_couleur_degrade">
    {# Pas connecté #}
    <div class="container user-off">
      <div class="row">
        <p>Ajoutez vos programmes à vos listes et ne ratez plus leurs diffusions : Norman fait des vidéos, France Culture, Télérama, etc.</p>
        {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { active: '', no_background: true } %}
      </div>
    </div>
    {# Connecté #}
    <div class="container user-on">
      <div class="row">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {id: 'webtv'}, noheader: true, class: 'slider-meslistes'} %}
      </div>
    </div>
  </div>
  <div class="bandeau-filters">
   <div class="container container-filters sk-font">
     Toute la télé<br/><a class="label" href="{{ path('channel', {slug: 'replay'}) }}">Replay</a> <a class="label" href="{{ path('channel', {slug: 'itele'}) }}">Télé en direct</a> <a class="label" href="{{ path('tvgrid') }}">Programme TV</a>
    </div>
  </div>
  <div class="more-webtv">
  {% include  'SkreenHouseFactoryV3Bundle:Channel:_packs.html.twig' %}
  </div>
  <div class="container nopadding">
    <hr/>
    {% include 'SkreenHouseFactoryV3Bundle:Main:_adsense.html.twig' %}
  </div>
{% endblock %}

{% block custompagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/channel/webtv.less'
      filter='lessphp,?yui_css'
      output='css/channel/webtv.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}