<div class="bande_listes">
  <div class="container">
    <div class="row">
      <div class="col-xs-11">
        <div id="fake_h1">Mes listes : Programme TV</div>
        <div class="row">
          <div class="col-xs-16 episodes user-off">Retrouvez toutes les diffusions TV de vos programmes préférés</div>
          <div class="col-xs-16 episodes user-on">Les prochaines diffusions</div>
        </div>
      </div>
      <div class="col-xs-5">
        {# AjoutListes Pas connecté #}
        <div class="row user-off">
          {# Bouton Ajout/Abo #}
          <div class="col-xs-16">
            <a class="meslistes-plus" data-toggle-text="<i class='glyphicon glyphicon-collapse-up'></i>&nbsp;Fermer" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><i class="glyphicon glyphicon-collapse-down"></i><span>&nbsp;Plus d'infos...</span></a>
          </div>
        </div>
        {# Gestion Listes Connecté #}
        <div class="row user-on">
          <div class="col-xs-16 ajout">
            <a class="btn btn-suivre meslistes-plus" data-toggle-text="Fermer&nbsp;<i class='glyphicon glyphicon-collapse-up'></i>" data-toggle-display=".bande_couleur_degrade" data-toggle-animation="slide"><span></span><i class="glyphicon glyphicon-collapse-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{# off #}
<div class="bande_couleur_degrade">
  {# Pas connecté #}
  <div class="container user-off">
    <div class="row">
      <p>Soyez averti des prochaines diffusions (TV, Replay, Ciné, VOD) des programmes que vous aimez.</p>
      <p>Partagez vos listes avec vos amis et suivez ce qu'ils regardent.</p>
    </div>
    {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { no_background: true } %}
  </div>
  {# Connecté #}
  <div class="container user-on" id="theaters-playlist">
    <div class="tab-pane" id="theater-playlist">
      <div class="theaters-on">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {id: 'tv'}, noheader: true} %}
      </div>
    </div>
  </div>
</div>
<div class="bandeau-filters">
   <div class="container container-filters sk-font">
     Toute la télé : <a class="label" href="{{ path('channel', {slug: 'replay'}) }}">Replay</a> <a class="label" href="{{ path('channel', {slug: 'itele'}) }}">Télé en direct</a> <a class="label" href="{{ path('channel', {slug: 'web-tv'}) }}">Web TV</a>
    </div>
</div>