<a name="theaters-playlist"></a>
<div id="theaters-playlist">
  <ul class="nav nav-tabs">
    <li><a href="#theater-playlist" data-toggle="tab">Dans mes cinémas</a></li>
    <li class="active"><a href="#theater-search" data-toggle="tab">Toutes les salles</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" id="theater-playlist">
      <div class="theaters-on hide">
        <a class="pull-right btn btn-suivre btn-xs" data-modal="remote" data-modal-title="{{ 'theaters.playlist.add'|trans }}" href="{{ path('theaters_search', {'init': 1}) }}"><i class="glyphicon glyphicon-plus"></i> {{ 'theaters.playlist.add'|trans }}</a>
        <div id="theaters-names"></div>
        {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: {id: 'cinema'}, noheader: true} %}
      </div>
      <div class="theaters-off">
  	    <p><strong>Retrouvez ici la programmation de vos cinémas préférés !</strong></p>
  	    <a class="btn btn-large btn-suivre" data-modal="remote" data-modal-title="Ajouter un cinéma" href="{{ path('theaters_search', {'init': 1}) }}"><i class="glyphicon glyphicon-plus"></i> Ajouter un cinéma</a>
      </div>
    </div>
    <div class="tab-pane active" id="theater-search">
      <br/>
      {% include 'SkreenHouseFactoryV3Bundle:Cinema:_popin-search.html.twig' with {cinemas: {}} %}
    </div>
  </div>
</div>