<div id="modal-pass">
  <p class="no-bottom">puis Pass Illimité 5€ / semaine</p>
  <p class="bottom"><em>uniquement si vous poursuivez votre abonnement</em></p>
  <p class="no-bottom">Accès en streaming illimité</p>
  <p class="no-bottom">à tous les films, séries</p>
  <p class="no-bottom">et documentaires marqués d'un <span class="ico-deporte"><i class="glyphicon glyphicon-play"></i></span></p>
  <p class="bottom"><img src="{{ asset('bundles/skreenhousefactoryv3/images/img_cover_deporte.jpg') }}" alt="Cover programme myskreen"></p>
  <p class="bottom pass-offer">OFFRE SANS ENGAGEMENT</p>
  <button class="btn btn-success btn-pass-subscribe-modal" data-dismiss="modal"  data-track-event="btn-pass,modal">J'en profite !</button>
</div>
<script>
  $('#skModal.modal .modal-message').html('<p class="pass-title"><b>myskreen vous offre ce programme</b></p>');
  $('#skModal.modal .modal-title').html('Pass Illimité myskreen');
</script>