{% extends 'SkreenHouseFactoryV3Bundle::empty.html.twig' %}

{% block content %}
<div id="modal-content">
  <p class=""></p>
  <form>
    <h5>Choisissez un nom</h5><br/>
    <p><span class="alert">http://www.myskreen.com/<input type="text" name="name" placeholder="nom-de-votre-playlist"  style="background: transparent;border: none;box-shadow: none;margin: 0;padding: 0 0 3px 0;" /></span></p>
    <p><input type="submit" class="btn btn-primary btn-large" value="Publier" /></p>
  </form>
</div>
{% endblock %}
