<div class="modal" id="program-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div class="modal-title">Suivre ce programme</div>
        <div class="modal-message"></div>
      </div>
      <div class="modal-body">
        <img id="channel-logo" src="{{ program.picture }}" class="pull-left" />
        {% if program.id == 5088919 or (program.episodeof is defined and program.episodeof.id == 5088919) %}<p>Pour voir cette vidéo inédite et recevoir les prochaines en<br>avant-première, connectez-vous !</p>
         {% else %}<p>Abonnez-vous gratuitement au programme <br/>&laquo; {{program.title}} &raquo; <br/>pour recevoir les prochaines vidéos en avant-première !</p>
        {% endif %}
        <div id="triggerfav" class="user-on hide">
          <a class="btn btn-plus btn-suivre">Suivre {{ program.title }}</a>
        </div>
        <div id="fbconnect" class="user-off">
        <img src="https://api.myskreen.com/skPaymentPlugin/images/connexion_facebook.jpeg" alt="Se connecter avec Facebook">
        <div id="fbconnect-infos"></div>
        </div>
        <div class="user-off"><a data-dismiss="modal" class="btn btn-default trigger-suivre">{{'popin.nofb'|trans}}</a></div>
      </div>
      <div class="modal-footer"><a data-dismiss="modal" class="btn btn-default">Non, merci pas maintenant</a></div>
   </div>
  </div>
</div>