{# Contenu Voir #}
<div class="col-xs-16">
  
  {% if app.request.get('activate_pass') %}
  <div class="panel panel-deporte panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Pass myskreen</h3>
    </div>
    <div id="pass" class="tab-pane">
      <a class="btn btn-success" href="https://payment.allopass.com/subscribe/subscribe.apu?ids=314744&amp;idd=1365117&amp;merchant_subscriber_reference=">S'abonner</a>
    </div>
  </div>
  {% endif%}
  
  {# Offres autres que Cinéma #}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_offers.html.twig' with {offers: voir.offers} %}
  {# Contenu Cinéma #}
</div>