{# Contenu Vidéos #}
<div class="col-xs-16">

  {# bande annonce #}
  {% if program.player is defined and program.player and program.teaser %}
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Bande annonce</h3></div>
      <div id="bande-annonce" class="tab-pane">
        <table>
        {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_offer-video.html.twig' with {
          o: {
            id: program.teaser.id,
            versions: program.teaser.versions,
            title: program.title ~ ' : la bande-annonce',
            picture: program.picture|replace({'273/368': '160/85'}),
            description: ''
          }, 
          o_episode: program, 
          o_channel: {name: ''},
          o_access: {name: 'Bande annonce'},
          program: program, 
          btn_deploy_offers: 0,
          key: 'ba',
          loop_offset: 0,
          loop: {index: 0}
        } %}
        </table>
      </div>
    </div>
  {% endif %}

  {# Bonus, Extraits #}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_offers.html.twig' with {offers: videos.offers, tab: 'videos'} %}

  {# au sujet de #}
  {% if program.related_programs is defined %}
    {% for dir,type in program.related_programs|to_array %}
      {% for rel,progs in type|to_array %}
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{ rel }}</h3></div>
        <div id="{{ rel }}" class="tab-pane">
          <table>
          {% for prog in progs|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_offer-video.html.twig' with {
            o: prog.best_offer, 
            o_episode: prog, 
            o_channel: prog.best_offer.channel,
            o_access: prog.best_offer.access,
            program: program, 
            btn_deploy_offers: 0,
            key: prog.best_offer.offer_type ~ ' ba',
            loop_offset: 0
          } %}
          {% endfor %}
          </table>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  {% endif %}


  {# Contenu Youtube / more streaming #}
  <div id="program-more-streaming" class="panel panel-default panel-remove-padding-bottom" data-more-streaming="{{ program.id }}">
    <div class="panel-heading">
        <h3 class="panel-title">Sur Youtube</h3>
    </div>
    <div class="tab-pane">
      <div id="carousel-youtube" class="carousel slide">
        <a class="left carousel-control" href="#carousel-youtube" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-youtube" data-slide="next">
          <span class="icon-next"></span>
        </a>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-youtube" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-youtube" data-slide-to="1"></li>
          <li data-target="#carousel-youtube" data-slide-to="2"></li>
          <li data-target="#carousel-youtube" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <!-- Controls -->  
        </div>
      </div>
    </div>
  </div>

</div>