{# Contenu Vidéos #}
<div class="col-xs-16">
  {# Bonus, Extraits #}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_offers.html.twig' with {offers: videos.offers, tab: 'videos'} %}

  {# Contenu Youtube / more streaming #}
  <div id="program-more-streaming" class="panel panel-default panel-remove-padding-bottom" data-more-streaming="{{ program.id }}">
    <div class="panel-heading">
      {% if program.offers['deporte']|to_array|length %}
        <h3 class="panel-title youtube-collapser pointer collapsed" data-toggle="collapse" href="#youtube">Sur Youtube <i class="glyphicon glyphicon-chevron-down"></i></h3>
      {% else %}
        <h3 class="panel-title">Sur Youtube</h3>
      {% endif %}
    </div>
    {% if program.offers['deporte']|to_array|length %}
      <div id="youtube" class="tab-pane panel-collapse collapse">
    {% else %}
      <div class="tab-pane">
    {% endif %}
        <div id="carousel-youtube" class="carousel slide">
          <a class="left carousel-control" href="#carousel-youtube" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#carousel-youtube" data-slide="next">
            <span class="icon-next"></span>
          </a>
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-youtube" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-youtube" data-slide-to="1"></li>
            <li data-target="#carousel-youtube" data-slide-to="2"></li>
            <li data-target="#carousel-youtube" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
          <!-- Controls -->  
          </div>
        </div>
      </div>
  </div>

</div>