{# Contenu Voir #}
<div class="col-xs-16">
  {# Offres autres que Cinéma #}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_offers.html.twig' with {offers: voir.offers} %}
  {# Contenu Cinéma #}
</div>