{% extends app.request.isXmlHttpRequest ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{# HEAD Title #}
{% block title %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_title.html.twig' %}
{% endblock %}

{# HEAD Description #}
{% block description %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_description.html.twig' %}
{% endblock %}

{# HEAD Meta #}
{% block meta %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_metadonnees.html.twig' %}
{% endblock %}

{# HEAD Pagescripts #}
{% block pagescripts %}
  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_pagescripts.html.twig' %}
{% endblock %}

{# Content #}
{% block content %}
  <div id="view-program" data-id="{{ program.id }}">
    <div class="scrollplayerzone">
      {# Player + Affiche + Meilleure offre #}
      <div class="container">
        <div class="row playwrapsub hide"></div>
        {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_player.html.twig' %}
      </div>

      {# Titre + ShareBlock + AjoutListes #}
      <div class="bande_couleur">
        <div class="container">
          {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_titre.html.twig' %}
        </div>
      </div>

      {# Onglets/Contenus + Chaînes #}
      <div class="container">
        <div class="row">
          {# Onglets / Contenus #} 
          <div class="col-xs-11 contents">
            {# Onglets #}
            <ul class="row" id="onglets">
              <li class="active col-xs-6">{# Voir #}
                <a href="#voir" data-toggle="tab">
                  <div class="row">
                    <div class="col-xs-16">VOIR
                      {% if voir.count > 0 %}
                        ({{ voir.count }})
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-16">Tv, Ciné, Replay, VOD, Live, DVD
                      {# {% for key in voir.offers|keys if program.offers[key] is defined and program.offers[key]|to_array|length > 0 %}
                        {{ voir.offers[key] }}
                      {% endfor %} #}
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-xs-5">{# Vidéos #}
                <a href="#videos" data-toggle="tab">
                  <div class="row">
                    <div class="col-xs-16">+ DE VIDEOS
                      {% if videos.count > 0 %}
                        ({{ videos.count }})
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-16">{% if program.offers.bonus is defined and program.offers.bonus|to_array|length > 0 %}Bonus, {% endif %}{% if program.offers.cut is defined and program.offers.cut|to_array|length > 0 %}Extraits, {% endif %}Youtube</div>
                  </div>
                </a>
              </li>
              <li class="col-xs-5">{# Infos #}
                <a href="#infos" data-toggle="tab">
                  <div class="row">
                    <div class="col-xs-16">INFOS</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-16">{% if (program.seasons is defined and program.seasons|to_array|length > 0) or (program.datas_offers.episodes is defined and program.datas_offers.episodes|to_array|length > 0) %}Episodes, {% endif %}Synopsis, Casting</div>
                  </div>
                </a>
              </li>
            </ul>
            {# Contenus #}
            <div class="tab-content">
              {# Contenu Voir #}
              <div class="tab-pane active row" id="voir">
                {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_voir.html.twig' %}
              </div>
              {# Contenu Vidéos #}
              <div class="tab-pane row" id="videos">
                {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_videos.html.twig' %}
              </div>
              {# Contenu Infos #}
              <div class="tab-pane row" id="infos">
                {# Affichage pour les fiches Saison seule #}
                {% if program.season_number is defined and program.episode_number is not defined %}
                  {# Episodes de la saison #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes-saison.html.twig' %}
                  {# Tous les épisodes #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes.html.twig' %}
                {# Affichage pour les fiches d'épisodes #}
                {% elseif program.season_number is defined and program.episode_number is defined %}
                  {# Synopsis #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' %}
                  {# Casting #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting.html.twig' %}
                  {# Episodes de la saison #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes-saison.html.twig' %}
                  {# Tous les épisodes #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes.html.twig' %}
                {# Affichage pour toutes les autres fiches #}
                {% else %}
                  {# Episodes #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_episodes.html.twig' %}
                  {# Synopsis #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_synopsis.html.twig' %}
                  {# Casting #}
                  {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_casting.html.twig' %}
                {% endif %}
              </div>
            </div>
          </div>
          {# Chaînes #}
          <div class="col-xs-5 channel-side">
              <span>CHAÎNES</span>
              {# Chaînes sur le même thème #}
              {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_chaines-thema.html.twig' %}
              {# Chaînes éditorialisées #}
              <p class="ms-surtitre">À voir en ce moment</p>
              <ul class="channel_module_width">
                <li>
                  <a class="channel_link" href="/les-inconnus/">
                    <span class="channel_texte">Les Inconnus, la chaîne</span>
                    <img src="http://mskstatic.com/300/147/c/medias/photos/channel/1-les-inconnus-s.jpg?2014021509" class="channel_root" data-track-channel="Les Inconnus" alt="Les Inconnus">
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
      
      {# Related #}
      <div class="related">
        <div class="container">
          {% include 'SkreenHouseFactoryV3Bundle:Program:program-v3_related.html.twig' %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
