{# Player + Affiche #}
<div class="row">
  <div class="col-xs-11">{# Player #}</div>
  <div class="col-xs-5">{# Affiche #}</div>
</div>
{# Meilleure offre #}
<div class="row">
  <div class="col-xs-3">{# Bouton Voir #}</div>
  <div class="col-xs-9">{# Textes offre #}
    <div class="row">
      <div class="col-xs-16">{# Type d'offre (intégralité, etc.) #}</div>
    </div>
    <div class="row">
      <div class="col-xs-16">{# Descriptif offre #}</div>
    </div>
  </div>
  <div class="col-xs-2">{# Prix #}</div>
  <div class="col-xs-2">{# Logo Fournisseur #}</div>
</div>