{# Titre + ShareBlock #}
<div class="row">
  <div class="col-xs-9">{# Titre #}</div>
  <div class="col-xs-7">{# ShareBlock #}</div>
</div>
{# AjoutListes #}
<div class="row">
  <div class="col-xs-4">{# Bouton Ajout/Abo #}</div>
  <div class="col-xs-12">{# Textes Ajouts #}</div>
</div>