<div class="encart-vod">
  <div class="encart-header">
    <div class="container">
      <div class="row">
        <div class="title lato">Accedez au meilleur de la VOD</div>
        <div class="subtitle">en HD et multi-écran directement sur mySkreen et en 1 clic</div>
        <a class="btn btn-defaut"><i class="glyphicon glyphicon-info-sign"></i><span>En savoir plus</span></a>
      </div>
    </div>
  </div>
  <div class="encart-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 lato title">Comparez les prix des meilleures offres pour visionner tous vos programmes en VOD.</div>
        <div class="col-xs-8 "><span class="vod-multiple"></span></div>
      </div>
    </div>
  </div>
    <div class="encart-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-16">
            <div class="title lato"><span class="picture sprite-blockVOD4_03"></span><span class="lato text" >Les programmes directement sur </span><span class="picture sprite-blockVOD4_05"></span></div>
          </div>
      
          <div class="col-xs-8 first-col">
            <div class="click-title"><a class="picture sprite-blockVOD4_09"></a>Vidéo en 1 click</div>
            <div class="lato click-description">Certains programmes sont disponibles directement dans notre catalogue VOD. Cliquez sur l'éclair pour enregistrer vos coordonnées bancaires et les regarder en un click</div>
          </div>
      
          <div class="col-xs-8">
            <div class="content">
              <span class="col-xs-3 picture sprite-blockVOD4_12"></span>
              <div class="title">Sur tous vos écrans</div>
              <div class="">PC, Mac, tablettes, téléphone et même votre télévision.</div>
            </div>
            <div class="content">
              <span class="col-xs-3 picture sprite-blockVOD4_16"></span>
                <div class="title">Paiement sécurisé</div>
                <div class="">mySkreen ne garde pas vos informations bancaire et interroge votre banque à chaque location.</div>
              </img>
            </div>
            <div class="content">
              <span class="col-xs-3 picture sprite-blockVOD4_18"></span>
                <div class="title">Haute Définition</div>
                <div class="">Vos films en haute qualité en HD ou full HD</div>
              </img>
            </div>
          </div>
        </div>
      </div>
      <span class="lien lato">Les offres VOD <i class="glyphicon glyphicon-chevron-down"></i></span>
    </div>
  </div>
</div>