<div class="encart-vod">
  <div class="encart-header">

     {% if home.filters|to_array|length %}
     <div class="bandeau-filters">
       <div class="container container-filters sk-font">
         {% if home.name == 'video-a-la-demande' %}
           Toute la vidéo à la demande
         {% else %}
           Découvrir les {{ ('format.pluriel.' ~ (home.name|slice(0, -1)))|trans }} à la demande
         {% endif %}
         <br/>
          {% for f in home.filters|to_array|sort %}
          <a class="label label-default sk-font" href="{{ path('any_url', {url: f.url|slice(1, f.url|length-1)}) }}" target="_top">{{ f.name }}</a>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    <div class="bandeau-more">
    <div class="container">
      <div class="row">
        <div class="title lato">Accedez au meilleur de la VOD</div>
        <div class="subtitle">en HD et multi-écran directement sur mySkreen et en 1 clic</div>
        <a class="btn btn-defaut" data-toggle-display=".encart-toggle" data-toggle-animation="slide"><i class="glyphicon glyphicon-info-sign"></i><span>En savoir plus</span></a>
      </div>
    </div>
    </div>
  </div>
  <div class="encart-toggle">
  <div class="encart-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 lato title">Comparez les prix des meilleures offres pour visionner tous vos programmes en VOD.</div>
        <div class="col-xs-8 "><span class="vod-multiple"></span></div>
      </div>
    </div>
  </div>
    <div class="encart-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-16">
            <div class="title lato"><span class="picture sprite-blockVOD4_03"></span><span class="lato text" >Les programmes directement sur </span><span class="picture sprite-blockVOD4_05"></span></div>
          </div>
      
          <div class="col-xs-8 first-col">
            <div class="click-title"><a class="picture sprite-blockVOD4_09"></a>Vidéo en 1 click</div>
            <div class="lato click-description">Certains programmes sont disponibles directement dans notre catalogue VOD. Cliquez sur l'icône bleue dans les vignettes de vos programmes pour enregistrer vos coordonnées bancaires et les regarder en un click</div>
          </div>
      
          <div class="col-xs-8">
            <div class="content">
              <span class="col-xs-3 picture sprite-blockVOD4_12"></span>
              <div class="title">Sur tous vos écrans</div>
              <div class="">PC, Mac, tablettes, téléphone et même votre télévision.</div>
            </div>
            <div class="content">
              <span class="col-xs-3 picture sprite-blockVOD4_16"></span>
                <div class="title">Paiement sécurisé</div>
                <div class="">mySkreen ne garde pas vos informations bancaire et interroge votre banque à chaque location.</div>
              </img>
            </div>
            <div class="content">
              <span class="col-xs-3 picture sprite-blockVOD4_18"></span>
                <div class="title">Haute Définition</div>
                <div class="">Vos films en haute qualité en HD ou full HD</div>
              </img>
            </div>
          </div>
        </div>
      </div>
      <span class="lien lato">Les offres VOD <i class="glyphicon glyphicon-chevron-down"></i></span>
    </div>
  </div>
</div>