<div id="promopass">
  <div class="container clearfix">
    <span class="pull-right glyphicon glyphicon-remove-sign" title="Fermer le bandeau"></span>
    <a href="{{ path('modal_pass') }}" title="En savoir plus...">
      <h3>Pass Illimité myskreen</h3>
      <h4>la première semaine gratuite, sans engagement</h4>
      <img class="pull-right" src="{{ asset('bundles/skreenhousefactoryv3/images/devices_lot.png') }}" alt="Appareils informatiques et mobiles"/>
      <button class="btn btn-xs btn-default">En savoir plus</button>
    </a>
  </div>
</div>