<div class="container">
  <div class="row hometop">
    <div class="col-xs-4">
      <div class="prog-list">   
       <h2> 
         <a href="#">Ce soir à la télé</a>
       </h2>
       <a  href="#channel_prog-list" data-slide="prev">
        <button type="button" class="btn btn-default fleches">  
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
      </a>
      {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-tonight.html.twig' with { live:top_home.live } %}
      <a href="#channel_prog-list" data-slide="next">
       <button type="button" class="btn btn-default fleches">  
         <span class="glyphicon glyphicon-chevron-down"></span>
       </button>
     </a>
     <button type="button" class="btn btn-default btn-grille">Voir la grille télé complète</button>
   </div>
 </div>
 {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: slider,h_title:"h2", loop_index: loop.index } %}
 <div class="col-xs-4">
   {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-channels.html.twig' with { channels:top_home.pack_channel } %}
 </div>
 <ul class="wrap-carousel-control">
  <li><a data-slide="next" href="#carousel-channel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
  <li><!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#carousel-channel"></li>
      <li data-slide-to="1" data-target="#carousel-channel"></li>
      <li data-slide-to="2" data-target="#carousel-channel"></li>
      <li data-slide-to="3" data-target="#carousel-channel"></li>
    </ol>
  </li>
  <li><a data-slide="prev" href="#carousel-channel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
  </li>
</ul>


</div>
</div>
</div>