{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}
{% block nostats %}nostat{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}
{% block title %}header{% endblock %}
{% block description %}header{% endblock %}

{% block content %}
<div style="height: 300px;"></div>
{% endblock %}