<ul class="nav nav-tabs nav-stacked">
{% if app.request.get('cocon') == 'replay' %}
<li><a href="/video/replay/">Tv en Replay</a></li><li><a href="/video/film/">Films en Replay</a></li><li><a href="/video/emission/">Emissions en Replay</a></li><li><a href="/video/documentaire/">Documentaires en Replay</a></li>{# REPLAY
<li><a href="/video/dessins-animes/">Dessins animés en Replay</a></li><li><a href="/video/series/">Séries en Replay</a></li><li><a href="/video/spectacle/">Spectacles en Replay</a></li><li><a href="/video/sport/">Sports en Replay</a></li><li><a href="/video/telerealite/">Télé réalité en Replay</a></li>
#}
{% endif %}

{% if app.request.get('cocon') == 'm6' %}
<li><a href="/m6/tv-a-la-demande/">TV à la demande m6</a></li><li><a href="/m6/top-tendance/">Top tendance m6</a></li><li><a href="/m6/le-meilleur-patissier/">Le meilleur patissier m6</a></li><li><a href="/m6/scene-de-menage/">Scène de ménage m6</a></li><li><a href="/m6/capital/">Capital m6</a></li><li><a href="/m6/deco/">D&co m6</a></li><li><a href="/m6/ncis/">NCIS m6</a></li><li><a href="/m6/incroyable-talent/">Incroyable Talent m6</a></li><li><a href="/m6/19h45/">19h45 m6</a></li><li><a href="/m6/enquetes-exclusives/">Enquete exclusive m6</a></li><li><a href="/m6/maison-a-vendre/">Maison à vendre m6</a></li><li><a href="/m6/pekin-express/">Pékin express m6</a></li><li><a href="/m6/belle-toute-nue/">Belle toute nue m6</a></li>
{% endif %}
</ul>