{% if folder == 'cocon-replay' %}
<ul class="nav nav-tabs nav-stacked">
<li><a href="/video/replay/">Tv en Replay</a></li><li><a href="/video/film/">Films en Replay</a></li><li><a href="/video/emission/">Emissions en Replay</a></li><li><a href="/video/documentaire/">Documentaires en Replay</a></li>{#
<li><a href="/video/dessins-animes/">Dessins animés en Replay</a></li><li><a href="/video/series/">Séries en Replay</a></li><li><a href="/video/spectacle/">Spectacles en Replay</a></li><li><a href="/video/sport/">Sports en Replay</a></li><li><a href="/video/telerealite/">Télé réalité en Replay</a></li>
#}
</ul>
{% endif %}