{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}Partenaires{% endblock %}
{% block description %}Partenaires de mySkreen{% endblock %}


{% block content %}
<div class="container">
<div class="row">
	<h1>Partenaires <small>de mySkreen</small></h1>
	<ul>
		<li>Video Futur : <a href="http://www.videofutur.fr">Location DVD / BluRay</a></li>
		<li>FIA Net : <a href="http://www.fia-net-group.com/les-services-du-groupe-fia-net/solution-de-paiement/">Solution de paiement en ligne</a></li>
	</ul>
</div>
</div>
{% endblock %}