<div class="bande_listes">
  <div class="container">
    <div class="row">
      {% if img is defined %}
      <div class="col-xs-2">
        <img src="{{ img }}" height="120px"/>
      </div>
      <div class="col-xs-9">
      {% else %}
      <div class="col-xs-11">
      {% endif %}
        <span class="ms-format">Salle de cinéma</span>
        <h1>{{ channel.name }}</h1>
      </div>
      <div class="col-xs-5">
        {# AjoutListes #}
        <div class="row">
          {# Bouton Ajout/Abo #}
          <div class="col-xs-16 ajout">
            {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: channel.id, class: 'fav-cinema', text: 'Ajouter à mes listes', placement: 'left'} %}
          </div>
          {# Textes Ajouts #}
          <div class="col-xs-16">
            <a class="meslistes-plus"><i class="glyphicon glyphicon-collapse-down"></i><span>&nbsp;Plus d'infos...</span></a>
            {# <p>Soyez averti des prochaines diffusions (Tv, Replay, Ciné, VOD).</p>
            {# <p>Partagez vos playlists avec vos amis et suivez ce qu'ils regardent.</p> #}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bande_couleur_degrade">
  <div class="container">
    <div class="row">
      <p>Créez vos listes et suivez la programmation de vos cinémas préférés.</p>
      <p>Retrouvez ici, en un clin d'oeil, les films et les séances qu'ils diffusent.</p>
      <img class="cinema-sample" src="{{ asset('bundles/skreenhousefactoryv3/images/meslistes/cinema-sample.png') }}"/>
    </div>
  </div>
</div>