{% include 'SkreenHouseFactoryV3Bundle:Channel:_header.html.twig' with {data:data, fav: 'page'} %}
<div id="view-page" class="container">

  {% for slider in data.sliders if slider.id is defined %}
    <a name="{{ slider.name }}"></a>
    {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %}
  {% endfor %}
  {% if channel.personne is defined and channel.personne %}
  <br />
  <h3 style="text-align: justify; line-height: 1.3em">{{ channel.personne.description|raw }}</h3>
  {% elseif channel.fournisseur is defined and channel.fournisseur %}
    <br />
  {% endif %}
</div>
