{% if custom_header %}
{% render 'SkreenHouseFactoryV3Bundle:Channel:header'~ channel.id with {data:data,channel: channel, fav: 'page', trigger_fav: 
channel.personne is defined ? 'Suivre ' ~ data.name : ''} %}
{% else %}
{% include  'SkreenHouseFactoryV3Bundle:Channel:_header.html.twig' with {data:data, fav: 'page', trigger_fav: channel.personne is defined ? 'Suivre ' ~ data.name : ''} %}
{% endif %}
<div id="view-page" class="container channel{{ channel.id }}">
  {% for slider in data.sliders if slider.id is defined %}
    <a name="{{ slider.name }}"></a>
    {% include 'SkreenHouseFactoryV3Bundle:Main:_slider.html.twig' with {slider: slider} %}
  {% endfor %}
  <br />
  {% if channel.personne is defined and channel.personne %}
  <p class="description">{{ channel.personne.description|raw }}</p>
  {% elseif channel.text is defined and channel.text %}
  <p class="description">{{ channel.text|raw }}</p>
  {% endif %}
</div>
