<div id="cover" class="cover55 {% if from_selection is defined and from_selection == true %}selection{% endif %}">
    <div id="channel55" class="header-container">
      <a class="cover-wrap" href="/film/policier-thriller/5068063-malavita/">
      <div class="header-content">
        <div class="player-wrap">
          <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&noPub=1&play=31707046&height=213&width=367&channel_header=1&from_website=1" height="213" width="367"></iframe>
       </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="wrap-follow" data-playlist="{{ fav }}">
        {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: channel.id, class: 'fav-' ~ fav, name: channel.title, text: trigger_fav is defined and trigger_fav ? trigger_fav : 'Suivre ' ~ channel.title|trans } %}
        </div>
      </div>
    </div>
  </a>
</div>