<div id="cover" class="cover35 {% if from_selection is defined and from_selection == true %}selection{% endif %}">
  <a class="cover-wrap" href="/film/comedies/4896210-mariage-a-l-anglaise/">
    <div id="channel35" class="header-container">
      <div class="header-content">
        <div class="player-wrap">
          <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&noPub=1&program_id=4896210&height=270&width=480&channel_header=1" height="270" width="480"></iframe>
      </div>
       <div class="share-block">{% include 'SkreenHouseFactoryV3Bundle:Main:_share.html.twig' with {url: 'http://www.myskreen.com/' ~ channel.slug, text: 'La chaîne ' ~ channel.title ~ ' est sur @mySkreen   ' } %}</div>
   
      </div>
    </div>
  </a>
</div>
 
