{# {{ dump(data.sliders.1) }} #}
<div id="header70">
  <div class="container">
    <div class="row replaytop">
      <div class="col-xs-4">
        <div class="prog-list">
          {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: data.sliders.1.programs, name: 'Derniers en ligne', link: 'tvgrid', name_link: 'Les derniers replays', origin: '', list_number: '1' } %}
        </div>
      </div>
      {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: data.sliders.0 ,h_title: "h2", loop_index: 1 } %}
      <div class="col-xs-4">
        <div class="prog-list">
          {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-vertical.html.twig' with { live: data.sliders.1.programs, name: 'Bientôt en replay', link: 'tvgrid', name_link: 'Tous les prochains replays', origin: '', list_number: '2' } %}
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
<div>
  <div class="container">
  </div>
  {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { active: '', no_background: true } %}
</div>