<div id="cover" class="cover60 {% if from_selection is defined and from_selection == true %}selection{% endif %}">
  <div id="channel60" class="header-container">
    <div class="header-content">
      <div class="player-wrap">
        {# si la vidéo change ne pas oublier de rajouter &wmode=opaque dans l'url #}
      {#  <iframe  src="//www.youtube.com/embed/_JuOVrwCmr8/?autoplay=1&wmode=opaque" frameborder="0" allowfullscreen height="255" width="408" ></iframe> #}
        {# <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&play=32994900&height=255&width=408&channel_header=1&fromWebsite=1" height="255" width="408"></iframe> #}
        <iframe src="http://api.myskreen.com/skPlayerPlugin/iframe.php?is_iframe=1&amp;play=34567934&amp;fromWebsite=1&amp;default_version=VOST&height=255&width=408&channel_header=1" height="255" width="408"></iframe>
      </div>
      <a class="btn btn-defaut btn-upload popin_vrais_inconnus"><i class="glyphicon glyphicon-play"></i>ENVOYEZ-NOUS VOTRE VID&Eacute;O</a>
      <div id="logo">
        <a class="logopart" href="http://www.lefigaro.fr" target="_blank">
          <img src="http://mskstatic.com/medias/ftp/chaines/lesvraisinconnus/logo/Figaro.png" alt="le figaro">
        </a>
        <a class="logopart" href="http://www.france2.fr" target="_blank">
          <img src="http://mskstatic.com/medias/ftp/chaines/lesvraisinconnus/logo/France2.png" alt="le figaro">
        </a>
        <a class="logopart" href="http://www.rtl.fr" target="_blank">
          <img src="http://mskstatic.com/medias/ftp/chaines/lesvraisinconnus/logo/RTL.png" alt="le figaro">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="wrap-follow hide" data-playlist="{{ fav }}">
      {% include 'SkreenHouseFactoryV3Bundle:Main:_btn-suivre.html.twig' with {id: channel.id, class: 'fav-' ~ fav, name: channel.title, text: trigger_fav is defined and trigger_fav ? trigger_fav : 'Suivre ' ~ channel.title|trans } %}
    </div>
  </div>
</div>
</div>