<div class="mediacenter-inconnus">
  <div class="container">
    <div class="row">
      <h1 class="lato"> <img src="http://mskstatic.com/medias/ftp/chaines/mediacenter-inconnus/player.png" alt="integrale">L’intégrale des Inconnus</h1>
      <div class="col-xs-11 player-block">
        <iframe frameborder="0" scrolling="no" width="100%" height="370" src="http://embed.myskreen.com/video/27054014/?width=638&height=370&fromWebsite="></iframe>
      </div>
      <div class="col-xs-5 myskreen-block">
        <div>
          <span>
            <img src="{{ asset('bundles/skreenhousefactoryv3/images/logo-footer.png') }}" alt="myskreen">
          </span>
          <img src="http://mskstatic.com/275/160/c/medias/photos/channel/1-les-inconnus-s.jpg?2013112216" alt="">
          <p>Suivez <strong>les Inconnus</strong> sur myskreen et tenez vous ainsi informé de leurs nouvelles vidéos et de leurs actualités cinéma.</p>
          <a href="#" class="btn-suivre-b">
            <button type="button" class="btn btn-default">+ Suivre</button>
          </a>
        </div>
      </div>

    </div>
    <div class="row">
     <div class="col-xs-16 ">
      <h2 class="lato"><strong>RAP_TOUT(Vampire)</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-16 ">
     <div class="vidplaylist"> 
       <ul>
         <span class="left_b">
           <i class="glyphicon glyphicon-play"></i>
         </span>
         <li class="playing">
           <div class="img-small" style="background:url('http://s4.mskstatic.com/165/165/medias/photos/programmes/moins_de4950000/4939467/les-chansons-les-inconnus-clayderman-au-coin-du-feu.jpg') top center no-repeat"></div>
           <span><mark>1</mark>Biouman</span>
         </li>
         <li>
           <div class="img-small" style="background:url('http://s4.mskstatic.com/165/165/medias/photos/programmes/moins_de4950000/4939467/les-chansons-les-inconnus-clayderman-au-coin-du-feu.jpg') top center no-repeat"></div>
           <span><mark>1</mark>Biouman</span>
         </li>
         <li>
           <div class="img-small" style="background:url('http://s4.mskstatic.com/165/165/medias/photos/programmes/moins_de4950000/4939467/les-chansons-les-inconnus-clayderman-au-coin-du-feu.jpg') top center no-repeat"></div>
           <span><mark>1</mark>Biouman</span>
         </li>   
         <li>
           <div class="img-small" style="background:url('http://s4.mskstatic.com/165/165/medias/photos/programmes/moins_de4950000/4939467/les-chansons-les-inconnus-clayderman-au-coin-du-feu.jpg') top center no-repeat"></div>
           <span><mark>1</mark>Biouman</span>
         </li>   
         <li>
           <div class="img-small" style="background:url('http://s4.mskstatic.com/165/165/medias/photos/programmes/moins_de4950000/4939467/les-chansons-les-inconnus-clayderman-au-coin-du-feu.jpg') top center no-repeat"></div>
           <span><mark>1</mark>Biouman</span>
         </li>
         <span class="right_b">
           <i class="glyphicon glyphicon-play"></i>
         </span>
       </ul>
     </div>
   </div>
 </div>

 <div class="packgroup">  
   <div class="row">
     <div class="col-xs-16 ">
       <h2 class="lato ">Les meilleurs sketchs</h2>
       <span class="rightlnk">Voir tous les sketchs</span>
     </div>
   </div>
   <div class="row">
     <div class="col-xs-16">
       <div class="block-big">
         <div class="img-big" style="background:url('http://s1.mskstatic.com/394/394/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Jesus II le retour</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget euismod urna. Fusce ut est ut neque cursus pellentesque eget in magna. Integer a imperdiet aliquam. Etiam venenatis adipiscing nunc, sed cursus dolor
         </p>
       </div>
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/195/195/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>   
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/194/194/medias/photos/programmes/moins_de5310000/5300095/les-series-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>     
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/195/195/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>   
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/194/194/medias/photos/programmes/moins_de5310000/5300093/les-emissions-tv-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>     
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/195/195/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>     
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/195/195/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>   
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/195/195/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>  
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/195/195/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>    
       <div class="block-small">
         <div class="img-small" style="background:url('http://s1.mskstatic.com/195/195/medias/photos/programmes/moins_de4950000/4938680/les-sketchs-les-inconnus.jpg') top center no-repeat;">

         </div>
         <h3>Biouman</h3>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-xs-16">
       <button type="button" class="btn btn-default btn-plusdesketch"> + de sketches</button>
     </div>
   </div>
 </div>
</div>
<div class="container pretitle">
  <div class="row">
    <div class="col-xs-16">
      <span class="lato"><img src="http://mskstatic.com/medias/ftp/chaines/mediacenter-inconnus/horloge.png" alt="integrale">15 ans apres le PREMIER,  ILS REVIENNENT.</span>
    </div>
  </div>
</div>
<div id="leretour">
 <div class="container ">
  <div class="row ">
    <div class="col-xs-9">
      <iframe frameborder="0" scrolling="no" width="514" height="296" src="http://embed.myskreen.com/video/30823443/?width=514&height=296&fromWebsite="></iframe>
    </div>
    <div class="col-xs-7">
      <h4>les 3 frères le retour</h4>
      <h5>découvrez les premières images de leur retour au cinéma</h5>
      <div class="edito">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget euismod urna. Fusce ut est ut neque cursus pellentesque eget in magna. Integer a imperdiet elit, vel sodales risus. </p>
        <button type="button" class="btn btn-default">Voir sur myskreen</button>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-16">
      <div class="tiers">
        <h3>titre 1</h3>
        <iframe frameborder="0" scrolling="no" width="298" height="172" src="http://embed.myskreen.com/video/30823443/?width=298&height=172&fromWebsite="></iframe>
      </div>
      <div class="tiers">
        <h3>titre 2</h3>
        <iframe frameborder="0" scrolling="no" width="298" height="172" src="http://embed.myskreen.com/video/30823443/?width=298&height=172&fromWebsite="></iframe>
      </div>    
      <div class="tiers">
        <h3>titre 3</h3>
        <iframe frameborder="0" scrolling="no" width="298" height="172" src="http://embed.myskreen.com/video/30823443/?width=298&height=172&fromWebsite="></iframe>
      </div>
    </div>
  </div>
</div>
</div>
</div>

