<style>
#channel-modal #fbconnect {
  margin: 0;
  text-align: left;
}
#channel-modal #fbconnect img {
  margin: 0 0 0 -10px;
}
#channel-modal #channel-logo {
  margin: 0 20px 0 0;
}
</style>
<div class="modal hide" id="channel-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Abonnez-vous gratuitement à la chaîne &laquo; {{ data.name }} &raquo;</h3>
  </div>
  <div class="modal-body">
    <img id="channel-logo" src="http://mskstatic.com/80/medias/ico/chaines/les-inconnus_medium.png" class="pull-left" />
    <p>Pour recevoir les prochaines vidéos en avant-première, connectez-vous avec Facebook !</p>
    <div id="fbconnect">
    <img src="https://api.myskreen.com/skPaymentPlugin/images/connexion_facebook.jpeg" alt="Se connecter avec Facebook" data-parcours="">
    <div id="fbconnect-infos"></div>
    </div>
  </div>
  <div class="modal-footer"><a data-dismiss="modal" class="btn">Non, merci pas maintenant</a></div>
</div>