<div id="view-page" class="container channel{{ channel.id }}">
  <div class="row">
    {% for slider in data.sliders|to_array if slider.id is defined %}
      {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-new.html.twig' with {slider: slider, loop_index:loop.index, h_title: "h2",channel: channel} %}
      {% if loop.index == 1 and ((channel.facebook_uid != null and channel.facebook_uid != '') or (channel.twitter_id != null and channel.twitter_id != '')) %}
        {% include 'SkreenHouseFactoryV3Bundle:Slider:_social-slider.html.twig' with {slider: slider, loop_index:loop.index, h_title: "h2",channel: channel} %}
      {% endif %}
    {% endfor %}
  </div>
</div>