<ul class="pager pull-right" style="margin:0">
{% if data.count > 30 and app.request.get('format') is null  %}
  {% if app.request.get('page') > 2 %}
  <li class="previous">
    <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) - 1}) }}">&larr; 30 préc.</a>
  </li>
  {% elseif app.request.get('page') == 2 %}
  <li class="previous">
    <a href="{{ path('channel', {format: app.request.get('format'), slug: app.request.get('slug')}) }}">&larr; 30 préc.</a>
  </li>
  {% endif %}
  {% if data.programs|to_array|length == 30 %}
  <li class="next">
    <a href="{{ path('channel_page', {slug: app.request.get('slug'), page: app.request.get('page', 1) + 1}) }}">30 suiv. &rarr;</a>
  </li>
  {% endif %}
{% endif %}
</ul>