/* ASSET MSKSTATIC */
@iconSpritePath:          "http://mskstatic.com/medias/v3/bundles/skreenhousefactoryv3/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "http://mskstatic.com/medias/v3/bundles/skreenhousefactoryv3/bootstrap/img/glyphicons-halflings-white.png";
@bgBody:   #ffffff;
@bgBodyFade:   #ffffff;
@bgPlaylist: #ffffff;
@bluemaincolor: #166dc9;
@bluesecondarycolor: #778390;
/* LOCAL
@bgBody:   #ffffff;
@bgBodyFade:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist-fade.png");
@bgPlaylist: url("/bundles/skreenhousefactoryv3/images/bg-playlist.png") bottom repeat-x;
*/

/* pages */
@import "mixins.less";
@import "global.less";
@import "bootstrap-overload.less";
@import "reset.less";
@import "header.less";
@import "bouton.less";
@import "home.less";
@import "program.less";
@import "search.less";
@import "person.less";
@import "channel.less";
@import "selection.less";
@import "category.less";
@import "user.less";
@import "player.less";
@import "tvgrid.less";
@import "helpers.less";
@import "touch.less";
@import "ios.less";
@import "error.less";
@import "loader.less";
@import "skin.less";
@import "slider.less";
@import "scrollbars-webkit.less";