/* ===== vendors ============================================================
   ========================================================================== */

@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";
@import "modal.less";
@import "scrollbars-webkit.less";

/* ===== v3 =================================================================
   ========================================================================== */


/* vars */

@iconSpritePath:          "/bundles/skreenhousefactoryv3/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/bundles/skreenhousefactoryv3/bootstrap/img/glyphicons-halflings-white.png";
@bgBody:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist.jpeg");
@bgBodyFade:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist-fade.png");
@bgPlaylist: url("/bundles/skreenhousefactoryv3/images/bg-playlist.png") bottom repeat-x;

/* pages */

@import "header.less";
@import "home.less";
@import "program.less";
@import "person.less";
@import "channel.less";
@import "category.less";
@import "user.less";
@import "player.less";
@import "tvgrid.less";
@import "helpers.less";
@import "error.less";

/* main */
.touch body {
  width: 1025px;
}
.bgbody {
  background: @bgBody;
}
.bgbodyfade {
  background: @bgBodyFade;
}
body, .touch body {
  background: @bgBody;
  #main {
    padding: 80px 0 0;
  }
  #header {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  #footer {
    background: white;
    margin-top: 20px;
    padding-top: 20px;
		a {
			display: block !important;
		}
		
    ul.nav-share {
      li {
        margin-left: 70px;
      }
    }
  }
}

a.trigger-tv {
  display: none;
}

/* popover */
.popover {
  width: 330px;
}
.popover-title {
  font-weight: bold;
}

.dropdown-menu {
  z-index: 3;
	
	a.hide {
		display: none;
	}
}

li.divider {
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}

#content {
  .container:first-child {
    margin-top: 10px;
  }
}
.container {
  width: 990px; /*1010px;*/
  position: relative;

  .pagination {
    text-align: left;
    a {
			padding: 0px 9px;
      background-color: white;
    }
    li.active a {
      color: white;
      background: #08C;
    }
  }
}

h1 {
  small {
    display: block;
  }
}
h3 {
  font-size: 1.3em;
  font-weight: normal;
  padding-left: 10px;
  margin: 0;
  
  &.pager-count {
    position: absolute;
    left: 40%;
  }
}
h6 {
  color: #333;
}

ul.pager {
  height: 30px;
}

ul.breadcrumb {

  li.active {
    a {
      color: #999;
      cursor: normal;
    }
  }
}

.inverse {
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: white;
  clear: both;
  margin: 30px 0;
  padding: 10px 0;
}

.table {
  tr {
    td {
      vertical-align: middle;
    }
  }
}

/* couchmode */
#couchmode {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;

  #couchmode-inner {
    width: 60%;
    height: 60%;
    margin: 10% 20% 15%;
  }

  #couchmode-close {
    display: block !important;
    color: white;
    text-align: right;
    cursor: pointer;
  }
}


/* friends */
div.friends {
  clear: both;

  img {
    margin: 3px;
    box-shadow: 1px 1px 4px white;
  }
}

/* social */
.share-block {
  min-width: 200px;
}
.block-twitter {
  display: block;
  width: 100px;
  height:25px;
}
.fb-like {
  margin-right: 20px;
}

/* theaters-playlist */
#theaters-playlist {
  position: relative;

  .theaters-on {
    #theaters-names {
      margin-bottom: 10px;
      .label {
        margin-right: 5px;
      }
    }
  }
	.theaters-off {
		height: 250px;
		background: url(/bundles/skreenhousefactoryv3/images/vos-cinemas-sample.png) no-repeat;

		.well {
			position: absolute;
			top: 100px;
			left: 250px;
			text-align: center;
		}
	}
}

/* gabarit */
.view-main {
  display: inline-block;
  width: 73%;
}
.view-column {
  margin: 10px 20px 0 0;
  width:245px;

  .bs-docs-sidenav {
    width: 100%;
    margin: 20px 0 0;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
  
    > li > a {
      width: 230px 9;
      display: block;
      margin: 0 0 -1px;
      padding: 8px 14px;
      border: 1px solid #E5E5E5;
        
      &:hover {
        background-color: whiteSmoke;
      }
    }
    .icon-chevron-right {
      float: right;
      margin-top: 2px;
      margin-right: -6px;
      opacity: .25;
    }
  }
}
.view-main {
  .lead{
    font-size: 16px;
  }
}

/* redirect */
tr[data-id] {
  cursor: pointer;
}
tr[data-id]:hover {
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
}

/* exit */
.exit .well {
  padding: 2% 2% 7% 5%;
  margin: 20% 15%;
  background: url(/bundles/skreenhousefactoryv3/images/exit-bg-repeat.png);
  color: #DDD;
  border-radius: 10px;
  box-shadow: 0 0 7px #789CF7;
  border: 5px solid;
  
  h6 {
    color: #DDD;
  }
  
  #ad {
    float:right;
  }
}

/* sprite */
[class^="sprite-"], [class*=" sprite-"] {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url("/bundles/skreenhousefactoryv3/images/sprite.png");
}
.sprite-user {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-position: 0 0;
  margin-top: -2px;
}

ul.typeahead {
  width: 457px;

  li {
    img {
      height: 30px;
      width: 30px;
    }

    &.nav-header {
      display: block;
      padding: 3px 15px;
      font-size: 11px;
      font-weight: bold;
      line-height: 18px;
      color: #999;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
    }
  }
}

.facets .label {
  display: inline-block;
  margin-right: 5px;
}

#redirect {
  display: none;
  width: 100%;
  height: 500px;
  background: transparent;
  position: relative;
  
  .progress {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 30%;
  }

  iframe {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    border: 0;
    overflow: hidden;
  }
}

#trigger-theaters-geoloc {
  margin-left: 10px;
}