/* ASSET MSKSTATIC */
@bgBody: #ffffff;
@bgBodyFade: #ffffff;
@bgPlaylist: #ffffff;
@bluemaincolor: #166dc9;
@bluesecondarycolor: #778390;
@rowHoverBg: #fefbed;
@rowHoverColor: #c09853;
@sk-blue: #428bca;

/* pages */
@import "mixins.less";
@import "global.less";
@import "reset.less";
@import "header.less";
@import "bouton.less";
@import "home.less";
@import "cinema.less";
@import "program.less";
@import "search.less";
@import "person.less";
@import "channel.less";
@import "channel-custom.less";
@import "fournisseur.less";
@import "selection.less";
@import "saga.less";
@import "user.less";
@import "player.less";
@import "tvgrid.less";
@import "helpers.less";
@import "touch.less";
@import "ios.less";
@import "error.less";
@import "loader.less";
@import "skin.less";
@import "slider.less";
@import "scrollbars-webkit.less";
@import "ie8.less";
@import "modal.less";
//@import "help-btn.less";
@import "seo_description.less";
@import "seo.less";
@import "slide-in.less";
@import "meslistes.less";
//@import url("http://fonts.googleapis.com/css?family=Raleway:100,300");
@import "rwd/_base-rwd.less";




.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	border: 0;
}