#view-appsinstall{
  .title-1{
    
  }
  .mk_logo{
    display: inline-block;
    height:50px;
    width: 100px;
    background: url(/bundles/skreenhousefactoryv3/images/apps_logo.png) no-repeat top left;
  }
  .img_mobile{
    background: url(/bundles/skreenhousefactoryv3/images/mobiles_apps.png) no-repeat top left;
  }
}