/* Boutons************************************************************************************************************************************************/


.btn-suivre {
    background: #f39c12;
    border: #f39c12;
    color: #FFFFFF;
    min-width: 140px;
    .link-background-transition;
}

.btn-suivre:hover {
    background: #ffcc7c;
    border: #ffcc7c;
    color: #FFFFFF;
}

.btn-voir {
    background: @bluesecondarycolor;
    border: @bluesecondarycolor;
    color: #FFFFFF;
    min-width: 140px;
    .link-background-transition;
}  

.btn-voir:hover {
    background: @bluemaincolor;
    border: @bluemaincolor;
    color: #FFFFFF;
}

[data-play] .btn-voir {
    background: @bluemaincolor;
    border: @bluemaincolor;
    color: #FFFFFF;
    min-width: 140px;
}

[data-play] .btn-voir:hover {
    background: #167be5;
    border: #167be5;
    color: #FFFFFF;
}
