/* Boutons************************************************************************************************************************************************/


.btn-suivre {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #FFFFFF;
    min-width: 140px;
}

.btn-suivre:hover {
    background-color: #ffcc7c;
    border-color: #ffcc7c;
    color: #FFFFFF;
}
