/*** Boutons ***/

.btn {
  &.pull-right {
    margin-left: 5px;
  }
  &.btn-big {
    font-size: 1.4em;
    i.glyphicon {
      font-size: 0.8em;
    }
  }
}

.btn-plus{
  padding-left: 30px;
  &:before{
    content: "+";
    font-size: 26px;
    font-weight: bolder;
    left: 10px;
    line-height: 26px;
    margin-right: 39px;
    position: absolute;
    top: 6px;
  }
}

.btn-suivre:not(.btn-primary):not(.btn-success):not(.btn-danger) {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #FFFFFF;
  .link-background-transition;
  &:hover {
    background: #ffcc7c;
    border: #ffcc7c 1px solid;
    color: #FFFFFF;
  }
}

.btn-voir {
  color: #FFFFFF;
  min-width: 140px;
  .link-background-transition;
  
  &:hover {
    color: #FFFFFF;
  }

  &.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  &:not(.btn-success) {
    background: @bluesecondarycolor;
    border: @bluesecondarycolor;
    &:hover {
      background: @bluemaincolor;
      border: @bluemaincolor;
    }
  }
}

[data-play] {
  .btn-voir, &.btn-voir {
    background: @bluemaincolor;
    border: @bluemaincolor;
    color: #FFFFFF;
    min-width: 140px;
  }
  .btn-voir:hover, &.btn-voir:hover {
    background: #167be5;
    border: #167be5;
    color: #FFFFFF;
  }
}