/* category page */
#view-category {
  padding-bottom: 250px;
  position: relative;
  .share-block {
    margin-top: 28px;
    .twitter-share {
      width: 105px!important;
    }
    .g-plus-share {
      width: 65px!important;
    }
  }
  &.view-category-cinema {
    padding-top: 50px;
  }
  .category-description {
    position: absolute;
    bottom: 0px;
  }
  .pager{
    font-size: 12px;
  }
  .pager-count{
    left: 38%;
    margin-top: 13px;
  }
} 
#view-format #content {
  padding-top: 80px;
}
