/* category page */
body.view-category, body.view-category_page, body.view-format, body.view-format_page {
  .bande_fonce {
    padding: 0;
    ul.breadcrumb {
      margin: 5px 0;
    }
    .share-block {
      margin-top: 20px;
    }
  }
  
  #main {
    padding-top: 66px!important;
  }
}

#view-category {
  padding-bottom: 250px;
  position: relative;
  .share-block {
    margin-top: 28px;
    .twitter-share {
      width: 105px!important;
    }
    .g-plus-share {
      width: 65px!important;
    }
  }
  &.view-category-cinema {
    padding-top: 50px;
  }
  .category-description {
    position: absolute;
    bottom: 0px;
  }
  .pager{
    font-size: 12px;
  }
  .pager-count{
    left: 38%;
    margin-top: 25px;
  }
  .facets .label {
    font-size: 0.9em;
  }
} 
#view-format #content {
  padding-top: 80px;
}
.touch #main #content #view-category .share-block .g-plus-share {
  width: 80px!important;
  margin-top: -8px!important;
}