/* category page */
#view-category {
  padding-bottom: 250px;
  position: relative;
	
	&.view-category-cinema {
		padding-top: 50px;
	}
  
  .category-description {
    position: absolute;
    bottom: 0px;
  }
}

#view-format #content {
  padding-top: 80px;
}