/* hack channel mySkreen : hide Logo */
/*
.logo-channel-4634 img {
  display: none;
}
td.logo-channel-4634 {
  width: 10px;
}
*/

/* channel PBLV */
body.view-channel .channel28 {
  
  .slider ul.items li .channel {
    .diff {
      display: none;
    }
    &.logo-channel-52 {
      display: none;
    }
  }
}


/* channel page */
body.view-channel:not(.view-ajax) {
  #main {
     padding: 0;
  }
}

body.view-channel, body.view-channel-selections {
  #main {
    #view-page.channel28 {
      margin-top: 70px;
    }
    #view-page .container {
      background: white;
    }
    
    #cover {
      height: 450px;
      margin: 0 auto;
      padding: 0;
      &.cover-fournisseur {
        .header-container {
          .container {
            height: 450px; 
            border-bottom: 1px solid #EEE;
            padding-top: 80px;
            .well {
              top: 120px;
              width: 600px;
              position: absolute;
              border: none;
              box-shadow: none;
              right: 0px;
              margin: 0 20px;
              height: 290px;
              padding: 10px;
              .well-inner {
                position: absolute;
                left: 170px;
                width: 420px;
                height: 270px;
                background: rgba(0,0,0,0.9);
                text-align:center;
                .alert {
                  margin: 10px;
                }
              }
              .slider {
                width: 160px;
                ul.items {
                  li {
                    width: 150px;
                  }
                }
                .fav {
                  position: absolute;
                  top: 210px;
                  width: 151px;
                  height: 60px;
                }
              }
            }
            ul#remote-tnt {
              height: 290px;
              width: 150px;
              margin: 0 0 0 15px;
              position: absolute;
              top: 124px;
              li {
                float:left;
                list-style:none;
                margin: 5px;
              }
            }
          }
        }
      }
      
    }
    .share-block {
      position: absolute;
      top: -25px;
      left: 10px;
      min-width: 400px;
      .fb-like {
        float: left;
      }
    }
    .description {
      font-size: 1.1em;
    }  
  }
}

/* header */
.header-container {
  position: relative;
  top: 0;
  left: 0;
  height: 450px;
  &#pblv{
    .info_saison{
      position: relative;
      top: 84px;
      left: 170px;
    }
    .header-content{
      background-color: transparent;
      padding:0;
      top: 55px;
      >h1{
        top: 30px;
        position: absolute;
        >a{
          color: black;
        }
      }
      .well{
        -webkit-box-shadow: none;
        position: relative;
        left: 300px;
        width: 750px;
        height: 340px;
        top: 40px;
        border: 0;
        margin-top: 18px;
        background-color: transparent;
        .slider{
          width: 520px;
          margin: 0 auto;
          text-align: center;
          height: 160px;
          .text1{
            font-size: 1.3em;
          }
          .text2{
            font-size: 1.2em;
          }
          .bande{
            margin-left: 110px;
            position: absolute;
            top: 265px;
            text-align: center;
            height: 20px;
            width: 300px;
            background-color: black;
            color: white;
          }
        }
        .intro{
          text-align: center;
        }
      }
      .btn{
        position: absolute;
        bottom: -41px;
        left: 7px;
      }
      .channel-icon{
      
        top: 260px;
        width: 230px;
        height: 230px;
        z-index: 100;
        position: relative;
        background-image:url('http://mskstatic.com/230/medias/photos/PBLV/saison9.jpg');
      }
    }
  }
  .header-content { /* Cartouche logo, titre, description et Suivre pour une chaine */
    position: absolute;
    min-height: 70px;
    padding: 10px;
    width: 990px;
    left: 50%;
    margin-left: -495px;
    bottom: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    /*background-color: transparent;*/
    
    img {
      margin: 0 10px 0 0;
    }

    a.fav {
      float: right;
      padding: 10px;
      margin: 0;
    }
    h1 {
      font-size: 2.7em;
      padding-top: 0;
      margin: 0;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      a {
       color: white;
       text-decoration: none;
      }
    }
    .lead {
      font-size: 1.3em;
      margin: 0;
      line-height: 1.3;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      padding: 5px 5px 5px 0;
    }
  }
}

/* modal */
#channel-modal {
  #triggerfav, &.connected #fbconnect {
    display: none;
  }
  &.connected #triggerfav, #fbconnect {
    display: block;
  }
  #fbconnect {
    margin: 0;
    text-align: left;
    cursor: pointer;
    img {
      margin: 0 0 0 -10px;
    }
  }
  #channel-logo {
    margin: 0 20px 0 0;
  }
}


/* page */
#view-fournisseur {
  padding-bottom: 900px;
  position: relative;

  .share-block {
    margin-right: -40px;
  }
  
  .breadcrumb {
    margin-bottom: 0;
  }
  
  h1 {
    font-size: 2em;
    max-width: 650px;
  }
  
  .well {
    min-height: 350px;
    background: #FCFCFC;
    .actions {
      img {
        float:left;
        margin: 0 20px 10px 0;
      }
      .alert {
        max-width: 410px;
        margin-left: 170px;
      }
    }
    .twitter-timeline {
      float: right;
      width: 350px;
      max-height: 300px;
      margin: 10px 0 0 30px;
    }
    .player-live {
      float: right;
      width: 450px;
      height: 300px;
      margin: 10px 0 0 30px;
    }
  }

  .channel-description {
    position: absolute;
    bottom: 0px;
  }

  img.channel-logo {
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
  }

  .carousel {
    background: black;
    .item {
      height: 300px;
      text-align: center;
      .mask {
        height: 300px;
        display: block;
      }

      .carousel-caption {
        text-align: left;
        background: rgba(0, 0, 0, 0.55);
        h4 a {
          color: white;
        }
      }
    }
  }

  #lives {
    position: relative;

    .relatedlive {
      position: absolute;
      top: 20px;
      width: 220px;
      height: 250px;
      overflow: hidden;

      &#prevlive {
        left: 10px;
       }
      &#nextlive {
        right: 10px;
       }
    }

    #live {
      text-align: center;
      box-shadow: 1px 2px 5px #555;
      z-index: 5;
      margin: 0 260px;
      height: 320px;
      color: whiteSmoke;
      position: relative;
      background-color: #222;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;

      h2 {
        opacity: 0.9;
        text-align: left;
        margin: 0;
        position: absolute;
        bottom: 0;
        background: #222;
        font-weight: normal;
        padding: 7px;
        width: 100%;
      }
      a {
        margin-top: 20%;
      }
    }
  }
  #map-container {
    float: right;
    width: 340px;
    height: 420px;

    #map-canvas {
      margin: 0;
      padding: 0;
      height: 330px;
    }
  }
}
