/* hack channel mySkreen : hide Logo */
.logo-channel-4634 img {
  display: none;
}
td.logo-channel-4634 {
  width: 10px;
}

/* channel page */
body.view-channel:not(.view-ajax) {
  #main {
     padding: 0;
  }
}

body.view-channel, body.view-selections {
  #main {
    #cover {
      height: 450px;
      margin: -80px auto 0 auto;
      padding: 0;
    }
    .share-block {
      position: absolute;
      top: -25px;
      left: 10px;
      min-width: 400px;
      .fb-like {
        float: left;
      }
    }
    .description {
      font-size: 1.1em;
    }

    .pam {
      padding: 3px 10px;
    }

    ._5vc {
      top: 14px;
    }    
  }
}

.header-container {
  position: relative;
  top: 0;
  left: 0;
  height: 450px;

  .header-content { /* Cartouche logo, titre, description et Suivre pour une chaine */
    position: absolute;
    min-height: 70px;
    padding: 10px;
    width: 990px;
    left: 50%;
    margin-left: -495px;
    bottom: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    /*background-color: transparent;*/

    img {
      padding: 5px;
      margin-right: 10px;
    }

    a.fav {
     float: right;
      padding: 10px;
      margin: 0;
    }
    h1 {
      font-size: 2.7em;
      padding-top: 0;
      padding-bottom: 15px;
      margin: 0;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      a {
       color: white;
       text-decoration: none;
      }
    }
    .lead {
      font-size: 1.3em;
      margin: 0;
      line-height: 1.3;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      padding: 5px 5px 5px 0;
    }
  }
}

#view-fournisseur {
  padding-bottom: 150px;
  position: relative;

  .share-block {
    margin-right: -40px;
  }

  .channel-description {
    position: absolute;
    bottom: 0px;
  }

  img.channel-logo {
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
  }

  .carousel {
  background: black;
    .item {
      height: 300px;
      text-align: center;
      .mask {
        height: 300px;
        display: block;
      }

      .carousel-caption {
        text-align: left;
        background: rgba(0, 0, 0, 0.55);
        h4 a {
          color: white;
        }
      }
    }
  }

  #lives {
    position: relative;

    .relatedlive {
      position: absolute;
      top: 20px;
      width: 220px;
      height: 250px;
      overflow: hidden;

      &#prevlive {
        left: 10px;
       }
      &#nextlive {
        right: 10px;
       }
    }

    #live {
      text-align: center;
      box-shadow: 1px 2px 5px #555;
      z-index: 5;
      margin: 0 260px;
      height: 320px;
      color: whiteSmoke;
      position: relative;
      background-color: #222;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;

      h2 {
        opacity: 0.9;
        text-align: left;
        margin: 0;
        position: absolute;
        bottom: 0;
        background: #222;
        font-weight: normal;
        padding: 7px;
        width: 100%;
      }
      a {
        margin-top: 20%;
      }
    }
  }
}
