// Chaîne Sport
body.view-channel-13 {
  .header-container {
    .header-content {
      height: 103px;
      bottom: 0px;
    }
  }
}
// Chaîne Politique - Shareblock
body.view-channel-12 #main {
  .header-container {
    .header-content {
      .share-block {
        top: 56px;
        right: 0px;
      }
    }
  }
}
// Chaîne Demy et Césars 2014
body.view-channel-3, body.view-channel-67 {
  .header-container {
    .header-content {
      height: 104px;
      bottom: 3px;
    }
  }
}

