@playlistback:#4b5962;
@white:#fff;
@retourcolor:#c2bdab;

.mediacenter-inconnus{
  padding-top: 60px;
  background: url("http://mskstatic.com/medias/ftp/chaines/mediacenter-inconnus/mc-bg.jpg") top center no-repeat ; 
  background-color: #dddddd;
  .voir-sketch{
    padding-right: 13px;
  }
  h1{
    color: #6D6D6D;
    font-size: 52px;
    line-height: 52px;
    margin-top: 25px;
    text-align: center;
    img{
      margin-bottom: 11px;
      margin-right: 20px;
    }
  }
  h2.subtitleex{
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 22px;
    text-align: center;
  }
  .container{
    h2{
      margin-bottom: 10px;
      margin-top: 0px;
    }
  }
  .btn-wrap{
    height: 100px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .share-block{
    float: left;
    left: 10px!important;
    min-width: 400px;
    position: relative!important;
    top: 4px!important;
    z-index: 1;
  }
  

        //création des fleches de la playlist à l'aide des glyph bootstrap

        .left_b, .right_b{
          background: lighten(@playlistback, 20%); 
          position: relative;
          color: @playlistback;
          display: block;
          height: 50px;
          line-height: 50px;
          width: 50px;
          text-align: left;
          padding-left: 6px;
          margin-top: 32px;
          z-index: 3;


          .rounded(50px);
          &:hover{
            background: lighten(@playlistback, 30%);
            cursor: pointer; 
          }
        }

        .left_b{
          .rotation(180deg); 
          margin-left: -30px;
          float: left;
        }
        .right_b{
          margin-right: -30px;
          float: right;
        }  

        .img-small{
          width: 165px;
          height: 105px;
        }

        .img-big{
          width: 368px;
          height: 255px;
        }
        .player-block{
          height: 370px;
        }
        .suivre-media{
          text-align:center;
        }
        .myskreen-block{
          >div{
            background: #fff;
            height: 370px;
            img{
              max-width: 100%;
            }
            span{
              background: #2980b9;
              display: block;
              height: 30px;
              padding-top: 3px;
              padding-bottom: 3px;
              text-align: center;
              img{
                max-width: 100%;
                height: 25px;
              }
            }
            p{
              color: #828282;
              line-height: 20px;
              padding: 15px;
            }

//parti concernant le bouton suivre permetant de le hacker pour remplacer son style sans changer le bouton suivre actuel

            .btn-plus:before{
              left: 0!important;
              margin-right: 3px!important;
            }
            a.btn-suivre-b{
              display: inline-block!important;
              margin-left: auto!important;
              margin-right: auto!important;
              background: #f39c12;
              .box-shadow( 0px 4px 0px 0px #ac7825);
              font-size: 18px;
              color: #FFF;
              margin: auto;
              padding-left: 15px;
              padding-right: 15px;
              border: 0;
              &:hover{
                padding-left: 15px!important;
                padding-right: 15px!important;
                display: inline-block!important;
                background: #ac7825!important;
                margin-top: 4px!important;
                border: 0!important;
                .box-shadow( 0px -4px 0px 0px  darken(#ac7825, 5%));
              }
              
            }
          }
        }
        .vidplaylist{
          background: @playlistback;
          padding-top: 10px;
          margin-top: 20px;
          .carousel-inner{
            list-style: none;
            padding: 0;
            text-align: center;
            overflow: hidden;

            .item{
              margin-left: 2%;
              margin-right: 2%;
              width: 96%;
              z-index: 5;
            }
            .vignette{
              .transition-duration(0.3s);
              display: inline-block;
              margin-left: 6px;
              margin-right: 6px;
              &:not(.playing):hover{
                opacity: 0.8;
                cursor: pointer;
                div{   
                  border: lighten(@playlistback, 30%) 1px solid;
                  .box-shadow(0px 0px 5px 5px rgba(0, 0, 0, 0.2));
                }
              }
              &.playing{
                opacity: 0.4;
                div{
                 border: darken(@playlistback, 30%) 1px solid;
                 &:after{
                  content: '';
                  display: block;
                  font-family: 'Glyphicons Halflings';
                  font-style: normal;
                  font-weight: normal;
                  line-height: 1;
                  position: relative;
                  font-size: 20px;
                  color: #fff;
                  text-align: left;
                  float: left;
                  width: 50px;
                  margin-top: 74px;
                  margin-left: 5px;
                }
              }
            }
            div{  
              border: @playlistback 1px solid;
            }
            &:not(.playing){
              opacity: 1;
            }
          }
          mark{
            background: @white;
            color: @playlistback;
            display: inline-block;
            height: 18px;
            line-height: 18px;
            margin-right: 5px;
            text-align: center;
            width: 18px;
            .rounded(18px);
          }
          span{
            color: @white;
            width: 164px;
            text-align: left;
            display: block;
            padding-top: 3px;
            padding-bottom: 3px;
            .ellipsis();
          }
        }
      }

      .packgroup{ 
        margin-top: 20px;
        
        // pour les carousels media
        .carousel-list{
          position : relative;
          min-height : 425px;
          .wrap-carousel-control{
            position: absolute;
            bottom: -40px;
            right: 0px;
            margin: 0;
            .li-glyph{
              width: 30px;
              height: 30px;
            }
            >li{
              list-style: none;
              display: block;
              float: right;
              margin: 0 10px;
              .carousel-indicators{
                z-index: 0;
                margin: 10px 15px;
                position: relative;
                bottom: auto;
                left: auto;
                width: auto;
                >li{
                  list-style: none;
                  width: 13px;
                  height: 13px;
                  border: 1px solid rgba(70,70,70,0.25);
                  background-color: rgba(70,70,70,0.25);
                  &.active{
                    margin: 1px;
                    background-color: #444;
                  }
                }
              }
            }
          }
          .carousel-inner{
            margin-left: 20px;
            min-height : 420px;
          }
          .carousel-control {
            color: black;
            background: none;
            &.right{
              right: 66px;
            }
            .glyphicon{
              &.glyphicon-chevron-left{
                left: 65px;
                top: 6px;
              }
              &.glyphicon-chevron-right{
                right: -65px;
                top: 6px;
              }
            }
          }
        }
        
        h2{
          font-size: 20px;
          text-transform: uppercase;
          display: inline-block;
          width: 50%;
          text-align: left;

        }


        .img-small{
          &:after{
            content: '';
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 57px;
            position: relative;
            font-size: 33px;
            color: #fff;
            text-align: left;
            width: 65px;
            background: rgba(0,0,0,0.8);
            text-align: center;
            height: 65px;
            margin-left: 49px;
            margin-top: 20px;
            .rounded(100px);
            .transition-duration(0.3s);
            opacity: 0;
          }
        }
  //création des symboles play

  .img-big{
    &:after{
      content: '';
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 86px;
      position: relative;
      font-size: 67px;
      color: #fff;
      text-align: left;
      width: 100px;
      background: rgba(0,0,0,0.8);
      text-align: center;
      height: 100px;
      margin-left: 150px;
      margin-top: 74px;
      .rounded(100px);
      .transition-duration(0.3s);
      opacity: 0;
    }
  }
  .rightlnk{
    text-align: right;
    width:50%;
    display: inline-block;
  }

  .block-big{
    width: 368px;
    height: 406px;
    background: #fff;
    float: left;
    font-size: 14px;
    line-height: 24px;
    color: #898989;
    h3{
      font-size: 16px;
      color: #494949;
      font-weight: bold;
      padding: 10px;
      padding: 10px 10px 0px;

    }
    p{
      padding:0px 10px 10px;
    }
  }
  .block-small{
    width: 165px;
    height: 125px;
    float: left;
    background: #fff;
    margin-left:16px;
    margin-bottom: 16px;
    h3{
      font-size: 14px;
      color: #898989;
      padding-bottom: 2px;
      padding-left:3px;
      .ellipsis();
    }
  }
  .block-small, .block-big{
    &:hover{
      cursor: pointer;
      .box-shadow(0px 0px 5px 5px rgba(0, 0, 0, 0.1));
      .transition-duration(0.3s);
      .img-small, .img-big{
       opacity: 0.8;
       .transition-duration(0.3s);
       &:after{
        opacity: 1;
      }
    }

  }
}
}

.btn-plusdesketch{
  &:hover{
    text-decoration: none;
  }
  button{
    margin-left: auto;
    margin-right:auto;
    display: block;
    .rounded(15px);
    &:hover{
      text-decoration: none;
    }
  }
}




  //partie pour le film le retour
  .pretitle{
    margin-top: 20px;
    span{
      color:@retourcolor;
      font-size: 35px;
      text-transform: uppercase; 
      font-weight: normal;
      text-align: center;
      display: block;
      img{
        margin-right:20px;
        margin-bottom: 10px;
      }
    }
  }

  #leretour{
    background:@retourcolor;
    width: 100%;
    padding-top: 10px;
    .toc{
      h3{
        font-size: 14px;
        color: #7b7459;
        font-weight: bold;
      }
    }
    h4{
      padding-top: 30px;
      color: darken(@retourcolor, 20%);
      font-size: 25px;
      text-transform: uppercase;
    }
    h5{
      color: darken(@retourcolor, 20%);
      font-size: 12px;
      letter-spacing: 1.2px;
      text-align: center;
    }
  }
  .edito{
    background: lighten(@retourcolor, 10%);
    margin-top: 13px;
    padding: 20px;
    height: 223px;
    p{
      font-size: 16px;
      line-height: 27px;
      color: #5f5c4f;
    }
    button{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:15px;
      .rounded(10px);
    }
  }
  .tiers{
    width: 33.33333%;
    float: left;
    margin-top: 30px;
    h3{
      min-height: 30px;
      font-size: 14px;
      color: darken(@retourcolor, 30%);
      font-weight: bold;
    }
  }

}