@malavita55:#C13221;
@cut62: #2C2F38;

body.view-channel #main #cover{
  &.cover42{
    height: 850px;
  }
  &.cover28{
    height: 550px;
  }
  &.cover1{
    height: 600px;
  }
  &.cover60{
    height:495px;
    #logo{
      .logopart{
        display: inline-block;
        height: auto;
        width: auto;
        img{
          display: inline-block;
          margin-left:8px;
        }
      }
    }
  }
  &.cover55, &.cover62{
    height: 425px;
    .cover-wrap{
      display: block;
      height: 500px;
      width: 100%;
      position: absolute;
    }
    .wrap-follow{
      position: absolute;
      left: 804px;
      bottom: 87px;
      z-index: 1;       
    }
    .share-block{
      left: 660px;
    }
  }
  &.cover56, &.cover60{
    .cover-wrap{
      display: block;
      height: 500px;
      width: 100%;
      position: absolute; 
    }
    .wrap-follow{
      position: absolute;
      left: 190px;
      bottom: 36px;
      z-index: 1;        
    }
    .share-block{
      left: 660px;
    }
  }
  &.cover35,&.cover54,&.cover8{
    height: 600px;
  }
}
// Chaîne Sport
body.view-channel-13 {
  .header-container {
    .header-content {
      height: 103px;
      bottom: 0px;
    }
  }
}
// Chaîne Demy et Césars 2014
body.view-channel-3, body.view-channel-67 {
  .header-container {
    .header-content {
      height: 104px;
      bottom: 3px;
    }
  }
}
#channel35, #channel54{
  height: 535px;
  .header-content{
    background:none;
    .share-block{
      top: 294px;
      left: 620px;
    }
    .player-wrap{
      position: relative;
      left: 497px;
      width: 440px;
      iframe{
        border: none;
      }
    }
  }
}

#channel56, &#channel55, &#channel62{

  height: 535px;
  .header-content{
    background:none;
    top: 167px;
    .share-block{
      top: 294px;
      left: 620px;
    }
    .player-wrap{
      position: relative;
      left: 563px;
      width: 367px;
      iframe{
        border: none;
      }
    }
  }
}
.channel55{
  .social{
    .social-suggestion{
      background:@malavita55;
    }
    .wrap-tab{
      background:@malavita55;
    }
    .nav-tabs{
      >li{
        >a{
         &:hover{
           background: lighten(@malavita55,10%);
         }
       }
     }
     >li{
      &.active{
        i{
          color:@malavita55;
        }
      }
    }
  }
}
}
.channel62{
  .social{
    .social-suggestion{
      background:@cut62;
    }
    .wrap-tab{
      background:@cut62;
    }
    .nav-tabs{
      >li{
        >a{
         &:hover{
           background: lighten(@cut62,10%);
         }
       }
     }
     >li{
      &.active{
        i{
          color:@cut62;
        }
      }
    }
  }
}
}
#channel28{
  .info_saison{
    font-size: 0.9em;
    position: relative;
    top: 140px;
    left: 175px;
    width: 184px;
    text-align: center;
  }
  .header-content{
    background-color: transparent;
    padding:0;
    top: 55px;
    >h1{
      top: 65px;
      left: 22px;
      position: absolute;
      >a{
        color: black;
      }
    }
    .well{
      -webkit-box-shadow: none;
      position: relative;
      left: 343px;
      width: 690px;
      height: 340px;
      top: 64px;
      border: 0;
      margin-top: 18px;
      background-color: transparent;
      .slider{
        width: 520px;
        margin: 0 auto;
        text-align: center;
        height: 160px;
        .text1{
          font-size: 1.3em;
        }
        .text2{
          font-size: 1.2em;
        }
        .bande{
          position: absolute;
          top: 286px;
          left: 0px;
          height: 44px;
          width: 520px;
          line-height: 17px;
          font-size: 0.9em;
          span {
            font-size: 1.2em;
          }
        }
        iframe{
          border: 1px solid #999;
        }
      }
      .intro{
        text-align: center;
      }
    }
    .btn{
      position: absolute;
      bottom: -76px;
      left: 33px;
      width: 310px;
    }
    .channel-icon{
      top: 260px;
      width: 230px;
      height: 230px;
      z-index: 100;
      position: relative;
      background-image:url('http://mskstatic.com/230/medias/photos/PBLV/saison9.jpg');
    }
  }
}

/* les-inconnus */
#channel1{
  padding-top: 100px;

	.header-content{
		display: block;
		height: 220px;
		margin-left: 70px;
		position: absolute;
		top: 278px;
		width: 400px;
    .rounded(5px);
	}
	h1{
		display: inline-block;
		font-size: 30px;
		width: 70%;
    text-shadow:0;
	}
  .btn {
    float: left;
    margin: 10px;
    margin: 13px 58px 0 0px;
    padding: 10px;
    height: 48px;
    line-height: 24px;
    &.btn-default:last-child {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  .suivre-btn{
    float: none;
    width: 100%;
    font-size: 25px;
    margin-right: 0px;
  }
	#inconnusvolant{
		position: relative;
    width: 140px;
    img{
      max-width: 100%;
      .rotation(-45deg);
    }
	}
	.lead {
   font-size: 1.03em;
   line-height: 1.3em;
   width: 75%;
  text-shadow:0;
  }
  #channel1_sponsors {
    width: 385px;
    height: 60px;
    position: absolute;
    top: 430px;
    left: 50px;
    .liens_sponsors {
      display: block;
      position: absolute;
      top: 15px;
      height: 30px;
    }
    #fr2 {
      top: 5px;
      left: 4px;
      width: 35px;
      height: 50px;
    }
    #myskreen {
      left: 50px;
      width: 85px;
    }
    #venteprivee {
      left: 145px;
      width: 70px;
    }
    #parisien {
      left: 225px;
      width: 95px;
    }
    #rtl {
      left: 335px;
      width: 45px;
    }
  }

}
body.view-channel #main #channel1 .share-block{
  padding: 0 10px;
	left: 0px!important;
	min-width: 400px!important;
	position: absolute!important;
	top: 145px!important;
	z-index: 1!important;
  .twitter-share {
    margin-left: 77px!important;
    width: 70px!important;
  }
  .g-plus-share {
    width: 50px!important;
  }
}

/* agnes-varda */
#channel8{
  height: 535px;
  .container{
    top:200px;
  }
  .header-content{
    top: 518px;
    min-height: 60px;
    background:rgba(0,0,0,0.2);
    .btn {
      margin-top: 5px;
    }
    .share-block{
      position: absolute!important;
      top: 23px!important;
      left: 531px!important;
      min-width: 280px!important;
      height: 30px!important;
    }
  }
  .player-wrap{
    width: 530px;
    height: 280px;
    margin-left: 45.75%;
    iframe{
      border: none;
    }
    #player-playlist{ 
     position: absolute;
     bottom: -20px;
     width: 530px;
     margin-bottom: 0px;
     padding-left: 0px;
     text-align: center;
     >li {
      color: black;
      background: #CCC;
      display:none;
    }
    .playing {
      background: black;
      display: block;
      >a{
        color: white;
      }
    }

  }
}
}
.channel8{

  span.ms-prog-title{
    display: inline!important;
  }
}
.cover8{
  .btn-suivre{
    position: relative;
    z-index: 1;
  }
}