#cover{
  &.cover42{
     height: 850px;
  }
  &.cover28{
    height: 550px;
  }
    
  &.cover60{
    height:495px;
  }
  &.cover55{
    height: 425px;
   .cover-wrap{
      display: block;
      height: 500px;
      width: 100%;
      position: absolute;
    }
    .wrap-follow{
      position: absolute;
      left: 804px;
      bottom: 87px;
      z-index: 1;       
    }
    .share-block{
    left: 660px;
    }
  }

  &.cover56,&.cover60{
     .cover-wrap{
      display: block;
    height: 500px;
    width: 100%;
    position: absolute;
    }
    .wrap-follow{
      position: absolute;
      left: 190px;
      bottom: 36px;
      z-index: 1;        
    }
    .share-block{
      left: 660px;
    }
  }
  &.cover35,&.cover54,&.cover8{
   height: 600px;
 }
}
#channel35, &#channel54{
    height: 535px;
    .header-content{
      background:none;
      .share-block{
        top: 294px;
        left: 620px;
      }
      .player-wrap{
        position: relative;
        left: 497px;
        width: 440px;
        iframe{
          border: none;
        }
      }
    }
  }
#channel56, &#channel55{
    height: 535px;
    .header-content{
      background:none;
      top: 167px;
      .share-block{
        top: 294px;
        left: 620px;
      }
      .player-wrap{
        position: relative;
        left: 563px;
        width: 367px;
        iframe{
          border: none;
        }
      }
    }
  }
.channel55{
  .social{
    .social-suggestion{
      background:#C13221;
    }
    .wrap-tab{
      background:#C13221;
    }
    .nav-tabs{
      >li{
        >a{
           &:hover{
             background: #EB513F;
        }
      }
    }
      >li{
        &.active{
        i{
          color:#C13221;
        }
      }
    }
  }
}
}
#channel28{
  .info_saison{
    font-size: 0.9em;
    position: relative;
    top: 140px;
    left: 175px;
    width: 184px;
    text-align: center;
  }
  .header-content{
    background-color: transparent;
    padding:0;
    top: 55px;
    >h1{
      top: 65px;
      left: 22px;
      position: absolute;
      >a{
        color: black;
      }
    }
    .well{
      -webkit-box-shadow: none;
      position: relative;
      left: 343px;
      width: 690px;
      height: 340px;
      top: 64px;
      border: 0;
      margin-top: 18px;
      background-color: transparent;
      .slider{
        width: 520px;
        margin: 0 auto;
        text-align: center;
        height: 160px;
        .text1{
          font-size: 1.3em;
        }
        .text2{
          font-size: 1.2em;
        }
        .bande{
          position: absolute;
          top: 286px;
          left: 0px;
          height: 44px;
          width: 520px;
          line-height: 17px;
          font-size: 0.9em;
          span {
            font-size: 1.2em;
          }
        }
        iframe{
          border: 1px solid #999;
        }
      }
      .intro{
        text-align: center;
      }
    }
    .btn{
      position: absolute;
      bottom: -76px;
      left: 33px;
      width: 310px;
    }
    .channel-icon{

      top: 260px;
      width: 230px;
      height: 230px;
      z-index: 100;
      position: relative;
      background-image:url('http://mskstatic.com/230/medias/photos/PBLV/saison9.jpg');
    }
  }
}

#channel1{

	.header-content{
		display: block;
		height: 100px;
		margin-left: -470px;
		position: absolute;
		top: 340px;
		width: 940px;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
	}
	h1{
		display: inline-block;
		font-size: 30px;
		width: 70%;
	}
	.suivre-btn{
		float: right;
		margin: 20px 10px 0 0px;
		padding: 10px;
	}
	#inconnusvolant{
		margin-top: 75px;
		position: absolute;
		right: 10px;
	}
	.lead {
	    font-size: 1.03em;
	    line-height: 1.3em;
	    width: 75%;
	}

}
body.view-channel #main #channel1 .share-block{
	left: 210px!important;
	min-width: 400px!important;
	position: absolute!important;
	top: 18px!important;
	z-index: 1!important;
}
/* Chaines les inconnus */

#channel8{
    height: 535px;
    .container{
      top: 186px;
    }
    .header-content{
      top: 538px;
      min-height: 60px;
      background:rgba(0,0,0,0.2);
      .share-block{
        position: absolute!important;
        top: 21px!important;
        left: 626px!important;
        min-width: 400px!important;
      }
    }
    .player-wrap{
      width: 530px;
      height: 280px;
      margin-left: 45.75%;
      iframe{
        border: none;
      }
      #player-playlist{ 
       position: absolute;
       bottom: -20px;
       width: 530px;
       margin-bottom: 0px;
       padding-left: 0px;
       text-align: center;
       >li {
        color: black;
        background: #CCC;
        display:none;
      }
      .playing {
        background: black;
        display: block;
        >a{
          color: white;
        }
      }

    }
  }
}
