/* channel page */
body.view-channel {
	#main {
		#cover {
	 		height: 450px;
			overflow: hidden;
			margin: -80px auto 0 auto;
			padding: 0;
		}
	}
}

#view-channel {
  padding-bottom: 150px;
  position: relative;
  
  .channel-description {
    position: absolute;
    bottom: 0px;
  }

  img.channel-logo {
    margin-right: 10px;
    margin-top: 5px;
    vertical-align: top;
  }

  .carousel {
  background: black;
    .item {
      height: 300px;
      text-align: center;
      .mask {
        height: 300px;
        display: block;
      }

      .carousel-caption {
        text-align: left;
        background: rgba(0, 0, 0, 0.55);
        h4 a {
          color: white;
        }
      }
    }
  }

  #lives {
    position: relative;

    .relatedlive {
      position: absolute;
      top: 20px;
      width: 220px;
      height: 250px;
      overflow: hidden;

      &#prevlive {
        left: 10px;
       }
      &#nextlive {
        right: 10px;
       }
    }

    #live {
      text-align: center;
      box-shadow: 1px 2px 5px #555;
      z-index: 5;
      margin: 0 260px;
      height: 320px;
      color: whiteSmoke;
      position: relative;
      background-color: #222;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;

      h2 {
        opacity: 0.9;
        text-align: left;
        margin: 0;
        position: absolute;
        bottom: 0;
        background: #222;
        font-weight: normal;
        padding: 7px;
        width: 100%;
      }
      a {
        margin-top: 20%;
      }
    }
  }
}