.panel-theater {
  .alert-info {
    margin: 10px;
  }
}

#theaters-playlist {
  .tab-content {
    border: 1px solid #ccc;
    border-top: none;
    .theaters-on {
      #theaters-names {
        padding: 5px;
      }
      .btn-suivre {
        margin: 5px;
      }
    }
  }
}

/* theaters-search*/
#theaters-search {
  input{
    margin-right: 16px;
    &.trigger-theaters {
      width: 100px;
      border: none;
      color: #777777;
      background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
      border-color: #e6e6e6;
      border-radius: 4px;
      &:hover{
        border: 1px solid black;
      }
    }
  }
}

/* theaters-playlist */
.modal #theaters-list {
  padding: 0px !important;
}
#theaters-list, #view-program #program-offers #theaters-list {
  position: relative;
  padding: 20px;

  .panel-group {
    .panel {
      padding: 0;
    }
  }

  .theaters-on {
    #theaters-names {
      margin-bottom: 10px;
      .label {
        margin-right: 5px;
      }
    }
  }

  .theaters-off {
    height: 250px;
    background: url(/bundles/skreenhousefactoryv3/images/vos-cinemas-sample.png) no-repeat;

    .well {
      position: absolute;
      top: 100px;
      left: 250px;
      text-align: center;
    }
  }
}