.with_live{
	background: #34495e;
	.channel-logo{
		color: #FFFFFF !important;
		font-size: 3em !important;
		margin-top: 90px!important;
	}
	h1{
		color: #FFFFFF !important;
		font-size: 3.4em !important;
		margin-top: 82px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
	iframe{
		float:right;
	}
}