.nav > li > a:hover, .nav > li > a:focus{
  background: transparent; 
}

.navbar {
  background:rgba(255,255,255,0.75);
  border-bottom: 1px solid #d2d2d2;
  min-height: 60px;
  li a {
    color: #444444;
    text-decoration: none;
  }

  .navbar-nav {
    margin-right: 57px;

    > li > a {
      text-transform: uppercase;
      padding: 23px 9px 17px;
      text-decoration: none;
    }
    .hover-menu{

      background: none repeat scroll 0 0 white;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      border-right: 2px solid rgba(0, 0, 0, 0.2);
      list-style: none outside none;
      padding: 10px 10px;
      position: absolute;
      top: 63px;

      &.vod li, &.cine li {
        width:200px;
        margin-top: 3px;
        display: block;

        a{
          color: #5D5D5D;
          &:hover{
            color:@bluemaincolor;
            text-decoration: none;
          }
        }
      }

      &.hover-menu-tv{
        left: -136px;
        width: 940px;
        ul {
          display: block;
          padding: 0;
          margin: 0;

          li {
            &.nav-header {
              display: block;
              background: #EEE;
              padding: 3px 15px;
              font-size: 11px;
              font-weight: bold;
              line-height: 20px;
              color: #999;
              text-shadow: 0 1px 0 rgba(255,255,255,0.5);
              text-transform: uppercase;

            }
            &.tv-channels{
              display: block;
              padding-left: 15px;
              a {
                float: left;
                padding: 3px;
                display: block;
                clear: none;
                span {
                  display: none;
                  position: absolute;
                  background: rgba(0,0,0,0.8);
                  font-size: 0.8em;
                  margin-left: 0px;
                  margin-top: -25px;
                  color: white;
                  padding: 3px;
                  border-radius: 3px;
                }
                &:hover {
                  span {
                    display: block;
                  }
                }
              }
            }
          }
        }
        .pull-left{
          margin-left: 20px;
          margin-top: 5px;
          text-transform: none;
          list-style: none;
          a{
            color: #000;
            text-decoration: none;
            &:hover{
              color: @bluemaincolor;
            }
          }
        }
      }
    }
  }

  #logo{
    float: left;
    margin-top: 0px;
    margin-right: 20px;
  }
  .searchbutton{
    display: inline-block;
    width: 190px;
    height: 25px;
    border: 1px solid #d2d2d2;
    text-align: left;
    color: #5f5f5f;
    font-size: 14px;
    margin-top: 19px;
    float:none!important;
    border-radius: 4px;
    &:hover{
      border: 1px solid #777777;
    }
  }
  .navbar-search{
    display: inline-block;  
    position: relative;
  }

  .headertoprighticons {
    position: absolute;
    top: 0;
    right: 15px;
    padding-top: 12px;
    padding-right: 12px;
    width: 250px;
    text-align: right;
    height: 63px;
    text-shadow: none;
    filter: dropshadow(none);
    margin-top: 10px;
    font-weight: normal;
    .auth.user-off{
      margin-top: -2px;
    }
  }


  .toprigthicons-square{

    display: block;
    margin: auto;
    height: 24px;
    width: 24px;
    text-align: center;
  }

  .toprigthicons-nbr{
    padding-top: 2px;
    color: #fff;
    display: block;
    .badge{
      background: transparent;
    }
  }

  .ms-playlisticon{
    background: #f39c12;
  }

  .ms-usericon{
    background: @bluemaincolor;
  }

  .ms-ficon{
    background: #5d5d5d;
  }

  .ms-notificon{
    background: #ed0743;
    border-radius: 15px;
  }

  .toprighticons-label{
    font-size: 14px;
    line-height: 14px;
    /*
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    */
  }
  .toprighticons-playlist{
    color: #5D5D5D;
  }

  .toprighticons-notifications{
    color:#ed0743;
  }
  .toprighticons-user{
    color: #5d5d5d;
  }

  .separator{
    width: 1px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    background: none;
    border-right: solid #d2d2d2 1px;
  }
  .dropdown {
    display: block;
  }

} 
.user-on.dropdown.notifications.dropdown-toggle.tv-component:hover{
  cursor:pointer;
}





.nav-playlists {
  z-index: 15;
  margin: 0;
  .dropdown{
    display: inline-block;
  }
  >li {
    vertical-align: top;
    display:inline-block;
    margin-left: 20px;
    > a {
      color: #CCC;
      padding: 0;
      font-size: 1.1em;
      text-transform: uppercase;

      &.with-caret {
        i {
          border-right: 1px solid transparent;
          margin-left: 3px;
        }
      }
    }
    &.playlists {
      a {
        padding: 0;
        color: #0088cc;
      }
    }
    &.with-caret:hover, &.with-caret.open {
      a.with-caret {
        i {
          border-right: 1px solid #EFEFEF;
        }
      }
    }
    &.user-on {
      margin-left: 28px;
      > a {
        .badge {
          background-color: #0088cc;
          padding-left: 6px;
          padding-right: 6px;
          &.badge-important {
            background-color: rgb(235, 14, 10);
          }
        }
      }
      ul li {
        min-width: 250px;
        text-align: left;
        &.user-email{
          text-align: center;
        }
      }
    }
    &.user-menu{
      >ul{
        left: -193px;
      }
    }
    &.notifications {
      height: 100%;
      text-align: center;
      > a {
        padding-top: 6px;
        padding-bottom: 12px;
      }
    }
    &.dropdown {
      .dropdown-menu {
        .label.filter{
          margin-right: 10px;
        }
        .notification-filter {
          display: block;
          text-align: center;
          padding: 5px 0;
          background: #efefef;
          height: auto;
          margin: 5px 0;

          a{
            &:hover{
              text-decoration: none;
            }
          }
          .badge.badge-important{
            box-shadow: none!important;
            background: #D9534F;
          }
          .scroll.notification-scroll{
            height: 385px;
            margin-top: 5px;
            padding-top: 15px;
          }

          >.label{
            display: inline-block;
            padding: 2px 4px;
            font-size: 11.844px;
            font-weight: bold;
            line-height: 14px;
            color: #fff;
            vertical-align: baseline;
            white-space: nowrap;
            background-color: #999;
            &.label-info{
              background-color: #3a87ad;
            }
          }
        }
        .notification-scroll{
          margin-top: 20px;
        }
        li {
          a {
            position: relative;
            > .btn, .btn-group {
              position: absolute;
              right: 5px;
              top: 0;
            }
          }
          &.nav-header {
            font-size: 1.0em;
            &.user-email {
              text-transform: none;
            }
          }
          &.tv-channels {
            padding-left: 15px;
            a {
              float: left;
              padding: 5px;
              display: block;
              clear: none;
              span {
                display: none;
                position: absolute;
                background: rgba(0,0,0,0.8);
                font-size: 0.8em;
                margin-left: 0px;
                margin-top: -25px;
                color: white;
                padding: 3px;
                border-radius: 3px;
              }
              &:hover {
                span {
                  display: block;
                }
              }
            }
          }
        }
        &.dropdown-menu-tv {
          left: -350px;
          width: 990px;
          &:after {
            left: 400px;
          }
        }
      }
      &.active-dropdown-visible.active {
        .a-caret {
          display: none;
        }
        .dropdown-menu {
          z-index: 0;
          background: rgba(255,255,255,0.9);
          display: block;
          width: 990px;
          opacity: 0.9;
          li {
            float: left;
          }
        }
        &.active-vod {
          .dropdown-menu {
            left: -472px;
            li:first-child {
              margin-left: 250px;
            }
            &:after {
              left: 485px;
            }
          }
        }
        &.active-cinema {
          .dropdown-menu {
            left: -534px;
            li:first-child {
              padding-left: 270px;
            }
            &:after {
              left: 550px;
            }
          }
        }
      }
    }
    &.active > a {
     color: white;
   }
   &.divider-vertical {
     margin: 0;
   }
   &.notifications {
    ul {
      left: -225px;
      text-align: left;
      top: 42%;
        > div {
        height: 315px;
        overflow-y: auto;
        overflow-x: hidden;

        li {
          width: 400px;
          font-size: 0.9em;
          clear: both;
          overflow: hidden;
          &:hover, &:hover a {
            background: @rowHoverBg;
            color: @rowHoverColor;
          }

          a.link {

            padding: 0px;
            clear: none;
            line-height: 15px;
            white-space: nowrap;
            filter: none; /* ie hover background */

            img.channel {
              margin-left: 7px;
              border-right: 3px solid white;
              border-top: 3px solid white;
            }
            img.ico {
              margin-right: 7px;
            }

            span {
              display: block;
              margin-left: 7px;

              &.title {
                text-transform: uppercase;
              }
              &.label {
                display: inline;
                font-weight: normal;
                margin-left: 0;
              }
            }
          }
          .badge {
            margin: 15px 5px 0 0;
          }
          .remove {
            visibility: hidden;
            margin: 15px 15px 0 0;
            padding: 0;
            float: right;
            cursor: pointer;
          }
          &:hover {
            .remove {
              background: transparent;
              visibility: visible;
            }
          }
          &.empty {
            h6 {
              padding: 30px;
              font-size: 1.3em;
              small {
                line-height: 1.3em;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
}

.playlist {
  background-color: rgba(240, 240, 240, 0.9);
  /*background: rgba(255, 255, 255, 0.85);*/
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;

}

#top-playlist {
  overflow: hidden;
  position: absolute;
  z-index: 3;
  top: 60px;
  width: 100%;
  left: 0px;
  
  .container {
    padding: 10px 0;
    margin-bottom: 5px;
    width: 990px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;

    .breadcrumb {
      margin: 10px;
      font-size: 1.3em;
      border: 1px solid #DDD;
    }
    
    #playlist {
      width: 930px;
      margin-left: 10px;
      ul.items {
        padding-left: 0;
        overflow-x: hidden;
      }
      &.slider{
        height: 242px;
        &.in-selection{
          height:200px;
        }
      }
    }

    .selector.static{
      margin: 0 2px;
    }
    h2 {
      color: #017FD5;
      font-weight: normal;
      text-shadow: #C3C8E8 1px 1px 3px;
      padding-left: 13px;
      font-size: 1.3em;
      cursor: pointer;
      margin: 0;
    }
  }
}




.container.playlist{
  background-color:#FFF;
  background-image:none;
}
#playlist{
 
  .label.label-inverse, .label.label-warning{
    width:150px;
    height: 40px;
    margin-top: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    border:none;
  }
  .label.label-inverse{
    background: rgba(0,0,0,0.8);
  }




  .badge.badge-important{
    margin-left: -35px;
    margin-top: 168px;
    box-shadow: none!important;
    background: #D9534F;
  }

  ul.items>li{
    height: 242px;
    background-position: bottom;
  }
  &.in-selection ul.items>li{
    height: 201px;
  }

}

.auth.user-off{
 margin-top: 8px;
 padding: 3px 7px 6px!important;

 &:hover{
   background: @bluemaincolor;
 }

 span{
  color: #fff;
  text-shadow:none;
}

}