/* helpers : by alphabetical order */
.absolute {
  position: absolute;
}
.clear {
  clear:both;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.nowrap {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}
.indent {
	text-indent: -9999em;
}
.nowrap {
	white-space: nowrap;
}
.hide {
	display: none !important;
}
.visibility-hidden {
	visibility: hidden;
}