/* helpers : by alphabetical order */
.absolute {
  position: absolute;
}
.clear {
  clear:both;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.nowrap {
  white-space: nowrap;
}
.uppercase {
  text-transform: uppercase;
}