/* homes */
#view-home {
  .main-slider {
    h1 {
      padding: 0 20%;
      position: absolute;
      opacity: 0.6;
      font-style: italic;
    }
    .lead {
      padding: 0 20%;
      position: absolute;
      font-size: 1.0em;
      line-height: 1.5em;
      margin-top: 50px;
      text-align: justify;
      /*word-spacing: 200px;*/
      font-style: italic;
      opacity: 0.6;
    }
    .carousel-container {
      text-align: center;
      background: black;
      
      .carousel {
        text-align: left;
        height: 300px;
        width: 990px;
        margin: 0 auto 20px;
        background: black;
        
        .item {
          text-align: center;
          
          .carousel-caption {
            text-align: left;
            background: rgba(0, 0, 0, 0.55);
          }
        }
      }
    }
  }
}