.lt-ie9{
	#carousel-a-la-une{
		.carousel-control{
			height: 150px;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
			color: grey;
			&:hover{
				 color: white;
			}
		}
	}
	header{
		background-color:white;
	}
	.container{
		li{
			background: none;
			a{
				width: 60px;
			}
		}
	}
	.navbar{
		background-color: white;
	}
	#view-program-pere{
		.playwrap{
			margin: auto;
		}
		.wrap-carousel-control{
			left: 425px;
			bottom: 9px;
		}
	}
}

