.lt-ie9{
	#carousel-a-la-une{
		.carousel-control{
			height: 150px;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
			color: grey;
			&:hover{
				 color: white;
			}
		}
	}
	.navbar-nav{
		>li{
			white-space: nowrap;
			width: 100px;
			text-align: center;
		}
	}
	.headertoprighticons{
		>li.user-on{
			margin-left: 0px;
			margin-right: 4px;
		}
		filter: none;

		.playlists{
			white-space: nowrap;
			width: 100px;
			text-align: center;
			a{
				width: 90px
			}
		}

	}
	header{
		background-color:white;
	}
	.container{
		li{
			background: none;
			a{
				width: 60px;
			}
		}
	}
	.navbar{
		background-color: white;
	}
}

