.lt-ie10{
	body {
		> .navbar {
			#top-playlist{
				#playlist{
					.items{
						.static{
							>span{
								background-color: black;
							}
						}
					}
				}
			}
			.col-xs-16 ul.navbar-nav {
				height: 60px;
				> li{
					white-space: nowrap;
					width: 100px;
					text-align: center;
				}
			}
		}
	}
	#grid {
		.nav-pills {
			white-space: nowrap;
			li.time-change a {
				width: 100px;
			}
			li.addchannel a {
				width: 120px;
			}
		}
	}

	#carousel-a-la-une{
		.carousel-control{
			height: 150px;
			filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
			color: grey;
			&:hover{
				color: white;
			}
		}
	}

	.playlists{
		a{
			width: 90px
		}
	}
	header{
		background-color:white;
	}
	.navbar .container{
		li{
			background: none;
			a{
				width: 60px;
			}
		}
	}
	.navbar{
		background-color: white;
	}

	.headertoprighticons{
		>li.user-on{
			margin-left: 0px;
			margin-right: 4px;
		}
		filter: none;

		.playlists{
			white-space: nowrap;
			width: 100px;
			text-align: center;
			a{
				width: 90px
			}
		}

	}

	.btn-suivre {
		background-color: #f39c12;
		border-color: #f39c12;
		color: #FFFFFF;
		&:hover {
			background: #ffcc7c;
			border: #ffcc7c 1px solid;
			color: #FFFFFF;
		}
	}

	.btn-voir {
		color: #FFFFFF;
		min-width: 140px;
		background: @bluesecondarycolor;
		border: @bluesecondarycolor;

		&:hover {
			color: #FFFFFF;
			background: @bluemaincolor;
			border: @bluemaincolor;
		}
	}
	.nav-header{
		background-color: lightgrey;
	}
}
.lt-ie9{
	#content{
		padding-top: 80px;
	}
}

