/* ==========================================================
 * Mini Loading Bars
 * =========================================================*/
.mini-loading{
     width:20px;
     height:20px;
     top: 6px;
     right:21px;
     position:absolute;

     &.mini-bar{
       >div {
         width: 1px;
         height: 6px;
         background: black;
         position: absolute;
         top: 10px;
         left: 4px;
         opacity: 0.05;
         -webkit-animation: fadeit 0.74s linear infinite;
         -moz-animation: fadeit 0.74s linear infinite;
         animation: fadeit 0.74s linear infinite;
       
         &:nth-child(1){
           -webkit-transform: rotate(0deg) translate(0, -6px);
           -moz-transform: rotate(0deg) translate(0, -6px);
           transform: rotate(0deg) translate(0, -6px); 
     
           -webkit-animation-delay:0.10s;
           -moz-animation-delay:0.10s;
           animation-delay:0.10s;
         } 

         &:nth-child(2){
           -webkit-transform: rotate(45deg) translate(0, -6px);
           -moz-transform: rotate(45deg) translate(0, -6px);
           transform: rotate(45deg) translate(0, -6px); 

           -webkit-animation-delay:0.18s;
           -moz-animation-delay:0.18s;
           animation-delay:0.18s;
         } 

         &:nth-child(3){
           -webkit-transform: rotate(90deg) translate(0, -6px);
           -moz-transform: rotate(90deg) translate(0, -6px);
           transform: rotate(90deg) translate(0, -6px); 

           -webkit-animation-delay:0.26s;
           -moz-animation-delay:0.26s;
           animation-delay:0.26s;
         } 

         &:nth-child(4){
           -webkit-transform: rotate(135deg) translate(0, -6px);
           -moz-transform: rotate(135deg) translate(0, -6px);
           transform: rotate(135deg) translate(0, -6px); 

           -webkit-animation-delay:0.34s;
           -moz-animation-delay:0.34s;
           animation-delay:0.34s;
         } 

         &:nth-child(5){
           -webkit-transform: rotate(180deg) translate(0, -6px);
           -moz-transform: rotate(180deg) translate(0, -6px);
           transform: rotate(180deg) translate(0, -6px); 

           -webkit-animation-delay:0.42s;
           -moz-animation-delay:0.42s;
           animation-delay:0.42s;
         } 

         &:nth-child(6){
           -webkit-transform: rotate(225deg) translate(0, -6px);
           -moz-transform: rotate(225deg) translate(0, -6px);
           transform: rotate(225deg) translate(0, -6px); 

           -webkit-animation-delay:0.50s;
           -moz-animation-delay:0.50s;
           animation-delay:0.50s;
         } 
         
         &:nth-child(7){
           -webkit-transform: rotate(270deg) translate(0, -6px);
           -moz-transform: rotate(270deg) translate(0, -6px);
           transform: rotate(270deg) translate(0, -6px); 

           -webkit-animation-delay:0.58s;
           -moz-animation-delay:0.58s;
           animation-delay:0.58s;
         } 

         &:nth-child(8){
           -webkit-transform: rotate(315deg) translate(0, -6px);
           -moz-transform: rotate(315deg) translate(0, -6px);
           transform: rotate(315deg) translate(0, -6px); 

           -webkit-animation-delay:0.66s;
           -moz-animation-delay:0.66s;
           animation-delay:0.66s;
         }
       }
     }
   }
@-webkit-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@-moz-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
/* ==========================================================
 * Loading Bars
 * =========================================================*/

.loading {
     width:70px;
     height:70px;
     margin:35px auto;
     position:relative;
     &.bar {
     >div {
       width: 4px;
       height: 15px;
       background: black;
       position: absolute;
       top: 30px;
       left: 18px;
       opacity: 0.05;
       -webkit-animation: fadeit 0.74s linear infinite;
       -moz-animation: fadeit 0.74s linear infinite;
       animation: fadeit 0.74s linear infinite;
      
        &:nth-child(1){
          -webkit-transform: rotate(0deg) translate(0, -15px);
          -moz-transform: rotate(0deg) translate(0, -15px);
          transform: rotate(0deg) translate(0, -15px); 

          -webkit-animation-delay:0.10s;
          -moz-animation-delay:0.10s;
          animation-delay:0.10s;
       }
       &:nth-child(2){
         -webkit-transform: rotate(45deg) translate(0, -15px);
         -moz-transform: rotate(45deg) translate(0, -15px);
         transform: rotate(45deg) translate(0, -15px); 

         -webkit-animation-delay:0.18s;
         -moz-animation-delay:0.18s;
         animation-delay:0.18s;
       }
       &:nth-child(3){
         -webkit-transform: rotate(90deg) translate(0, -15px);
         -moz-transform: rotate(90deg) translate(0, -15px);
         transform: rotate(90deg) translate(0, -15px); 

         -webkit-animation-delay:0.26s;
         -moz-animation-delay:0.26s;
         animation-delay:0.26s;
       } 
       &:nth-child(4){
         -webkit-transform: rotate(135deg) translate(0, -15px);
         -moz-transform: rotate(135deg) translate(0, -15px);
         transform: rotate(135deg) translate(0, -15px); 

         -webkit-animation-delay:0.34s;
         -moz-animation-delay:0.34s;
         animation-delay:0.34s;
       }
       &:nth-child(5){
         -webkit-transform: rotate(180deg) translate(0, -15px);
         -moz-transform: rotate(180deg) translate(0, -15px);
         transform: rotate(180deg) translate(0, -15px); 

         -webkit-animation-delay:0.42s;
         -moz-animation-delay:0.42s;
         animation-delay:0.42s;
       }
       &:nth-child(6){
         -webkit-transform: rotate(225deg) translate(0, -15px);
         -moz-transform: rotate(225deg) translate(0, -15px);
         transform: rotate(225deg) translate(0, -15px); 

         -webkit-animation-delay:0.50s;
         -moz-animation-delay:0.50s;
         animation-delay:0.50s;
       }
       &:nth-child(7){
         -webkit-transform: rotate(270deg) translate(0, -15px);
         -moz-transform: rotate(270deg) translate(0, -15px);
         transform: rotate(270deg) translate(0, -15px); 

         -webkit-animation-delay:0.58s;
         -moz-animation-delay:0.58s;
         animation-delay:0.58s;
       }
       &:nth-child(8){
         -webkit-transform: rotate(315deg) translate(0, -15px);
         -moz-transform: rotate(315deg) translate(0, -15px);
         transform: rotate(315deg) translate(0, -15px); 

         -webkit-animation-delay:0.66s;
         -moz-animation-delay:0.66s;
         animation-delay:0.66s;
       }
     }
   }
}

.inverse .loading &.bar {
  >div{
    opacity: 0.15;
    background:white;
  }
}
@-webkit-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@-moz-keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}
@keyframes fadeit{
     0%{
          opacity:1;
     }
     100%{
          opacity:0;
     }
}