body.home-cinema, body.view-selections {
  .bande_listes {
    margin-top: 0!important;
  }
}
img.cinema-sample {
  width: 800px;
  opacity: 0.8;
}

.bande_plus_fonce {
  background-color: #ccc;
  padding: 10px 0;
}
.bande_fonce {
  background-color: #dcdcdc;
  padding: 30px 0;
  h3 {
    font-size: 1.5em;
    float: left;
    margin-right: 20px;
  }
  #theaters-list {
    h3 {
      float: none;
    }
  }
}
.bandeau-filters {
  background: #dcdcdc;
  padding: 5px 0 10px 0;
  .container-filters {
    text-align: center;
    a.label {
      background: #4E96C5;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
.bande_notifications {
  padding: 5px 0 5px 0;
  background-color: #64A2D8;
  .container {
   h2 {
     color: rgb(1, 80, 150);
   } 
   .pull-right {
      margin: 10px 0px 0 0;
    }
  }
  .notifications {
    background: rgba(255,255,255,0.8);
    list-style: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    li {
      padding: 10px;
      margin-right: 1%;
      width: 32%;
      overflow: hidden;
      min-height: 75px;
      a {
        display: block;
        &:hover {
          text-decoration: none;
          opacity: 0.8;
        }
        img {
          margin-right: 5px;
          margin-top: 7px;
        }
        >div {
          width: 63%;
          .title {
            font-style: italic;
          }
          .subtitle {
            font-size: 0.85em;
            color: #999;
            display: block;
            clear: both;
            margin-bottom: -2px;
          }
          .label {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-top: 4px;
          }
        }
      }
    }
  }
}
.bande_listes {
  padding: 5px 0 5px 0;
  background-color: #428bca;
  margin: 15px 0 0 0;
  .container {
    .row:first-child {
      margin-bottom: 0;
      .col-xs-11 {
        padding-top: 15px;
      }
      .col-xs-5 {
        padding-top: 2px;
      }
    }
    .row {
      h1,#fake_h1 {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 2.3em;
        line-height: 1.1em;
        a {
          font-family: 'Raleway', sans-serif;
          color: white;
          text-decoration: none;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .episodes {
        color: rgb(4, 39, 71);
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 8px;
      }
      .ms-format, .ms-format a {
        font-size: 13px;
        color: white;
        opacity: 0.8;
        text-decoration: none;
      }
      .col-xs-5 {
        .col-xs-16.ajout {
          height: 58px;
          padding-top: 15px;
          .btn-suivre {
            height: 50px;
            line-height: 40px;
            background-color: white;
            border: none;
            color: @sk-blue;
            border: 1px solid #316B9C;
            width: 100%;
            font-size: 17px;
            &:hover {
              background: #3880BD;
              border: #316B9C 1px solid;
              color: #FFFFFF;
            }
          }
          .btn-plus:before {
            font-size: 49px;
            left: -30px;
            line-height: inherit;
          }
        }
        .col-xs-16 {
          font-family: 'Raleway', sans-serif;
          color: white;
          text-align: center;
          a.meslistes-plus {
            opacity: 0.8;
            color: white;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 0;
            margin-top: 10px;
            display: inline-block;
            &:hover {
              color:white;
              opacity: 1;
              text-decoration: none;
            }
          }
          >p:first-child {
            text-align: center;
            font-size: 1em;
          }
        }
      }
    }
  }
}
.bande_couleur_degrade {
  display: none;
  background-color: #2980B9;
  text-align: center;
  color: white;
  padding: 20px 0;
  .container {
    .row:first-child, .row.titres {
      p {
        font-family: 'Raleway', sans-serif;
        opacity: 1;
        font-size: 1.2em;
        &:first-child {
          font-size: 1.5em;
          font-weight: bold;
        }
      }
    }
    &.user-on {
      #replay, #tv {
        &.slider.navigate {
          .slider-container {
            box-shadow: none;
            border-right: none;
          }
        }
      }
    }
  }
  a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
  }
  .titres {
    img {
      max-height: 50px;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      opacity: 1;
      &+p {
        font-size: 1.2em;
        opacity: 1;
      }
    }
    p {
      font-size: 1em;
      opacity: 0.8;
    }
  }
  &+.container {
    margin-top: 15px;
  }
}
.container-fournisseur-cinema .bande_listes .container .row .col-xs-5 .col-xs-16.ajout {
  padding-top: 0;
}
#view-tvgrid, #view-home, .view-selections, .view-cinema_boxoffice {
  .bande_listes .container .row .col-xs-5 .user-on .col-xs-16 a.meslistes-plus {
    opacity: 1;
    margin-top: 0;
  }
  .bande_listes .container .row .col-xs-5 .user-off {
    .col-xs-16 {
      margin-top: 17px;
      .btn-suivre {
        height: 50px;
        line-height: 40px;
        background-color: white;
        border: none;
        color: #428bca;
        border: 1px solid #316B9C;  
        width: 100%;
        font-size: 17px;
        margin-top: 0;
        opacity: 1;
        &:hover {
          background: #3880BD;
          border: #316B9C 1px solid;
          color: #FFFFFF;
        }
      }
      &.cine {
        margin-top: 0;
      }
    }
    .col-xs-16.ajout {
      margin-top: 0;
      padding-top: 10px;
    }
  }
}
