body.home-cinema, body.view-selections {
  .bande_listes {
    margin-top: 0!important;
  }
}
img.cinema-sample {
  width: 800px;
  opacity: 0.8;
}
.bande_fonce {
  background-color: #dcdcdc;
  padding: 30px 0;
  h3 {
    font-size: 1.5em;
    float: left;
    margin-right: 20px;
  }
  #theaters-list {
    h3 {
      float: none;
    }
  }
}
.bande_listes {
  padding: 5px 0 5px 0;
  background-color: #428bca;
  margin: 15px 0 0 0;
  .container {
    .row:first-child {
      margin-bottom: 0;
      .col-xs-11 {
        padding-top: 15px;
      }
      .col-xs-5 {
        padding-top: 2px;
      }
    }
    .row {
      h1,#fake_h1 {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 2.3em;
        line-height: 1.1em;
      }
      .episodes {
        color: rgb(4, 39, 71);
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 8px;
      }
      .ms-format, .ms-format a {
        font-size: 13px;
        color: white;
        opacity: 0.8;
        text-decoration: none;
      }
      .col-xs-5 {
        .col-xs-16.ajout {
          height: 58px;
          padding-top: 15px;
          .btn-suivre {
            height: 50px;
            line-height: 40px;
            background-color: white;
            border: none;
            color: @sk-blue;
            border: 1px solid #316B9C;
            width: 100%;
            font-size: 17px;
            &:hover {
              background: #3880BD;
              border: #316B9C 1px solid;
              color: #FFFFFF;
            }
          }
          .btn-plus:before {
            font-size: 49px;
            left: -30px;
            line-height: inherit;
          }
        }
        .col-xs-16 {
          font-family: 'Raleway', sans-serif;
          color: white;
          text-align: center;
          a.meslistes-plus {
            opacity: 0.8;
            color: white;
            font-family: 'Raleway', sans-serif;
            margin-bottom: 0;
            margin-top: 10px;
            display: inline-block;
            &:hover {
              color:white;
              opacity: 1;
              text-decoration: none;
            }
          }
          >p:first-child {
            text-align: center;
            font-size: 1em;
          }
        }
      }
    }
  }
}
.bande_couleur_degrade {
  display: none;
  background-color: #2980B9;
  text-align: center;
  color: white;
  padding: 20px 0;
  .container {
    .row:first-child, .row.titres {
      p {
        font-family: 'Raleway', sans-serif;
        opacity: 1;
        font-size: 1.2em;
        &:first-child {
          font-size: 1.5em;
          font-weight: bold;
        }
      }
    }
  }
  a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
  }
  .titres {
    img {
      max-height: 50px;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      opacity: 1;
      &+p {
        font-size: 1.2em;
        font-weight: bold;
        opacity: 1;
      }
    }
    p {
      font-size: 1em;
      opacity: 0.8;
    }
  }
  &+.container {
    margin-top: 15px;
  }
}
.container-fournisseur-cinema .bande_listes .container .row .col-xs-5 .col-xs-16.ajout {
  padding-top: 0;
}