/* Mixins perso*/

.link-background-transition (@duration: 450ms) {
  -webkit-transition: background @duration ease;
  -moz-transition: background @duration ease;
  -ms-transition: background @duration ease;
  -o-transition: background @duration ease;
  transition: background @duration ease;
}
.link-border-transition (@duration: 450ms) {
  -webkit-transition: border @duration ease;
  -moz-transition: border @duration ease;
  -ms-transition: border @duration ease;
  -o-transition: border @duration ease;
  transition: border @duration ease;
}

.link-opacity-transition (@duration: 0.3s) {
  -webkit-transition: opacity @duration ease;
  -moz-transition: opacity @duration ease;
  -ms-transition: opacity @duration ease;
  -o-transition: opacity @duration ease;
  transition: opacity @duration ease;
}