/* Mixins perso*/

.link-background-transition (@duration: 450ms) {
  -webkit-transition: background @duration ease;
  -moz-transition: background @duration ease;
  -ms-transition: background @duration ease;
  -o-transition: background @duration ease;
  transition: background @duration ease;
}
.link-height-transition (@duration: 0.3ms) {
  -webkit-transition: all @duration ease;
  -moz-transition: all @duration ease;
  -ms-transition: all @duration ease;
  -o-transition: all @duration ease;
  transition: all @duration ease;
}
.link-opacity-transition (@duration: 0.3s) {
  -webkit-transition: opacity @duration ease;
  -moz-transition: opacity @duration ease;
  -ms-transition: opacity @duration ease;
  -o-transition: opacity @duration ease;
  transition: opacity @duration ease;
}

.transition-shadows(){
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -kthtml-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

// Border border-radius: 
.border-radius(@radius: 4px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.border-radius-bottom(@radius: 4px){
  -webkit-border-radius:0 0 @radius @radius;
  -moz-border-radius:0 0 @radius @radius;
  border-radius:0 0 @radius @radius;
}


// Shadows:

.shadows-player-fly(){
  -moz-box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.8);
  -o-box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 18px 1px rgba(0,0,0,0.8);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=18);
}


.shadows-player-land(){
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  -o-box-shadow:0;
  box-shadow: 0;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=18);
}