/* ===== v2 compliance ======================================================
   Author: Benoît Bergstörm
   ========================================================================== */





    @media screen and (min-width: 0px) and (max-width: 299px) {
        

    }



    @media screen and (min-width: 300px) and (max-width: 959px) {
        

    }



    @media screen and (min-width: 960px) {
        

        
    }









   // MODIFICATIONS POUR LE MODAL


.modal{
	overflow: hidden;
}
	@media (min-width: 1200px) { 
	  .modal{
	    width: 700px;
	    margin-left: -350px;
	    left: 50%;
	  }
	}



    @media screen and (min-width: 979px) and (max-width: 1200px) {
	  .modal{
	    width: 600px;
	    margin-left: -300px;
	    left: 50%;
	  }
	}


	/* Portrait tablet to landscape and desktop */
	@media (min-width: 0px) and (max-width: 979px) {
	  .modal{
	    width: 500px;
	    margin-left: -250px;
	    left: 50%;
	  }
	}
