/* ===== v3 New Modal Signup / Signin / Mdp ======================================================
   Author: Axel de Velp
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  .entete{
    background-color: #428bca;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  .text-left{
    padding-left: 20px;
    border-left: 20px solid #428bca;
    border-right: 20px solid #428bca;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .message{
    padding: 0 40px;
    &+.message{
      margin-bottom: 30px;
    }
  }
  .conteneur-form{
    padding: 0 40px;
    .form-horizontal ul { //gestion css des erreurs de forms Symfony
      list-style: none;
      padding: 0;
      li {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
      }
    }
    .form-horizontal .form-group ul {
      padding: 0 15px;
    }
  }
  .form-control{
    height: 40px;
    font-size: 14px;
    background-color: rgba(66,139,202,0.2);
  }
  .btn-default{
    background-color: #428bca;
    color: white;
    height: 45px;
    font-size: 16px;
    text-transform: uppercase;
  }
  input[type="password"]{
    margin-bottom: 25px;
  }
  input[type="email"], input[type="password"]{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
  }
  .form-group {
    input::-webkit-input-placeholder {
        color: #333;
    }
    input:-moz-placeholder { /* Firefox 18- */
      color: #333;
    }
    input::-moz-placeholder {  /* Firefox 19+ */
      color: #333;
    }
    input:-ms-input-placeholder {  
      color: #333;
    }
  }
  .oubien{
    margin: 10px 0 20px 0;
    text-align: center;
    span{
      color: #428bca;
      position: relative;
      &:before, &:after{
        content: ' ';
        border-top: 1px solid #428bca;
        width: 226px;
        position: absolute;
        top: 7px;
      }
      &:before{
        right: 200%;
      }
      &:after{
        left: 200%;
      }
    }
  }
  #fbconnect{
    margin-bottom: 12px;
  }
  #fbconnect-infos{
    margin-bottom: 20px;
  }
  .link{
    margin: 20px 40px 0 40px;
    a{
      display: inline-block;
      padding-left: 0px;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        border-bottom: 2px solid #2a6496;
      }
    }
    .mdp{
      float: right;
    }
  }
}