/* ===== v2 compliance ======================================================
   Author: Benoît Bergstörm
   ========================================================================== */
.paymentPopin {
  form {
    ul {
      margin: 0;
      padding: 5px;

      li {
        list-style: none;
      }
    }
    table {
      th {
        width: 190px;
        padding-right: 10px;
        text-align: right;
      }
      tr.actions .btn {
        margin-top: 10px;
      }
    }
    input[type="radio"], input[type="checkbox"] {
      float: left;
      margin-right: 10px;
    }
    label {
      font-size: 11px;
      color: #999;
      text-transform: uppercase;
      font-weight: bold;
      text-rendering: optimizelegibility;
    }
    label[for="inscrit"], label[for="inscrit_1"] {
      font-size: 1.0em;
      color: black;
      text-transform: none;
    
    }
  }

  .skVignette {
    float: left;
    margin-right: 20px;
  }
}
.modal-footer {
  padding-right: 130px;

  .close {
    display: none;
  }
}