body.pass-layout {
  .bande_listes {
    margin-top: -4px;
    background-color: #5cb85c;
    h1, h2 {
      color: white;
      text-align: center;
    }
    h1 {
      font-size: 3em;
    }
  }
  #modal-pass {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    color: #428bca;
    font-size: 16px;
    .btn {
      font-size: 30px;
      padding-left: 12px;
    }
    .ico-deporte {
      display: inline-block;
      padding: 1px 5px 4px;
      border-radius: 4px;
      background: #3878ff;
      text-shadow: none;
      margin-top: -2px;
      width: 20px !important;
      height: 19px;
      color: #fff;
      font-size: 12px;
      margin-left: 3px;
    }
    .no-bottom {
      margin-bottom: 0;
      &:not(:first-child) {
        color: #666;
      }
    }
    .bottom {
      margin-bottom: 25px;
      img {
        height: 140px;
        margin-top: 10px;
        display: inline-block;
        border-radius: 5px;
      }
      em {
        font-size: 14px;
      }
      &.pass-offer {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
#promopass {
  background-color: #5cb85c;
  color: white;
  height: 110px;
  .container {
    padding: 5px 25px 0;
    .glyphicon {
      font-size: 21px;
      z-index: 5;
      cursor: pointer;
    }
    a {
      display: block;
      width: 90%;
      margin: 0;
      text-decoration: none;
      color: white;
      h3 {
        font-size: 2.7em;
        font-weight: bold;
      }
      h4 {
        display: inline-block;
        margin-top: 15px;
      }
      img {
        margin-top: -45px;
      }
      button {
        display: none;
      }
    }
  }
}
#passlabel {
  position: fixed;
  right: 0px;
  bottom: 270px;
  background-color: #5cb85c;
  color: white;
  z-index: 25;
  font-size: 21px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  display: none;
}