body.view-person {
  #main {
    padding-top: 0px;
    #view-person {
      padding-bottom: 450px;
      .bande_plus_fonce {
        background: #569BCA;
      }
      .notifications {
        background: white;
        list-style: none;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 20px;
        li {
          padding: 10px;
          margin-right: 1%;
          width: 32%;
          overflow: hidden;
          &:first-child {
            margin-left: 1%;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            display: block;
            &:hover {
              text-decoration: none;
              opacity: 0.8;
            }
            img {
              margin-right: 5px;
              margin-top: 7px;
            }
            >div {
              width: 63%;
              .title {
                font-style: italic;
              }
              .subtitle {
                font-size: 0.85em;
                color: #999;
                display: block;
                clear: both;
                margin-bottom: -2px;
              }
              .label {
                display: inline-block;
              }
            }
          }
        }
      }
      .share-block {
        min-width: 400px;
        .fb-like {
          float: left;
        }
      }
    }
  }
}
