body.view-person {
  #main {
    padding-top: 0px;
    #view-person {
      padding-bottom: 450px;

      .share-block {
        min-width: 400px;
        .fb-like {
          float: left;
        }
      }
    }
  }
}
