#view-person {
  padding-bottom: 450px;

  .btn-suivre {
    margin-top: 10px;
  }

  .description {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
    font-size: 1.2em;
  }

  .share-block {
    min-width: 400px;
    .fb-like {
      float: left;
    }
  }
}
