.user-player {
  .col-xs-11 {
    padding-top: 10px;
    .player-wrapper {
      background-color: black;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      -moz-box-shadow: 3px 3px 15px 0px #656565;
      -webkit-box-shadow: 3px 3px 15px 0px #656565;
      -o-box-shadow: 3px 3px 15px 0px #656565;
      box-shadow: 3px 3px 15px 0px #656565;
      filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=135, Strength=15);
    }
    .teaser-container {
      position: relative;
      width: 100%;
      #player-user-ba {
        width: 100%;
        height: 100%;
      }
      .teaser-category {
        text-align: center;
        margin-bottom: 10px;
        width: 636px;
        height: 368px;
        margin: 0 auto;
      }
      .teaser-user, iframe {
        width: 100%;
        height: 100%;
      }
      .teaser-title {
        position: absolute;
        right: 0;
        text-align: center;
        margin-bottom: 10px;
        color: white;
        height: 30px;
        > p {
          padding: 0 45px;
        }
        .glyphicon {
          color: white;
          margin-top: 5px;
          margin-right: 5px;
          font-size: 1.3em;
          cursor: pointer;
        }
      }
    }
    .slider-user {
      margin: 5px 1px;
      li.actions {
        &.on-play {
          border: 1px solid #E51C64;
        }
      }
      .right {
        left: 600px;
      }
      .left {
        left: -20px!important;
      }
    }
  }
  .col-xs-5 {
    margin-top: 10px;
    padding-bottom: 15px;
    height: 645px;
    h2 {
      margin-top: 0px;
    }
    .carousel.vertical {
      height: 375px;
      .hr-like {
        margin-bottom: 5px
      }
      .channel-program {
        .desc_chaine {
          margin-left: 23%;
          width: 77%;
          span {
            width: 100%;
          }
        }
      }
    }
    .controlersbtn {
      text-align: center;
      margin-top: 10px;
      > a {
        display: inline-block;
        margin-right: 15px;
      }
      & + h2 {
        margin-top: 25px;
      }
    }
    .share-block {
      position: static;
      background-color: #f5f5f5;
      border-radius: 5px;
      margin-top: 15px;
      padding: 10px 0 10px 15px;
      .twitter-share {
        margin-left: 18px!important;
      }
      .btn {
        margin-top: 10px;
        width: 245px;
      }
    }
  }
}


.player-encart {
  position: relative;
  border-top: 1px solid #428bca;
  border-bottom: 1px solid #428bca;
  padding: 0px;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 1.5em;
  text-align: center;
  background-color: #FAFAFA;
  &:before {
    position: absolute;
    content: " ";
    top: -12px;
    left: 50%;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #428bca;
    margin-left: -6px;
  }
  .prog-actions {
    padding: 10px;
  }
  .prog-title {
    text-align: left;
    background-color: #428bca;
    padding: 5px;
    color: white;
    position: relative;
    .btn-suivre {
      position: absolute;
      right: 5px;
      color: white;
    }
    small {
      font-size: 0.6em;
      display: block;
    }
  }
}

#player.default-player{
  display: none;
  &.in{
    position: fixed;
    display: block;
    z-index: 1040;
    margin-right: auto;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 400px;
    top: 50px;
  }
  iframe {
    border: 5px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    box-shadow: 0px 0px 20px #000000;
  }
  .close {
    position: absolute;
    right: 0;
    top: -35px;
    opacity: 0.6 !important;
    &:hover {
      opacity: 0.9 !important;
    }
  }
}

/* couchmode */
#couchmode {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;

  #couchmode-inner {
    width: 640px;
    height: 375px;
    margin: 10% 20%;
  }

  #couchmode-close {
    display: block !important;
    color: white;
    text-align: right;
    cursor: pointer;
  }
}

/* player */
.player, #couchmode #couchmode-player.player {
  display: none;
  width: 640px;
  height: 100%;
  background: transparent;
  position: relative;

  > i.icon-white {
    position: absolute;
    top: 10px;
    right: 5px;
    height:20px;
    width:20px;
    z-index: 3;
  }

  .embed {
    height: 100%;
    width: 100%;
    
    iframe {
      pointer-events: none;
    }
  }

  ul#player-channels {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 3;
    opacity: 0.9;
    box-shadow: 0px 1px 5px black;

    i {
      opacity: 0.6;
    }
  }

  iframe.iframe-ina-fr {
    margin-left: 45px;
  }
}
.player.on {
  display: block;
}
#player-versions.player-meta, #couchmode #player-versions.player-meta {
  bottom: 10%;
}
.player-meta, #couchmode .player-meta {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin: 5% 0 0 1% !important;
  width: 25%;
  min-width: 250px;
  padding: 3px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  h4 {
    font-weight: normal;
    font-size: 1.0em;
    margin: 0;
  }
  &.has-versions {
    h4 {
      display: none;
    }
  }
}
.player:hover .player-meta , #couchmode .player:hover .player-meta {
  visibility: visible;
}

.player-controls {
  position:relative;
  height:8px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 10px;
  
  /* when play button toggles between play/pause class
      we move its background image */
  .play, .pause {
      position:absolute;
      width: 18px;
      height:10px;
      text-indent:-999em;
      cursor:pointer;
      overflow:hidden;
      background:url(http://flash.flowplayer.org/media/img/controls/play_pause.gif) center top no-repeat;
  }
  
  .pause {
      background-position:center -10px;
  }
  
  /* the track or "scrubber"  */
  .track {
      position:absolute;
      top:4px;
      height:18px;
      left:20px;
      background:url(http://flash.flowplayer.org/media/img/controls/track.gif) no-repeat;
      text-align:left;
      cursor:pointer;
      width: 100%;
  }
  
  /* the draggable playhead */
  .playhead {
      position:absolute;
      height:12px;
      background:url(http://flash.flowplayer.org/media/img/controls/playhead.png) no-repeat;
      cursor:pointer;
      top:0px;
      width:12px;
  }
  
  /* buffer and controls are automatically resized, their initial width should be 0 */
  .progress, .buffer {
      background-color:#fff;
      height:6px;
      margin:3px 4px;
      width:0px;
      position:absolute;
      top:0;
      font-size:0px;
  
      /* this is the way to fine tune buffer and progress max width */
      max-width:634px;
  }
  
  .buffer {
      background-color:#999;
  }
  
  /* som proprietary styling for progress bar under mozilla */
  .progress {
      -moz-border-radius-bottomleft:2px;
      -moz-border-radius-topleft:2px;
  }
  
  /* hide time & mute */
  .time, .mute, .unmute {
      display:none;
  }
}