.player-encart {
  position: relative;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-right: 10px;
  padding: 15px 10px;
  margin-top: 35px;
  font-size: 1.5em;
  text-align: center;
  background-color: #FAFAFA;
  &:before {
    position: absolute;
    content: " ";
    top: -12px;
    left: 50%;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #333;
    margin-left: -6px;
  }
}

#player.default-player{
  display: none;
  &.in{
    position: fixed;
    display: block;
    z-index: 1040;
    margin-right: auto;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 400px;
    top: 50px;
  }
  iframe {
    border: 5px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    box-shadow: 0px 0px 20px #000000;
  }
  .close {
    position: absolute;
    right: 0;
    top: -35px;
    opacity: 0.6 !important;
    &:hover {
      opacity: 0.9 !important;
    }
  }
}

/* couchmode */
#couchmode {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;

  #couchmode-inner {
    width: 640px;
    height: 375px;
    margin: 10% 20%;
  }

  #couchmode-close {
    display: block !important;
    color: white;
    text-align: right;
    cursor: pointer;
  }
}

/* player */
.player, #couchmode #couchmode-player.player {
  display: none;
  width: 640px;
  height: 100%;
  background: transparent;
  position: relative;

  > i.icon-white {
    position: absolute;
    top: 10px;
    right: 5px;
    height:20px;
    width:20px;
    z-index: 3;
  }

  .embed {
    height: 100%;
    width: 100%;
    
    iframe {
      pointer-events: none;
    }
  }

  ul#player-channels {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 3;
    opacity: 0.9;
    box-shadow: 0px 1px 5px black;

    i {
      opacity: 0.6;
    }
  }

  iframe.iframe-ina-fr {
    margin-left: 45px;
  }
}
.player.on {
  display: block;
}
#player-versions.player-meta, #couchmode #player-versions.player-meta {
  bottom: 10%;
}
.player-meta, #couchmode .player-meta {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin: 5% 0 0 1% !important;
  width: 25%;
  min-width: 250px;
  padding: 3px;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  h4 {
    font-weight: normal;
    font-size: 1.0em;
    margin: 0;
  }
  &.has-versions {
    h4 {
      display: none;
    }
  }
}
.player:hover .player-meta , #couchmode .player:hover .player-meta {
  visibility: visible;
}

.player-controls {
  position:relative;
  height:8px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 10px;
  
  /* when play button toggles between play/pause class
      we move its background image */
  .play, .pause {
      position:absolute;
      width: 18px;
      height:10px;
      text-indent:-999em;
      cursor:pointer;
      overflow:hidden;
      background:url(http://flash.flowplayer.org/media/img/controls/play_pause.gif) center top no-repeat;
  }
  
  .pause {
      background-position:center -10px;
  }
  
  /* the track or "scrubber"  */
  .track {
      position:absolute;
      top:4px;
      height:18px;
      left:20px;
      background:url(http://flash.flowplayer.org/media/img/controls/track.gif) no-repeat;
      text-align:left;
      cursor:pointer;
      width: 100%;
  }
  
  /* the draggable playhead */
  .playhead {
      position:absolute;
      height:12px;
      background:url(http://flash.flowplayer.org/media/img/controls/playhead.png) no-repeat;
      cursor:pointer;
      top:0px;
      width:12px;
  }
  
  /* buffer and controls are automatically resized, their initial width should be 0 */
  .progress, .buffer {
      background-color:#fff;
      height:6px;
      margin:3px 4px;
      width:0px;
      position:absolute;
      top:0;
      font-size:0px;
  
      /* this is the way to fine tune buffer and progress max width */
      max-width:634px;
  }
  
  .buffer {
      background-color:#999;
  }
  
  /* som proprietary styling for progress bar under mozilla */
  .progress {
      -moz-border-radius-bottomleft:2px;
      -moz-border-radius-topleft:2px;
  }
  
  /* hide time & mute */
  .time, .mute, .unmute {
      display:none;
  }
}