.podTitles{
    float:left;
    clear:none;
    font-size:12px;
    font-weight:bold;
    color:#3A3938;
    line-height:23px;
    margin-left:10px;
}

/* Page programme theme */
#view-program {

  .channel{
    text-align: center;
  }
  .ms-reminder, .ms-reminder i{
    font-size: 0.8em;
    font-weight: normal;
    color:#dc2561;
  }
  .replay_label{
    font-size: 16px;
    color: #232323;
    text-align: center;
    display: block;
    width: 100%;

  }

  #program-offers {
    .panel {
      padding: 0 0 30px 0;
      position: relative;
    
      &.panel-synopsis p {
        margin: 0;
      }

      .panel-heading{
        margin: 0;
      }
      .btn-reveal {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0.9em;
        padding: 2px 5px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border: 0px;
      }

      table {
        margin:0;
        width: 100%;

        tr {
          td {
            padding-top: 15px;
            vertical-align: middle;
            &.channel {
              width: 120px;
            }
            &.offers {
              text-align: center;
              width: 200px;
              button {
                width: 190px;
              }
            }
            &.episode {
              h4{  
                font-size: 1.1em;
                font-weight: bold;
                margin: 0;
              }
              .infos {
                font-size: 0.8em;
              }
            }
          }
          img {
            display:block;
            margin-left:auto;
            margin-right:auto;
          }
        }
      }
    }
  }

  .scrollplayerzone{
    margin-top: 20px;
  }

  #player{
    max-height: 320px; 
  }


  #affiche{
    height: 320px; 
  }
  .videotitle  {
    h1{
      font-size: 2.5em;
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }


  /* boutons */

  .suivre {
    .btn-suivre {
      float: right;
      margin-top: 20px;
      margin-right:25px;
      min-width: 140px;
    }
  }

  .ms-vid-type{
    font-size: 1.1em;
    display: block;
    margin-top: 20px;
  }

  .tab-content{
    margin-top:20px;  
  }


  /* DESCRIPTIONS DE DROITE*/

  a[itemprop="url"]{
    &:hover{
     color: @bluemaincolor;
     text-decoration: none;
   }
   span[itemprop="name"], span[itemprop="actor"], span[itemprop="director"], .actors_reveal{
    color: #000000;
    &:hover{
     color: @bluemaincolor;
     text-decoration: none;
   }

  }
}
    

  .actors_reveal{
    font-style:italic;
  }
  .channel_link{
    background:#778390;
    text-align: center;
    display: block;
    padding: 1px;
  .link-background-transition;
  }
  .channel_link:hover, .channel_link:active, .channel_link:focus,{
    background:@bluemaincolor;
  }

  .channel_root{
    width: 100%;
    display: block;
  }
  .channel_texte{
    font-size: 12px;
    display: inline-block;
    color: #fff;
  }



  //Social bar
  .ms-social-bar {
    height: 35px;
    background: #eeeeee;
    > span{
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase;
      color: @bluesecondarycolor;
      display: block;
      margin: 0 0 3px;
    }
  }


  .ms-cat-title{
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    margin: 20px 0px 2px 0px;
  }


  .label{
    margin-right:3px; 
  }
  /*

  .ms-cat-element{
    font-size: 13px;
    display: inline-block;
    text-align:center; 
    background: #778390;
    padding: 3px;
    margin: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
  .link-background-transition;
  }
  .ms-cat-element:hover, .ms-cat-element:active, .ms-cat-element:focus{
    background: @bluemaincolor;
    color:#fff;
    text-decoration: none;
  }
  */

  .ms-cat-program-title, 
  .ms-cat-program-title:hover, 
  .ms-cat-program-title:active, {
    text-decoration: none;
  }
  .ms-cat-program-title h3{
    text-decoration: none;
    font-size: 18px;
    color: @bluemaincolor;
  }



  .external-collapser {
    i {
      font-size: 12px;
    }
    &:hover{
        cursor: pointer;
    }
  }

  #program-teaser-player iframe {
    background: black;
  }
}