#view-program {
  padding: 0 0 150px 0;

  h1 {
    width: 90%;
    span {
      color: #999;
      display: block;
      font-size: .8em;
      font-weight: normal;
      line-height: 25px;
    }
  }

  ul.breadcrumb {
    position:absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    margin-left: 0;
  }
    
  .program-title {
    margin: 35px 0 0 0;
  }

  #program-friends {
    .user-on, .user-off {
      clear: both;

      .progress {
        margin: 50px 100px 0px;
      }
    }
  }
  
  #program-share {
    padding-left: 40px;
    line-height: 30px;
  }

  #program-follow {
    position: absolute;
    right: 0;
    top: -50px;
  }

  #program-description {
    position: absolute;
    bottom: 0;

    .description {
      background: white;
      color: black;
      margin: -550px 0 0 420px;
      width: 550px;
      height: 180px;
      overflow: auto;
    }
  }

  #theaters {
    #trigger-theaters-geoloc {
      margin-left: 20px;
    }
    .btn-group {
      display: inline-block;
    }
    .progress {
      margin: 50px 100px 0px;
    }
  }

  .view-program-main {
    clear: both;
    position: relative;
    padding: 20px 0  30px;

    .row > div.span3 {
      width: 331px;
    }

    .view-program-block {
      padding:10px;
    }

    #program-main-block {
      margin-top: -10px;
      min-height: 330px;

      #program-teaser {
        width: 723px;
        height: 330px;
        margin-bottom: 30px;
        background: rgba(0,0,0,0.5);

        .player, #program-teaser-player {
          height: 100%;
          background: url(/bundles/skreenhousefactoryv3/images/big-play.png) center center no-repeat;
          cursor: pointer;
        }
      }

      #program-offers {
        background: #FCFCFC;
        margin-top: -10px;

        .nav-pills > li > a {
          padding-right: 8px;
          padding-left: 8px;
        }

        .tab-content {
          
          .table-container.has-notification {
            tr td.notif {
              display: block;
            }
          }
          
          .table-container {

            overflow-y: auto;
            max-height: 253px;
            overflow-x: hidden;

            tr {
              
              td {
                padding: 8px 4px;

                .big {
                  display: block;
                  text-transform: uppercase;
                  font-size: 1.5em;
                  color: #999;
                  font-weight: bold;
                }

                &.notif {
                  display: none;
                  .badge {
                    opacity: 0.1;
                    &.badge-important {
                      opacity: 1;
                    }
                  }
                }
                &.icon {
                  width: 35px;
                  span {
                    padding: 10px;
                    background: #DDD;
                    opacity: 0.8;
                    border-radius: 20px;
                  }
                }
                &.episode {
                  min-width: 250px;

                  img {
                    height:50px;
                    margin-right:10px;
                  }

                  .label {
                    font-size: 0.8em;
                    font-weight: normal;
                  }
                }
                &.channel {
                  min-width: 70px;
                  text-align: center;
                }
                &.price {
                  font-size: 1.5em;
                }
                &.access {
                  min-width: 180px;
                  .label {
                    margin-left: 5px;
                  }
                }
                &.tags {
                  .label {
                    margin-right: 3px;
                  }
                }
              }
              
              &.program-theaters {
                 margin-left: 20px;
                 
                 #theaters-list {
                  clear: both;
                 }
              }
            
              &:hover {
                td {
                  &.icon span {
                    background: #f89406;
                  }
                  .big {
                    color: #f89406;
                  }
                }
              }
            }
          }
          
          .accordion-heading {
            a {
              
              &.accordion-toggle {
                padding-bottom: 0;
              }
              &.pull-right {
                margin: 10px 10px 0;
              }
              &.address {
                padding-left: 15px;
                color: #000;
                font-size: 0.9em;
              }
            }
          }
          .carousel {
            .carousel-inner {
              margin-left: 45px;
              width: auto;

              .carousel-control {
                top: 45%;

                &.right {
                  right: -15px;
                }
                &.left {
                  left: -15px;
                }
              }
              .item {
                a {
                  display: block;
                  position: relative;
                  width: 180px;
                  height: 150px;
                  margin: 0 12px 10px;
                  line-height: 1em;
                  font-size: 0.8em;
                  color: black;

                  span {
                    position: absolute;
                    margin: 10px;
                    background: white;
                    opacity: 0.8;
                    padding: 3px;
                  }

                  img {
                    width: 170px;
                    height: 120px;
                  }

                  .title {
                    position: absolute;
                    top: 85px;
                    margin: 3px 7px;
                    background-color: rgba(0,0,0,0.75);
                    color: white;
                    height: 35px;
                    overflow: hidden;
                    padding: 2px 5px 0 5px;
                    font-family: Tahoma;
                    line-height: 1.1em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .view-program-column {

    hr {
      margin: 10px 0;
    }
    .fav {
      font-size:1.3em;
      margin: 8px 0 17px 0;
    }
    .popular-channel {
      padding: 5px;
      background: white;
      opacity: 0.8;
      position: absolute;
      right: 0px;
      top: 0px;
      border-bottom-left-radius: 5px;
    }
    .teaser {
      position:absolute;
      height:150px;
      margin: 80px 0 0 45px;
      opacity: 0.9;
    }
    #program-episodes {
      margin-top: 20px;

      .program-episode {
        display: block;
        
        &.season-episode, &:nth-child(2) {
          display: inline-block;
        }
        
        .btn-group + .btn-group {
          margin-left: 0px;
        }
      }        
      .label {
        margin-left:20px;
      }
    }
    .nav-list {
      margin-top: 10px;
    }
  }
  
  #program-related {
    h3 {
      padding-left: 10px;
    }
    .person-list {
      padding:0px 10px 10px;
    }
  }

  #program-infos {
    height: 550px;
    background: white;
    border: 1px solid #CCC;
    paddin-right: 20px;

    h3 {
      line-height: 1em;
    }

   .img {
    margin-right: 20px;
    width: 400px;
    height: 100%;
   }
   .inner {
      padding: 10px;
   }
   #program-casting {
    margin-top: 240px;
    max-height: 160px;
    overflow-y: auto;
   }
  }
}
