/* Chaines les inconnus */


#channel1{

	.header-content{
		display: block;
		height: 109px;
		margin-left: -470px;
		position: absolute;
		top: 362px;
		width: 940px;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
	}
	h1{
		display: inline-block;
		font-size: 30px;
		width: 70%;
	}
	.suivre-btn{
		float: right;
		margin: 20px 10px 0 0px;
		padding: 10px;
	}
	#inconnusvolant{
		margin-top: 75px;
		position: absolute;
		right: 10px;
	}
	.lead {
		font-size: 1.13em;
		line-height: 1.6em;
		width: 75%;
	}

}

body.view-channel #main #channel1 .share-block{
	left: 210px!important;
	min-width: 400px!important;
	position: absolute!important;
	top: 18px!important;
	z-index: 1!important;
}

/* ----- */