/*
ce réglage permet de garantir pour tous les navigateurs que la padding n'affectera pas la taille de son container
*/
html, body, div, p, table, ul, li, h1, h2, h3, h4, h5, span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}