// -- view
#view-search {

  .panel {
    margin-left: 10px;
  }
  
  .accordion {
    margin-top: 20px;
  }

  /*===========================================================
   * Carousel Youtube
   * ========================================================*/
  
  #carousel-youtube {
    
    .carousel-control {
      padding-top: 13%;
      font-size: 5em;
      color: black;
      width: 9.5%;
      background-image: none;
      filter: none;
      line-height: 25px;      
      &.right {
        right: -15px;
      }
      &.left {
        left: -15px;
      }
    }
    .carousel-inner {
      padding-left: 80px;
      .item {
        a {
          display: block;
          position: relative;
          width: 180px;
          height: 132px;
          margin: 0 6px 6px;
          line-height: 1em;
          font-size: 0.8em;
          color: black;

          span {
            position: absolute;
            margin: 6px;
            background: white;
            opacity: 0.8;
            padding: 3px;
          }

          img {
            width: 170px;
            height: 120px;
          }

          .title {
            padding: 2px 5px 0 5px;
            line-height: 1.1em;
            color: #ccc;
          }
        }
      }
    }
  }

  .nav-pills > li > a {
    padding-right: 8px;
    padding-left: 8px;

      span {
        font-size: 12px;
        color: #ccc;
      }
  }

  .nav-pills > li.active > a {
      span {
        color: #fff;
      }
  }
}
