ul.list-group {
  li.list-group-item {
    &.list-header {
      background: #EEE;
      padding: 10px;
      font-family: 'Raleway';
    }
  }
}

body.view-selections #main {
  padding-top: 65px!important;
}

#view-selection {
  padding-bottom: 400px;
  #selection-programs {
    h2 {
      margin-top: 0;
    }
  }
  #selection-related {
    
    ul.list-group {
      margin-top: 10px;
      li.list-share {
        background: #EEE;
        padding: 10px;
        .share-block {
          .twitter-share {
            margin-left: 40px!important;
          }
        }
      }
    }
  }
}
.touch article #main #content #view-selection #selection-related .share-block .g-plus-share {
  height: 68px!important;
  width: 60px!important;
  margin-top: -8px!important;
}