ul.list-group {
  li.list-group-item {
    &.list-header {
      background: #EEE;
      padding: 10px;
      font-family: 'Raleway';
    }
  }
}

#view-selection {
  padding-bottom: 0;
  h2 {
    font-size: 20px;
  }
  h3 {
    font-weight: bold;
  }
  .clear{
    width: 65%;
  }
  #selection-programs {
    width: 67%;
    clear: none;
    margin-top: 20px;
  }
  #selection-related {
    float: right;
    width: 300px;
    
    ul.list-group {
      margin-top: 10px;
      li.list-share {
        background: #EEE;
        padding: 10px;
      }
    }
  }
/*
    img.channel{
    display: none;
  }
*/
}