ul.list-group {
  li.list-group-item {
    &.list-header {
      background: #EEE;
      padding: 10px;
      font-family: 'Raleway';
    }
  }
}

#view-selection {
  padding-bottom: 0;
  #selection-programs {
    h2 {
      margin-top: 0;
    }
  }
  #selection-related {
    
    ul.list-group {
      margin-top: 10px;
      li.list-share {
        background: #EEE;
        padding: 10px;
      }
    }
  }
}