// CSS commun
.description {
    border: 1px solid #BFBFBF;
    bottom: 0;
    margin-top: 300px;
    max-height: 400px;
    overflow: auto;
    padding: 15px;
    text-align: left;
    width: 940px;
    background-color: white;
}
#view-home{
  .description {
    bottom: 0;
    left: 50%;
    margin-left: -470px;
    margin-right: auto;
    position: absolute;
    text-align: left;
    padding: 15px;
    width: 940px;
      border: 1px solid #BFBFBF;
    h1, h2, h3, h4, h5, p, span, a{ 
      font-size: 12px;
      color: #6d6d6d;
      margin-top: 5px;
    }
  }
}