//création de l'espace pour placer le div SEO
#view-tvgrid, #view-home, #view-page, #view-fournisseur{
  padding-bottom: 400px;
}
.home-mixte #view-home {
    padding-bottom: 0px;
}





//le fameux div SEO


#description-seo{
    background-color: #FFFFFF;
    border: 1px solid #BFBFBF;
    bottom: 0;
    left: 50%;
    margin-left: -470px;
    margin-top: 300px;
    max-height: 350px;
    overflow: auto;
    padding: 15px;
    position: absolute;
    text-align: left;
    width: 940px;
    h1, h2, h3, h4, p, span, a {
    color: #6D6D6D;
    font-size: 12px;
    margin-top: 5px;
    }
}

// div SEO pour la page 'a' du box-office - évite le débordement des thumbnails sur la div
.view-cinema_boxoffice, #view-selection {
    #description-seo {
        position: static;
        margin-left: 0;
        margin-top: 0;
    }
}

