@sk-blue: #428bca;

#main {
  .nav.nav-pills {
    margin-top: 20px;
    li {
      span[data-link-to-replace] {
        position: relative;
        display: block;
        padding: 10px 15px;
      }
      a:hover {
        color: #fff;
        background-color: @sk-blue;
      }
    }
    li + li {
      margin-left: 10px;
    }
  }
  .table {
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
  }
}