// Les conquérants
body.home.skin, body.home-cinema.skin{
	.background{
      margin: auto;
      top: 0;
      width: 100%;
      height: 2600px;
      display: block;
      position: absolute;
      background: url("http://mskstatic.com/medias/photos/habillages/les-conquerants.jpg") no-repeat top center;
    }
    #view-home{
    	.col-xs-8{
    		background-color: white;
    		&.suggester{
				margin-bottom: 30px;
				margin-top: 0px;
    		}
    	}
	   #carousel-a-la-une,#carousel-selection-cinema{
       margin-bottom: 80px;
       z-index: 2;
       width: 970px;
       margin: 0 auto;
       overflow: hidden;
       .carousel-control{
       	top: 130px;
       	&.right{
       		right: 65px;
       	}
       }
     }
   }
}











/* Mariage à l'anglaise

body.home.skin{
    .background{
      margin: auto;
      top: 0;
      width: 100%;
      height: 2700px;
      display: block;
      position: absolute;
      background: url("http://mskstatic.com/medias/photos/MariageAlAnglaise/homeMAA.jpeg") no-repeat top center;
    }
    #header{
      margin-top: 76px;
    }
    #view-home{
    margin-top: 75px;
    .first-container{
       margin-top: 70px;
       padding-top: 10px;
       background: white;
       h4{
         margin: 5px 0 0 15px;
       }
       .slider-link{
         margin-right: 15px;
       }
     }
    .carousel {
       top: 70px;
       margin-bottom: 80px;
       z-index: 2;
       width: 990px;
       margin: 0 auto;
       overflow: hidden;
     }
   }
   #top-playlist{
     top: 145px;
   }
}

*/