
  .background-clickable{
    margin: auto;
    top: 0;
    width: 100%;
    height: 1100px;
    display: block;
    position: absolute;
  }



.item-200000064, .item-200000032, .item-200000001{
  display:none;
}


.twitter-link{
  z-index: 1;
  position: absolute;
  top: 141px;
  left: -168px;
  height: 40px;
  width: 179px;
  &:hover{
    background: white;
    opacity: 0.3;
    border-radius: 10px;
  }
}
.fb-link{
  z-index: 1;
  position: absolute;
  top: 93px;
  left: -168px;
  height: 40px;
  width: 179px;
  &:hover{
    background: white;
    opacity: 0.3;
    border-radius: 10px;
  }
}



/* Mariage à l'anglaise

body.home.skin{
    .background{
      margin: auto;
      top: 0;
      width: 100%;
      height: 2700px;
      display: block;
      position: absolute;
      background: url("http://mskstatic.com/medias/photos/MariageAlAnglaise/homeMAA.jpeg") no-repeat top center;
    }
    #header{
      margin-top: 76px;
    }
    #view-home{
    margin-top: 75px;
    .first-container{
       margin-top: 70px;
       padding-top: 10px;
       background: white;
       h4{
         margin: 5px 0 0 15px;
       }
       .slider-link{
         margin-right: 15px;
       }
     }
    .carousel {
       top: 70px;
       margin-bottom: 80px;
       z-index: 2;
       width: 990px;
       margin: 0 auto;
       overflow: hidden;
     }
   }
   #top-playlist{
     top: 145px;
   }
}

*/