/* ===== v3 =================================================================
   Author: Benoît Bergstörm
   ========================================================================== */
@import "mixins.less";


@bgBody:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist.jpeg");
@sliderHeight:   210px; /*245px;*/
@vignetteWidth:   150px;
@vignetteHeight:   200px;
@vignetteBorder:  1px solid transparent;
@selectorBorder:  1px solid #BBBBBB;
@vignetteBorderEmpty:  1px dashed #BBBBBB;
@vignetteMargin:  0 12px 0 0;




.col-xs-8.suggester{
  margin-top: 30px;
  .suggestion{
    background: #f3eeee;
    padding-left: 11px;
    padding-top: 7px;
    height: 30px;
    span{
     	font-size: 14px;
     	font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
     	text-transform: uppercase;
     	color:#595959;
    }
    button{
    	margin-right: 10px;
    	float: right;
    }
  }
  .new-slider{
  	background: #f3eeee;
    .wrap-title{
      position: absolute;
      opacity:0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    .link-opacity-transition;
    }
    .wrap-title:hover{
      position: absolute;
      opacity: 1;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
    }
    a{
      &.title{
      display: block;
      text-align: center;
      padding-top: 60%;
      width: 100%;
      height: 100%;
      color: white;
      text-shadow: 1px 1px 1px #000000;
      filter: dropshadow(color=#000000, offx=1, offy=1);
      }
    }
    .support4{
      float:left;
      height: 440px;
      width: 66.66666666666666666666%;
    }
    
    .support3{
      float:left;
      height: 220px;
      width: 100%;
    }
    .support2{
      float:left;
      height: 220px;
      width: 66.66666666666666666666%;
    }
    .support1{
      float:left;
      height: 220px;
      width: 33.33333333333333333333%;

    }
    .image4{
      position: relative;
      margin: auto;
      height: 400px;
      width: 97%;
      background-color: black;
    }
    .image3{
      position: relative;
      margin: auto;
      height: 180px;
      width: 97%;
      background-color: black;
    }
    .image2{
      position: relative;
      margin: auto;
      height: 180px;
      width: 96%;
      background-color: black;
    }
    .image1{
      position: relative;
      margin: auto;
      height: 180px;
      width: 92%;
      background-color: black;
    }
    .info_vignette{
    
      color: grey;
      font-size: 0.9em;
    
      &.size-4,&.size-2{
          width: 286px;
          margin:auto;
      }
      &.size-3{
          width: 97%;
          margin: auto;
      }
      &.size-1{
          width: 92%;
          margin:auto;
      }
    }

    .carousel-indicators {
      margin-left: 1%;
      bottom: 3px;
      li {
        width: 13px;
        height: 13px;
        background-color: rgba(70,70,70,.25);
        border: 1px solid  rgba(70, 70, 70, 0.25);
        &.active {
          margin: 1px;
          background-color: #444;
        }
      }
    }
    .wrap-carousel-control{
      position: relative;
      left: 308px;
      height: 40px;
      width: 200px;
      bottom: 9px;
    }
    .carousel-inner{
      height: 440px;
    }
    .carousel-control{
      z-index: 15;
      color: black;
      position: absolute;
      background: none;
      width: 35px;
      height: 35px;
      border-radius: 23px;
      border: 1px solid grey;
      top: 6px;
      &.left{
      }
      &.right{
        right: 59px;
      }
      .glyphicon{
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 24px;
      }
    }
  }
}
#carousel-a-la-une, #carousel-selection-cinema{
  .carousel-inner{
    .item{
      .container{
        .carousel-caption{
          left: 0%;
          right: 0%;
          width: 100%;
          >h4{
            text-align: left;
          }
          .fb-like{
            float: left;
          }
          >p.pull-left{
            color: white;
          }
        }
      }
    }
  }
}
.carousel{
  .carousel-control{
    background-image: none;
    filter: none;
  }
}







/* ANCIEN CSS ************************************************************************ */
/* hack pblv */
.container-root-3517970 .view-program-column .popular-channel.logo-channel-52 {
  display: none;
}
.slider ul.items li.root-3517970 {
  .channel.logo-channel-52 {
    img {
      display: none;
    }
  }
}

/* link */
.slider-link {
  margin-top: 10px;
  opacity: 0.8;
  a {
    color: black;
  }
}

/* slider */
.slider.navigate {
  .slider-container {
    box-shadow: inset -8px 0px 6px -8px black;
    border-right: 1px solid #999;
  }
}
.slider.back {
  .left {
    visibility: visible;
  }
  .slider-container {
    /*box-shadow: inset 8px 0px 6px -8px black;*/
    border-left: 1px solid #999;
  }
}
.slider.slider-list {
  height: auto;
  
  ul.items {
    white-space: normal;
    position: relative;

    li {
      margin-bottom: 15px;
    }
  }
}
.slider.empty {
  background: url("/bundles/skreenhousefactoryv3/images/slider-empty-bg.png") no-repeat;
}
.slider.no-scroll {
  height: auto !important;
  overflow: auto !important;

  ul.items {
    position: relative !important;
  }
}
.slider.slider-loading {
  ul.items {
    li {
      opacity: 0.4;

      &.loader {
        opacity: 1;
        display: block !important;
        border: none !important;
      }
    }
  }
}

.touch .slider {
  /*width: 95%;*/
  ul.items {
    li.selector {
      cursor: pointer;
      border: @selectorBorder;
      box-shadow: none;
      margin: 0 20px;
    }
  }
}
.slider {
  position: relative;
  height: @sliderHeight;
  width: 100%;
  /*overflow: hidden;*/
  clear: both;
  z-index: 1;

  .left, .right {
    border-radius: 24px;
    background-color: grey;
    border: 3px solid #fff;
    border-color: #EEEEEE !important;
    opacity: 0.9;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 42%;
    cursor: pointer;
    line-height: 33px;
    font-size: 45px;
      width: 45px;
      height: 45px;
  }
  .left {
    left: 20px !important;
  }
  .right {
    left: 890px;
    right: -25px !important;
  }
  
  h2, h3 {
    span.pull-right {
      margin-right: 10px;
      color: #999;
    }
  }

  &.current {
    h2, h3 {
      span.pull-right {
        display: none;
      }
    }
  }
  
  .slider-container {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  ul.items {
    position: absolute;
    margin: 0;
    white-space: nowrap;
    padding-left: 0px;
    li {
      background-color: black;
      background-position: center center;
      cursor: pointer;
      position: relative;
      font-family: Helvetica, Arial;
      width: @vignetteWidth;
      height: @vignetteHeight;
      display: inline-block;
      border: @vignetteBorder;
      margin: @vignetteMargin;
      background-repeat: no-repeat;
      list-style: none;
      text-align: center;
      box-shadow: 1px 1px 4px #999;
      white-space: normal;

      .channel {
        text-decoration: none;
        position: absolute;
        right: 0px;
        top: 0px;
        border-bottom-left-radius: 5px;
        opacity: 0.9;

        img {
          margin: 3px 0;
          max-width: 60px;
        }

        .diff {
          display: block;
          opacity: 0.3;
          background: black;
          color: white;
          font-size: 0.7em;
          padding: 4px;
          line-height: 1.2em;
          border-bottom-left-radius: 5px;
          width: 72px;
          text-transform: uppercase;
          
          &.hide {
            display: none;
          }
          > div {
            border-top: 1px solid white;
            .friends {
              text-align: left;
              border: 0;
              margin-top: 5px;
              img {
                display: inline-block;
                width: 25px;
              }
            }
          }
        }
      }

      h6 {
        position: absolute;
        left: 0;
        top: 35%;
        font-weight: normal;
        text-shadow: 1px 1px 2px white;
        padding: 10px;
        
        b {
          font-size: 1.3em;
        }
      }
      /* TO REMOVE */
      > div.friends {
        display: none;
        /*position: absolute;
        z-index: 2;*/
      }

      div.progress {
          margin: 10px;
      }
      span {
        color: white;
      }
      span.badge {
        position: absolute;
        z-index: 1;
        top: 1px;
        right: 0px;
        box-shadow: 0px 0px 20px white;

        &.fav-trash {
          top: -10px;
          left: -10px;
          right: auto;
          display:none;
          padding: 5px;
          border-radius: 15px;
          border: 3px solid white;
        }
      }
      span.opacity {
        opacity: 0.5;
        box-shadow: 0;
        border: 0;
      }
      span.label {
        font-weight: normal;
        box-shadow: 0px 2px 3px #555;
        border: 1px solid #AAA;
        border-top: 1px solid #555;
      }
      a.title {
        text-decoration:none;
        color:white;
        position: absolute;
        bottom: 5px;
        left: 5px;
        text-shadow: 1px 1px 0px black;
        text-align: left;
        line-height: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 16px;
        margin: 2px;
        padding: 0 1px 0 2px;
        border-radius: 4px;
        font-size: 0.9em;
        background-color: rgba(0,0,0,0.7);
        /*
        background: rgb(0,0,0); 
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%, rgba(0,0,0,0) 70%);
        background: -webkit-gradient(radial, center center, 0px, center center, 30%, color-stop(0%,rgba(0,0,0,1)), color-stop(70%,rgba(0,0,0,0))); 
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%); 
        background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%); 
        background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%);
        background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=1 );
        */
        i {
          display: none;
        }
      }

      &.selector {
        cursor: pointer;
        border: @selectorBorder;
        box-shadow: none;
        margin: 0 7px;
        box-shadow: 1px 1px 5px black;
        background-color: #EEE;

        h6 {
          text-transform: uppercase;
          color: #999;
          font-size: 0.8em;
          margin: 0;
        }

        a.btn {
          background: transparent;
          border: none;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width:80%;
        }

        span.badge {
          left: 25%;
          top: 50px;
          right: auto;
          box-shadow: 0px 0px 20px white;
        }

        span.label {
          margin-top: 5px;
          padding: 10px;
          font-size: 1.1em;
          position: relative;
          display: inline-block;
        }

        &.empty {
          border: @vignetteBorderEmpty;
          box-shadow: none;
        }

        .alert {
          position: absolute;
        }
      }

      &:hover, &.li-hover, &.tv-component-focused {
        .channel {
          display: block;
          background: #EEE;
          
          .diff {
            opacity: 0.9;
          }
        }
        a.title { 
          height: auto;
        }
        .badge.fav-trash {
          display: block;
        }
        .add-playlist {
        	display: block;
          position: absolute;
          margin: 80px 30px;
        }
      }
      &.tv-component-focused {
        border: 1px solid #BCE8F1;
        box-shadow: 1px 1px 4px #BCE8F1;
      }
      &:hover {
        border: 1px solid #FBEED5;
        box-shadow: 1px 1px 4px #FBEED5;
      }
      &.deporte {
        div.actions a.btn span {
          display: block;
        }
        .title i {
          display: inline-block;
        }
        &.hasvod-1 .title i {
          display: none;
        }
      }
      &.deporte:hover, &.tv-component-focused.deporte {
        a.title {
          background-color: rgba(0,0,0,0.7);
        }
      }
      &.films:not(.missing-picture) {
        a.title {
          background: transparent;
          font-size: 0;
        }
        &:hover, &.li-hover, &.tv-component-focused {
          a.title {
            font-size: 1.0em !important;
            background-color: rgba(0,0,0,0.7);
          }
        }
      }
      &[data-id="%id%"] {
        display: none;
      }
      &.loader {
        position: absolute;
        z-index: 1;
        display: none ;
        background: transparent !important;
        box-shadow: none !important;
        padding: 30px 0 0 420px;
        border: none !important;
      }
      &.loader.loader-pager {
        display: block;
      }
  
      &.to-animate {
        width: 0;
      }
    }
  }
}