/* ===== v3 =================================================================
   Author: Benoît Bergstörm
   ========================================================================== */

@bgBody:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist.jpeg");
@sliderHeight:   210px; /*245px;*/
@vignetteWidth:   150px;
@vignetteHeight:   200px;
@vignetteBorder:  1px solid transparent;
@selectorBorder:  1px solid #BBBBBB;
@vignetteBorderEmpty:  1px dashed #BBBBBB;
@vignetteMargin:  0 12px 0 0;

/* link */
.slider-link {
  margin-top: 10px;
}

/* slider */
.slider.navigate {
  .slider-container {
    box-shadow: inset -8px 0px 6px -8px black;
    border-right: 1px solid #999;
  }
}
.slider.back {
  .left {
    visibility: visible;
  }
  .slider-container {
    /*box-shadow: inset 8px 0px 6px -8px black;*/
    border-left: 1px solid #999;
  }
}
.slider.slider-list {
  height: auto;
  
  ul.items {
    white-space: normal;
    position: relative;

    li {
      margin-bottom: 15px;
    }
  }
}
.slider.empty {
  background: url("/bundles/skreenhousefactoryv3/images/slider-empty-bg.png") no-repeat;
}
.slider.no-scroll {
  height: auto !important;
  overflow: auto !important;

  ul.items {
    position: relative !important;
  }
}
.slider.loading {
  ul.items {
    li {
      opacity: 0.4;

      &.loader {
        opacity: 1;
        display: block !important;
        border: none !important;
      }
    }
  }
}

.touch .slider {
  /*width: 95%;*/
  ul.items {
    li.selector {
      cursor: pointer;
      border: @selectorBorder;
      box-shadow: none;
      margin: 0 20px;
    }
  }
}
.slider {
  position: relative;
  height: @sliderHeight;
  width: 100%;
  /*overflow: hidden;*/
  clear: both;
  z-index: 1;

  .left, .right {
    border-color: #EEEEEE !important;
    opacity: 0.9;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 45%;
    cursor: pointer;
    line-height: 25px;
  }
  .left {
    left: -25px !important;
  }
  .right {
    right: -25px !important;
  }
  
  h2, h3 {
    span.pull-right {
      margin-right: 10px;
      color: #999;
    }
  }

  &.current {
    h2, h3 {
      span.pull-right {
        display: none;
      }
    }
  }
  
  .slider-container {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  ul.items {
    position: absolute;
    margin: 0;
    white-space: nowrap;

    li {
      background-color: black;
      background-position: center center;
      cursor: pointer;
      position: relative;
      font-family: Helvetica, Arial;
      width: @vignetteWidth;
      height: @vignetteHeight;
      display: inline-block;
      border: @vignetteBorder;
      margin: @vignetteMargin;
      background-repeat: no-repeat;
      list-style: none;
      text-align: center;
      box-shadow: 1px 1px 4px #999;
      white-space: normal;

      .channel {
				text-decoration: none;
        position: absolute;
        right: 0px;
        top: 0px;
        border-bottom-left-radius: 5px;
        opacity: 0.9;

        img {
          margin: 3px 0;
        }

        .diff {
          display: none;
          background: black;
          color: white;
          font-size: 0.8em;
          padding: 4px;
          line-height: 1.1em;
          border-bottom-left-radius: 5px;
          width: 65px;
					text-transform: uppercase;
          
          &.hide {
            display: none;
          }
        }
      }

      h6 {
        position: absolute;
        left: 0;
        top: 35%;
        font-weight: normal;
        text-shadow: 1px 1px 2px white;
        padding: 10px;
        
        b {
          font-size: 1.3em;
        }
      }

      div.friends {
        position: absolute;
        z-index: 2;
        /*
        bottom: -45px;

        img {
          height: 35px;
        }
        */
      }

      div.progress {
          margin: 10px;
      }
      span {
        color: white;
      }
      span.badge {
        position: absolute;
        z-index: 1;
        top: 1px;
        right: 0px;
        box-shadow: 0px 0px 20px white;

        &.fav-trash {
          top: -10px;
          left: -10px;
          right: auto;
          display:none;
          padding: 5px;
          border-radius: 15px;
          border: 3px solid white;
        }
      }
      span.opacity {
        opacity: 0.5;
        box-shadow: 0;
        border: 0;
      }
      span.label {
        font-weight: normal;
        box-shadow: 0px 2px 3px #555;
        border: 1px solid #AAA;
        border-top: 1px solid #555;
      }
      a.title {
        text-decoration:none;
        color:white;
        position: absolute;
        bottom: 5px;
        left: 5px;
        text-shadow: 1px 1px 0px black;
        text-align: left;
        line-height: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 16px;
        margin: 4px;
        padding: 0 0 0 5px;
        border-radius: 4px;
        font-size: 0.9em;
        background-color: rgba(0,0,0,0.7);
			  /*
				background: rgb(0,0,0); 
			  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%, rgba(0,0,0,0) 70%);
			  background: -webkit-gradient(radial, center center, 0px, center center, 30%, color-stop(0%,rgba(0,0,0,1)), color-stop(70%,rgba(0,0,0,0))); 
			  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%); 
			  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%); 
			  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%);
			  background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 30%,rgba(0,0,0,0) 70%); 
			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=1 );
				*/
        i {
          display: none;
        }
      }

      &.selector {
        cursor: pointer;
        border: @selectorBorder;
        box-shadow: none;
        margin: 0 7px;
        box-shadow: 1px 1px 5px black;
        background-color: #EEE;
  
        h6 {
          text-transform: uppercase;
          color: #999;
          font-size: 0.8em;
          margin: 0;
        }
  
        a.btn {
          background: transparent;
          border: none;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width:80%;
        }
  
        span.badge {
          left: 25%;
          top: 50px;
          right: auto;
          box-shadow: 0px 0px 20px white;
        }
  
        span.label {
          margin-top: 5px;
          padding: 10px;
          font-size: 1.1em;
          position: relative;
          display: inline-block;
        }
  
        &.empty {
          border: @vignetteBorderEmpty;
          box-shadow: none;
        }
        
        .alert {
          position: absolute;
        }
      }

      &:hover, &.tv-component-focused {

        .channel {
          display: block;
          background: #EEE;
          
          .diff {
            display: block;
          }
        }
        a.title { 
          height: auto;
        }
        .badge.fav-trash {
          display: block;
        }
      }
      &.tv-component-focused {
        border: 1px solid #BCE8F1;
        box-shadow: 1px 1px 4px #BCE8F1;
      }
      &:hover {
        border: 1px solid #FBEED5;
        box-shadow: 1px 1px 4px #FBEED5;
      }
      &.deporte {
        div.actions a.btn span {
          display: block;
        }
        .title i {
          display: inline-block;
        }
      }
      &.deporte:hover, &.tv-component-focused.deporte {
        a.title {
        	background-color: rgba(0,0,0,0.7);
        }
      }
      &.films:not(.missing-picture) {
        a.title {
          background: transparent;
          font-size: 0;
        }
        &:hover, &.tv-component-focused {
          a.title {
            font-size: 1.0em !important;
        		background-color: rgba(0,0,0,0.7);
          }
        }
      }
      &[data-id="%id%"] {
        display: none;
      }
      &.loader {
        position: absolute;
        z-index: 1;
        display: none !important;
        background: transparent !important;
        box-shadow: none !important;
        padding: 30px 0 0 420px;
        border: none !important;
      }
      &.loader.loader-pager {
        display: block;
      }
  
      &.to-animate {
        width: 0;
      }
    }
  }
}