  /* ===== v3 =================================================================
Author: Benoît Bergstörm
========================================================================== */
@import "mixins.less";


@bgBody:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist.jpeg");
@sliderHeight:   210px; /*245px;*/
@vignetteWidth:   150px;
@vignetteHeight:   200px;
@vignetteBorder:  1px solid transparent;
@selectorBorder:  1px solid #BBBBBB;
@vignetteBorderEmpty:  1px dashed #BBBBBB;



/* list horizontale */
.list ul.items {
  margin: 0;
  padding: 0;
  > li {
    list-style: none;
    clear: left;
    margin: 5px 0;
    &:not(.divider) {
      min-height: 180px;
    }
    img {
      height: 100%;
      margin-right: 10px
    }
    .infos {
      color: #999;
      margin-bottom: 3px;
      font-size: 0.9em;
    }
    .panel-theater {
      display: inline-block;
      border: 1px solid #eee;
    }
    &.divider {
      height: 15px;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
  }
}


.item > div:not(.tooltip), .slider ul.items > li {
  position: relative;
  padding-top: 2px;
  &:hover, &.emulate-hover {
    .ico-deporte {
      font-size: 0.8em;
      display: block;
      width: 110px!important;
      font-size: 12px;
      margin-right: auto;
      margin-left: auto;
      i {
        font-size: 12px;
      }
      span{
        display: inline-block;
        font-size: 12px;
        letter-spacing: normal;
      }
    }
  }
  .ico-deporte {
    display: inline-block;
    padding: 1px 5px 4px;
    border-radius: 4px;
    background: #3878FF;
    text-shadow: none;
    margin-top: -2px;
    width: 20px!important;
    i {
      font-size: 12px;
    }
    span{
      display: none;
      letter-spacing: -50px;
    }
  }
  .tv-component {
    overflow: none;
    background-color:#000!important;
    img.channel {
      position: absolute;
      right: 2px;
      top: 2px;
    }

    .wrap-title {
      position: absolute;
      left: 0;
      opacity: 1;
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      .link-opacity-transition;
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(64%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
      -moz-box-shadow: 1px 1px 5px 1px #666;
      -webkit-box-shadow: 1px 1px 5px 1px #666;
      box-shadow: 1px 1px 5px 1px #666;
      span.title {
        display: block;
        font-size: 0.9em;
        text-decoration: none;
        display: block;
        width: 100%;
        position: absolute;
        padding: 3px;
        margin-bottom: 3px;
        bottom: -3px;
        height: 25px;
        line-height: 1.6em;
        color: white;
        text-shadow: 1px 1px 1px #000000;
        filter: dropshadow(color=#000000, offx=1, offy=1);
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis; /* pour Opera 9 */
        text-overflow: ellipsis; /* pour le reste du monde */
        .ms-prog-title{
          margin-left: 5px;
          /*font-weight: bold;*/
          display: inline;
          line-height: 20px;
          &:after{
            content: "";
            margin-right: 10px;
          }
        }
        .ms-prog-desc{
          display: none;
          font-size: 0.9;
          font-style: italic;
        }
        .ms-prog-diff{
          display: block;
          margin-top: 15px;
          border: 1px solid white;
        }
      }
    }
  }
}
.well .slider ul.items > li .tv-component .wrap-title span.title, .slider .slider-container ul.items > li .tv-component .wrap-title span.title {
  bottom: -22px;
}


.col-xs-8.suggester{
  margin-top: 30px;
  
  .suggestion{
    font-family: 'Raleway', sans-serif;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    .label{
      font-size: 0.7em;
    }
    p{
      padding-top: 6px; 
    }
    h2, p{
      font-size: 14px;
      font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
      text-transform: uppercase;

      a{
        color:#595959;
        font-family: 'Raleway', sans-serif;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis; /* pour Opera 9 */
        text-overflow: ellipsis; /* pour le reste du monde */
        height: 30px;
        line-height: 30px;
        width: 100%;

        &:hover{
          color: #166dc9;
          text-decoration: none;
        }
      }

    }
    h3{
      font-size: 14px;
      font-family: Arial, "Helvetica Neue", Helvetica,sans-serif;
      text-transform: uppercase;
      padding-top: 0px;
      a{
        color:#595959;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis; /* pour Opera 9 */
        text-overflow: ellipsis; /* pour le reste du monde */
        height: 30px;
        line-height: 30px;
        width: 100%;

        &:hover{
          color: #166dc9;
          text-decoration: none;
        }
      }

    }
    button{
      margin-right: 10px;
      float: right;
    }
  }
  .new-slider {

    .combinaison-2x2{
      float: left;
      height: 370px;
      margin-bottom: 10px;
      width: 66.66666666666666666666%;
    }

    .combinaison-3x1{
      float:left;
      height: 180px;
      margin-bottom: 10px;
      width: 100%;
      a{
        &.title{
          padding-top: 20%;
        }
      }
    }
    .combinaison-2x1{
      float:left;
      height: 180px;
      margin-bottom: 10px;
      width: 66.66666666666666666666%;
      a{
        &.title{
          padding-top: 30%;
        }
      }
    }
    .combinaison-1{
      float:left;
      height: 180px;
      margin-bottom: 10px;
      width: 33.33333333333333333333%;

    }
    .image-2x2{
      position: relative;
      margin: auto;
      height: 370px;
      width: 97%;

      background-color: black;
    }
    .image-3x1{
      position: relative;
      margin: auto;
      height: 180px;
      width: 98%;
      background-color: black;
    }
    .image-2x1{
      position: relative;
      margin: auto;
      height: 180px;
      width: 97%;
      background-color: black;
    }
    .image-1{
      position: relative;
      margin: auto;
      height: 180px;
      width: 94%;
      background-color: black;
    }

    .wrap-carousel-control{
      position: relative;
      height: 40px;
      bottom: 9px;
      margin: 0 15px 0 0;
      > li {
        list-style: none;
        display: block;
        float: right;
        margin: 0 20px;
      }

      .carousel-control {
        color: black;
        background: none;
        width: 35px;
        height: 35px;
        border: 0;
        &.left{
          left: 285px;
          top: 7px;
        }
        &.right{
          right: -10px;
          top: 7px;
        }
        .glyphicon{
          width: 30px;
          height: 30px;
          margin-top: -15px;
          margin-left: -15px;
          font-size: 24px;
        }
      }
      .carousel-indicators {
        z-index: 0;
        margin: 10px 15px;
        position: relative;
        bottom:  auto;
        left:  auto;
        width: auto;
        li {
          list-style: none;
          width: 13px;
          height: 13px;
          background-color: rgba(70,70,70,.25);
          border: 1px solid  rgba(70, 70, 70, 0.25);
          &.active {
            margin: 1px;
            background-color: #444;
          }
        }
      }
    }
    .carousel-inner{
      height: 400px;
    }
    .btn-slider{
      position: absolute; 
      bottom: 15px;
      left: 5px;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.carousel.carousel-a-la-une, #carousel-selection-cinema {
  .container{
    .carousel-control{
      text-shadow: 2px 1px 13px rgba(0,0,0,0.9);
    }
  }
  .carousel-inner{
    .item{
      .container{
        .carousel-caption{
          left: 0%;
          right: 0%;
          width: 100%;
          padding-left: 30px;
          >h2{
            text-align: center;
            text-shadow: 2px 1px 13px rgba(0,0,0,0.9);
          }
          .fb-like{
            float: left;
          }
          >p.pull-left{
            color: white;
            text-shadow: 2px 1px 13px rgba(0,0,0,0.9);
          }
        }
      }
    }
  }
}
.carousel{
  .carousel-control{
    background-image: none;
    filter: none;
  }
}

// carousel youtube
#carousel-youtube.carousel {
  margin: 10px;
  > .grey {
    font-size: 0.8em;
    color: #CCC;
  }
  .carousel-indicators {
    z-index: 10;
    bottom: 20px;
    li {
      border: 1px solid #999;
      &.active {
        background-color: #999;
      }
    }
  }
  .carousel-control {
    width: 3%;
    z-index: 15;
    .left{
      
    }
    .icon-prev,.icon-next{
      font-size: 5em;
      color: black;
      top: 23%;
      z-index: 30;
      &:before{
        width: 0.3em;
        margin-right: 0.03em;
        line-height: 0.5em;
        margin-left: 0.03em;
      }
    }
    .icon-prev{
      left: -4px;
    }
    .icon-next{
      left: 4px;
    }
  }
  .carousel-inner {
    padding-left: 18px;
    width: auto;
    min-height: 160px;
  }
  .item {
    a {
      display: block;
      position: relative;
      width: 180px;
      height: 150px;
      margin: 0 8px 8px;
      line-height: 1em;
      font-size: 0.8em;
      color: black;

      span {
        position: absolute;
        margin: 10px;
        background: white;
        opacity: 0.8;
        padding: 3px;
      }

      img {
        width: 170px;
        height: 120px;
      }

      .title {
        position: absolute;
        top: 85px;
        margin: 0;
        width: 170px;
        background-color: rgba(0,0,0,0.75);
        color: white;
        height: 37px;
        overflow: hidden;
        padding: 2px 5px 0 5px;
        font-family: Tahoma;
        line-height: 1.1em;
      }
    }
  }
}


/* ANCIEN CSS ************************************************************************ */
/* hack pblv */
.container-root-3517970 .view-program-column .popular-channel.logo-channel-52 {
  display: none;
}
.slider ul.items li.root-3517970 {
  .channel.logo-channel-52 {
    img {
      display: none;
    }
  }
}

/* link */
.slider-link {
  margin-top: 10px;
  opacity: 0.8;
  a {
    color: black;
  }
}

/* slider */
.slider.navigate {
  .slider-container {
    box-shadow: inset -8px 0px 6px -8px black;
    border-right: 1px solid #999;
  }
}
.slider.back {
  .left {
    visibility: visible;
  }
  .slider-container {
    /*box-shadow: inset 8px 0px 6px -8px black;*/
    border-left: 1px solid #999;
  }
}
.slider.slider-list {
  height: auto;
  
  ul.items {
    white-space: normal;
    position: relative;

    li {
      margin-bottom: 12px;
    }
  }
  &#category-programs {
    min-height: 610px;
  }
}
.slider.empty {
  background: url("/bundles/skreenhousefactoryv3/images/slider-empty-bg.png") no-repeat;
}
.slider.no-scroll {
  height: auto !important;
  overflow: auto !important;

  ul.items {
    position: relative !important;
  }
}
.slider.slider-loading {
  ul.items {
    li {
      opacity: 0.4;

      &.loader {
        opacity: 1;
        display: block !important;
        border: none !important;
      }
    }
  }
}

/* touch */
.touch .slider {
  /*width: 95%;*/
  ul.items {
    li.selector {
      cursor: pointer;
      border: @selectorBorder;
      box-shadow: none;
      margin: 0 20px;
    }
  }
}
.slider {
  position: relative;
  height: @sliderHeight;
  width: 100%;
  /*overflow: hidden;*/
  clear: both;
  z-index: 1;

  .left, .right {
    border-radius: 24px;
    background-color: grey;
    border: 3px solid #fff;
    border-color: #EEEEEE !important;
    opacity: 0.9;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 42%;
    cursor: pointer;
    line-height: 33px;
    font-size: 45px;
    width: 45px;
    height: 45px;
  }
  .left {
    left: 20px !important;
  }
  .right {
    left: 890px;
    right: -25px !important;
  }
  
  h2, h3 {
    span.pull-right {
      margin-right: 10px;
      color: #999;
    }
  }

  &.current {
    h2, h3 {
      span.pull-right {
        display: none;
      }
    }
  }
  
  .slider-container {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  ul.items {
    position: absolute;
    margin: 0;
    white-space: nowrap;
    padding-left: 0px;
    li {
      padding: 0;
      margin: 0 5px 0 0;
      background-color: black;
      background-position: center center;
      cursor: pointer;
      position: relative;
      font-family: Helvetica, Arial;
      width: @vignetteWidth;
      height: @vignetteHeight;
      display: inline-block;
      border: @vignetteBorder;
      background-repeat: no-repeat;
      list-style: none;
      box-shadow: 1px 1px 4px #999;
      white-space: normal;

      &.selector {
        cursor: pointer;
        border: @selectorBorder;
        box-shadow: none;
        margin: 0 7px;
        box-shadow: 1px 1px 5px black;
        background-color: #EEE;

        h6 {
          text-transform: uppercase;
          color: #999;
          font-size: 0.8em;
          margin: 0;
        }

        a.btn {
          background: transparent;
          border: none;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width:80%;
        }

        span.badge {
          left: 25%;
          top: 50px;
          right: auto;
          box-shadow: 0px 0px 20px white;
        }

        span.label {
          margin-top: 5px;
          padding: 10px;
          font-size: 1.1em;
          position: relative;
          display: inline-block;
        }

        &.empty {
          border: @vignetteBorderEmpty;
          box-shadow: none;
        }

        .alert {
          position: absolute;
        }
      }
    }

  }
}
.social{
  height: 490px;
  .social-suggestion{
    >h2{
      padding-top: 14px;
      font-size: 18px;
      padding-left: 11px;
      color: white;
      font-weight: normal;
    }
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    background: #2a81b9;
  }
  .tab-content{
    margin: 0px 16px 0px 16px;
    background: white;
    position: absolute;
    height: 407px;
    width: 420px;
  }
  .wrap-tab{
    height: 425px;
    background:#2a81b9;
  }
    .nav-tabs{
      border-bottom: none;
      position: absolute;
      top: 30px;
      right: 40px;
      >li{
        >a{
          border:none;
          height: 36px;
          width: 43px;
          &:hover{
            border:none;
            background: #6eb9e9;
          }
          >div{
            margin-top: -5px;
            i{
              color:#FFFFFF;
              font-size: 1.6em;
              margin-left: -11px;
            }
          }
        }
      &.active{
        >a{
          &:hover{
            background:white;
          }
          >div{
          margin-top: -5px;
            i{
              color:#2a81b9;
              font-size: 1.6em;
              margin-left: -11px;
            }
          }
        }
      }
    }
  }
}












/* -------------------------------------------- TEST    --------------------------------------------------------------------------*/









html:not(.touch){



.item > div:not(.tooltip), .slider ul.items > li {
  .tv-component {
    &.films:not(.missing-picture):not(.image-3x1):not(.image-2x1) {
      .ms-prog-title{
        display: none;
      }

      &:hover {
        .wrap-title {
          background-color:rgba(0,0,0,0.6);
          .transition(0.3s, ease-out);

          span.title {
            background: none;
            font-size: 1em;
            height: auto;
            .ms-prog-title{
              display: inline;
            }
            .ms-prog-desc{
              display: block;
            }
          }
        }
      }
      .wrap-title {
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 64%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(64%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
        span.title {
          background: none;
        }
      }
    }
     &:hover, &.hover, &.tv-component-focused {
        .wrap-title {
          background-color:rgba(0,0,0,0.6);
          .transition(0.3s, ease-out);


          span.title {
            height: auto;
            overflow: hidden;
            white-space: normal;
            -o-text-overflow: clip; /* pour Opera 9 */
            text-overflow: clip; /* pour le reste du monde */
            line-height: auto;
            display: block;
            position: absolute;
            text-align: center;
            top: 0;
            margin-left:auto;
            margin-right: auto;
            margin-top:10px;
            span:not(.ico-deporte span){
            // margin-bottom: 10px;
            // display: block;
          }
          .ico-deporte{
            .glyphicon {
              margin-right: 7px;
              margin-left:-4px;
            }
          }
          .ms-prog-title{
            margin-left: 0px;
            margin-top: 7px;
            font-size: 14px;
            display: inline;
            &:after{
              content: "";
              margin-right: 0px;
            }
          }
          .ms-prog-desc{
            display: block;
          }

        }
      }
    }
  }
}
}

// Carousel vertical de la home


.carousel.vertical {
    .active {
        top: 0;
    }
    .next {
        top: 400px;
    }
    .active.left {
        top: -400px;
    }
    .prev {
        top: -400px;
    }
    .item {
        -webkit-transition: 0.6s ease-in-out top;
        -moz-transition: 0.6s ease-in-out top;
        -ms-transition: 0.6s ease-in-out top;
        -o-transition: 0.6s ease-in-out top;
        transition: 0.6s ease-in-out top;
        left: 0;
    }
    .active.right {
        top: 400px;
    }
}
.vertical {
    .carousel-inner {
        height: 100%;
    }
}
.carousel.vertical .next.left,.carousel.vertical .prev.right {
    top: 0;
}



// transition par transparence sur le carousel de la home




.carousel.transchange .next, .carousel.transchange .prev {
    left:0;
    opacity:1;
    z-index:1;
}
.carousel.transchange {
    height: 400px;
    overflow: hidden;
    .item {
        -webkit-transition: opacity 0.7s;
        -moz-transition: opacity 0.7s;
        -ms-transition: opacity 0.7s;
        -o-transition: opacity 0.7s;
        transition: opacity 0.7s;
    }
}
.carousel.transchange .active.left, .carousel.transchange .active.right {
    left:0;
    opacity:0;
    z-index:2;
}

.channelselect{
.wrap-carousel-control{
      position: relative;
      height: 40px;
      bottom: 9px;
      margin: 0 15px 0 0;
      > li {
        list-style: none;
        display: block;
        float: right;
        margin: 0 20px;
      }

      .carousel-control {
        color: black;
        background: none;
        width: 35px;
        height: 35px;
        border: 0;
        &.left{
          left: auto;
        }
        &.right{
          right: auto;
        }
        .glyphicon{
          width: 30px;
          height: 30px;
          margin-top: -15px;
          margin-left: -15px;
          font-size: 24px;
        }
      }
      .carousel-indicators {
        z-index: 0;
        margin: 10px 15px;
        position: relative;
        bottom:  auto;
        left:  auto;
        width: auto;
        li {
          list-style: none;
          width: 13px;
          height: 13px;
          background-color: rgba(70,70,70,.25);
          border: 1px solid  rgba(70, 70, 70, 0.25);
          &.active {
            margin: 1px;
            background-color: #444;
          }
        }
      }
    }
}
