@sk-blue: #428bca;

body.view-user_start {
  /*&.connected {
    #main #content ul.timeline:after {
      height: 525px;
    }
    li.confirm, #register, .form-container.confirmed  {
      opacity: 0;
    }
  }*/
  #bandeau-listes {
    margin-bottom: 0;
    height: 800px;
    background-color: white;
    .container {
      height: 570px;
      overflow: hidden;
      margin-top: 0;
      &:first-child {
        height: auto;
      }
      #intro-step-one, #intro-ligne-one, #intro-step-two, #intro-ligne-two, #intro-step-three, #intro-ligne-three, #intro-ligne-four {
        position: absolute;
        opacity: 1;
        font-size: 1.2em;
      }
      #intro-step-one {
        width: 550px;
        left: 50%;
        margin-left: -210px;
      }
      #intro-ligne-one {
        width: 235px;
        left: 50%;
        top: 105px;
        margin-left: -155px;
        height: 80px;
        border-right: 5px solid @sk-blue;
        border-bottom: 5px solid @sk-blue;
        border-bottom-right-radius: 50px;
        span {
          position: absolute;
          bottom: -11px;
          left: -13px;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-right: 15px solid @sk-blue;
          border-bottom: 8px solid transparent;
        }
      }
      #intro-step-two {
        width: 247px;
        top: 145px;
        left: 10px;
      }
      #intro-ligne-two {
        width: 515px;
        left: 121px;
        top: 225px;
        height: 85px;
        border-left: 5px solid @sk-blue;
        border-bottom: 5px solid @sk-blue;
        border-bottom-left-radius: 50px;
        span {
          position: absolute;
          bottom: -11px;
          right: -10px;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-left: 15px solid @sk-blue;
          border-bottom: 8px solid transparent;
        }
      }
      #intro-step-three {
        width: 210px;
        right: 0px;
        top: 255px;
      }
      #intro-ligne-three {
        width: 215px;
        right: 100px;
        top: 355px;
        height: 65px;
        border-right: 5px solid @sk-blue;
        border-bottom: 5px solid @sk-blue;
        border-bottom-right-radius: 50px;      
      }
      #intro-ligne-four {
        width: 90px;
        right: 295px;
        top: 415px;
        height: 55px;
        border-top: 5px solid @sk-blue;
        border-left: 5px solid @sk-blue;
        border-top-left-radius: 50px;
        span {
          position: absolute;
          bottom: -6px;
          left: -10px;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 15px solid @sk-blue;
        }
      }
      a.start-list {
        position: absolute;
        top: 480px;
        left: 50%;
        margin-left: -65px;
        background-color: white;
        color: @sk-blue;
        &:hover {
          color: #fff;
          background-color: #3276b1;
        }
      }
      h1 {
        margin-top: 5px;
        padding-left: 110px;
        &+p {
          font-size: 1.2em;
          opacity: 1;
          margin-bottom: 5px;
        }
      }
      .row.titres.user-off {
        margin-top: 10px;
        p {
          margin-bottom: 5px;
        }
      }
      .row.descriptions {
        p {
          font-size: 0.9em;
        }
      }
    }
  }
  #bandeau-listes.fond-bleu {
    ul.timeline {
      list-style: none;
      padding: 10px 0 0;
      color: white;
      position: relative;
      margin-bottom: 70px;
      text-align: center;
      background-color: transparent;
      &:after {
        content: '';
        display: inherit;
        position: absolute;
        bottom: 0px;
        height: 3px;
        width: 100%;
        background: @sk-blue;
        right: 0px;
      }
      li {
        display: inline-block;
        font-size: 1.1em;
        margin-bottom: 20px;
        margin-right: 10px;
        span.badge {
          background-color: rgb(92, 184, 92);
          position: absolute;
          left: 50%;
          margin-left: -10px;
          top: 45px;
          z-index: 2;
          display: none;
          width: 20px;
          height: 20px;
          line-height: 15px;
        }
        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: @sk-blue;
          border-radius: 50%;
          border: 2px solid @sk-blue;
          position: absolute;
          margin-left: -5px;
          top: 50px;
          left: 50%;
          z-index: 1;
        }
        &.confirm:hover, &.confirm.active {
          &:after {
            border: 5px solid #5cb85c;
          }
          a {
            color: white;
            background-color: #5cb85c;
            &:after {
              border: 7px solid #5cb85c;
            }
          }
        }
        a {
          font-family: 'Raleway';
          text-decoration: none;
          display: inline-block;
          color: @sk-blue;
          padding: 8px 13px 8px 10px;
          background-color: white;
          border-radius: 4px;
          position: relative;
          &:after {
            content: ' ';
            position: absolute;
            top: 30px;
            right: 50%;
            margin-right: -7px;
            border: 7px solid white;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Opera, Chrome, and Safari */
            transform: rotate(45deg);
          }
        }
        &.active, &:hover, &:focus {
          &:after {
            background: white;
            &:hover{
              opacity: 0.6;
            }
          }
          a {
            background-color: @sk-blue;
            border-radius: 4px;
            position: relative;
            color: white;
            &:after {
              border: 7px solid @sk-blue;
            }
          }
        }
      }
    }
    .forms-container {
      position: absolute;
      width: 10000px;
      padding-top: 10px;
      left: auto;
      .panel-start {
        float: left;
        width: 870px;
        margin-right: 100px;
        position: relative;
        &:first-child {
          color: @sk-blue;
        }
      }
      .relative .btn-default {
        font-family: 'Raleway';
        padding: 10px 25px;
        top: 480px;
        right: 0px;
        left: auto;
        position: absolute;
        box-shadow: 0px 0px 5px rgba(0,0,0,1);
        &.btn-back {
          right: auto;
          left: 0px;
        }
      }
      .form-container {
        position: relative;
        height: 460px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0,0,0, 1);
        overflow: hidden;
        text-align: left;
        &.theater-container {
          height: 450px;
        }
        img {
          margin-bottom: 0px;
          opacity: 1;
        }
        > * {
          padding: 0 25px;
        }
        h2 {
          padding-top: 20px;
          margin-top: 0;
          color: #333;
          font-size: 1.5em;
        }
        &.confirmed {
          overflow-y: auto;
          margin-bottom: 500px;
          &.populated {
            background-color: #333;
            h2 {
              color: white;
            }
          }
          h2 {
            margin-bottom: 30px;
          }
          .no-results {
            padding: 15px 25px;
            .h4 {
              margin-bottom: 10px;
            }
          }
          .results {
            ul {
              list-style: none;
              padding-left: 0;
              li.suggest:nth-child(odd), li.suggest:nth-child(even) {
                background-color: #333;
                color: white;
                height: 40px;
                &:hover {
                  background-color: #333;
                  cursor: default;
                  span.col-xs-4 {
                    visibility: hidden;
                  }
                }
                span.col-xs-11 {
                  color: white;
                }
                small {
                  color: #ccc;
                  font-style: italic;
                }
              }
            }
          }
        }
        .form-inline {
          .input-lg {
            height: 40px;
            font-size: 14px;
          }
          .form-group {
            float: left;
            &:first-child {
              width: 100%;
              margin-right: 10%;
              position: relative;
              .input-lg {
                background-color: #efefef;
              }
              .glyphicon {
                position: absolute;
                top: 12px;
                right: 10px;
                color: rgb(85, 85, 85);
                font-size: 16px;
              }
            }
          }
        }
        .results {
          background: rgba(255,255,255,1);
          &#results-theaters {
            padding: 0px;
            h3 {
              padding: 5px 20px;
            }
            .btn-default {
              display: none;
            }
            td {
              border: none;
              a {
                color: @sk-blue;
                &.btn-suivre {
                  color: white;
                }
              }
              a:not([data-id]), strong, em {
                font-family: 'Raleway';
              }
            }
            ul li.suggest {
              padding-left: 50px;
              padding-right: 50px;
            }
          }
          ul {
            list-style: none;
            padding-left: 0;
            li {
              margin-bottom: 0px;
              &.head-suggest, &:not(.head-suggest) h3 {
                color: #999;
                border-top: 1px dashed #ccc;
                padding: 10px 0;
                margin-left: -25px;
                padding-left: 25px;
                margin-right: -25px;
              }
              &.suggest, tr {
                position: relative;
                padding-top: 5px;
                margin-left: -25px;
                margin-right: -25px;
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 5px;
                height: 50px;
                &:nth-child(even) {
                  background-color: rgba(66,139,202,0.1);
                }
                &:nth-child(odd) {
                }
                &:last-child {
                  border-bottom: none;
                }
                a[data-id]:not(.fav-on), .col-xs-4 {
                  line-height: 30px;
                }
                .col-xs-4 {
                  visibility: hidden;
                }
                a[data-id] {
                  font-size: 0px;
                  padding: 5px 0px;
                  width: 30px;
                  height: 40px;
                  i, span {
                    font-size: 12px;
                    padding-top: 6px;
                  }
                }
                &:hover {
                  cursor: pointer;
                  background-color: rgba(124, 150, 232, 0.3);
                  td {
                    background-color: rgba(124, 150, 232, 0.3);
                  }
                  .col-xs-4 {
                    font-size: 85%;
                    visibility: visible;
                    color: #666;
                    text-align: right;
                    margin-top: 7px;
                    .label {
                      font-size: 1.0em;
                    }
                  }
                }
              }
              tr {
                a[data-id] {
                  &.fav-cinema {
                    float: left !important;
                    margin-right: 10px;
                  }
                }
              }
              span.col-xs-11, span.col-xs-10 {
                font-size: 1.1em;
                color: @sk-blue;
                margin-top: 10px;
                small {
                  color: #666;
                }
              }
            }
          }
        }
      }
    }
  }
  .navbar-fixed-top {
    position: absolute;
  }
}

html.touch body.view-user_start .fond-bleu .forms-container .form-container .results ul li a {
  visibility: visible;
}