/* ===== vendors ============================================================
   ========================================================================== */

@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";
@import "modal.less";
@import "scrollbars-webkit.less";

@import "scrollbars-webkit.less";

/* ===== v3 =================================================================
   ========================================================================== */


/* vars */

@iconSpritePath:          "/bundles/skreenhousefactoryv3/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/bundles/skreenhousefactoryv3/bootstrap/img/glyphicons-halflings-white.png";
@bgBody:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist.jpeg");
@bgBodyFade:   url("/bundles/skreenhousefactoryv3/images/header/bg-playlist-fade.png");
@bgPlaylist: url("/bundles/skreenhousefactoryv3/images/bg-playlist.png") bottom repeat-x;

/* pages */

@import "channel.less";
@import "program.less";
@import "user.less";
@import "person.less";
@import "error.less";

/* main */
.touch body {
  width: 1025px;
}
.bgbody {
  background: @bgBody;
}
.bgbodyfade {
  background: @bgBodyFade;
}
body, .touch body {
  font-family: Helvetica, Arial;
  background: @bgBody;

  #main {
    padding: 150px 0 0;
  }
  #header {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  #footer {
    background: white;
    margin-top: 20px;
    padding-top: 20px;
		a {
			display: block !important;
		}
    
    ul.nav-share {
      li {
        margin-left: 70px;
      }
    }
  }
}

a.trigger-tv {
  display: none;
}

/* popover */
.popover {
  width: 330px;
}
.popover-title {
  font-weight: bold;
}

.dropdown-menu {
  z-index: 3;
	
	a.hide {
		display: none;
	}
}

#content {
  .container:first-child {
    margin-top: 10px;
  }
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 990px; /*1010px;*/
  position: relative;

  .pagination {
    text-align: left;
    a {
      padding: 0 9px;
      background-color: white;
    }
    li.active a {
      color: white;
      background: #08C;
    }
  }
}

/* helpers */
.clear {
  clear:both;
}
.nowrap {
  white-space: nowrap;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.uppercase {
  text-transform: uppercase;
}
h1 {
  small {
    display: block;
  }
}
h3 {
  font-size: 1.3em;
  font-weight: normal;
  padding-left: 10px;
  margin: 0;
  
  &.pager-count {
    position: absolute;
    left: 40%;
  }
}
h6 {
  color: #333;
}

ul.pager {
  height: 30px;
}

.inverse {
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: white;
  clear: both;
  margin: 30px 0;
  padding: 10px 0;
}

.table {
  tr {
    td {
      vertical-align: middle;
    }
  }
}

/* couchmode */
#couchmode {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;

  #couchmode-inner {
    width: 60%;
    height: 60%;
    margin: 10% 20% 15%;
  }

  #couchmode-close {
    display: block !important;
    color: white;
    text-align: right;
    cursor: pointer;
  }
}


/* friends */
div.friends {
  clear: both;

  img {
    margin: 3px;
    box-shadow: 1px 1px 4px white;
  }
}

/* social */
.share-block {
  min-width: 200px;
}
.block-twitter {
  display: block;
  width: 100px;
  height:25px;
}
.fb-like {
  margin-right: 20px;
}

/* theaters-playlist */
#theaters-playlist {
  position: relative;

  .theaters-on {
    #theaters-names {
      margin-bottom: 10px;
      .label {
        margin-right: 5px;
      }
    }
  }
	.theaters-off {
		height: 250px;
		background: url(/bundles/skreenhousefactoryv3/images/vos-cinemas-sample.png) no-repeat;

		.well {
			position: absolute;
			top: 100px;
			left: 250px;
			text-align: center;
		}
	}
}

/* gabarit */
.view-main {
  display: inline-block;
  width: 73%;
}
.view-column {
  margin: 10px 20px 0 0;
  width:245px;

  .bs-docs-sidenav {
    width: 100%;
    margin: 20px 0 0;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
  
    > li > a {
      width: 230px 9;
      display: block;
      margin: 0 0 -1px;
      padding: 8px 14px;
      border: 1px solid #E5E5E5;
        
      &:hover {
        background-color: whiteSmoke;
      }
    }
    .icon-chevron-right {
      float: right;
      margin-top: 2px;
      margin-right: -6px;
      opacity: .25;
    }
  }
}
.view-main {
  .lead{
    font-size: 16px;
  }
}

/* homes */
#view-home {
  .main-slider {
    h1 {
      padding: 0 20%;
      position: absolute;
      opacity: 0.6;
      font-style: italic;
    }
    .lead {
      padding: 0 20%;
      position: absolute;
      font-size: 1.0em;
      line-height: 1.5em;
      margin-top: 50px;
      text-align: justify;
      /*word-spacing: 200px;*/
      font-style: italic;
      opacity: 0.6;
    }
    .carousel-container {
      text-align: center;
      background: black;
      
      .carousel {
        text-align: left;
        height: 300px;
        width: 990px;
        margin: 0 auto 20px;
        background: black;
        
        .item {
          text-align: center;
          
          .carousel-caption {
            text-align: left;
            background: rgba(0, 0, 0, 0.55);
          }
        }
      }
    }
  }
}

/* redirect */
tr[data-id] {
  cursor: pointer;
}
tr[data-id]:hover {
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
}

/* exit */
.exit .well {
  padding: 2% 2% 7% 5%;
  margin: 20% 15%;
  background: url(/bundles/skreenhousefactoryv3/images/exit-bg-repeat.png);
  color: #DDD;
  border-radius: 10px;
  box-shadow: 0 0 7px #789CF7;
  border: 5px solid;
  
  h6 {
    color: #DDD;
  }
  
  #ad {
    float:right;
  }
}

/* sprite */
[class^="sprite-"], [class*=" sprite-"] {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-image: url("/bundles/skreenhousefactoryv3/images/sprite.png");
}
.sprite-user {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-position: 0 0;
  margin-top: -2px;
}

ul.typeahead {
  width: 457px;

  li {
    img {
      height: 30px;
      width: 30px;
    }

    &.nav-header {
      display: block;
      padding: 3px 15px;
      font-size: 11px;
      font-weight: bold;
      line-height: 18px;
      color: #999;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
    }
  }
}

.facets .label {
  display: inline-block;
  margin-right: 5px;
}

#header {
  background: black;
}

#top-bar.navbar {
  padding: 5px 0 0 0;
  box-shadow: 5px 5px 0px black;
  margin-bottom: 0;

  .navbar-inner {
    height: 65px;
    
    .container {
      width: 1010px;

      img#logo {
        height: 55px;
        margin-top: 3px;
      }
      
      form {
        position: relative;
        margin-top: 15px;
        margin-left: 30px;
        float: left;
        width: 35%;

        * {
          font-family: Belleza, Helvetica;
        }
        input.search-query {
          width: 92%;
          padding: 8px 10px;
          font-size: 1.0em;
        }
        i.icon-search {
          position: absolute;
          right: 5%;
          top: 11px;
          cursor: pointer;
          opacity: 0.8;
        }
      }

      > a {
        padding: 0 0 7px 0;
      }
        
      ul.nav {
        &.hide {
          display: none;
        }

        > li {
          line-height: 45px;

          > a {
            color: #EFEFEF;
            padding: 13px 10px 7px;

            &.signin {
              padding: 8px 14px 4px;
              vertical-align: top;
              margin-top: 4px;
            }

            &.user {
              max-width: 160px;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .badge {
              margin-right: 5px;
            }
          }

          &.hide {
            display: none;
          }

          &.divider-vertical {
            height: 65px;
            margin: 0px;
          }

          &.notifications {
            ul {
              > div {
                height: 315px;
                overflow-y: auto;
                overflow-x: hidden;

                li {
                  width: 400px;
                  font-size: 0.9em;
                  
                  a.link {
                    color: #333;
                    display: auto;
                    padding: 0px;
                    clear: none;
                    line-height: 15px;
                    color: #555;
                    white-space: nowrap;
                    filter: none; /* ie hover background */

                    img.channel {
                      margin-left: 7px;
                      border-right: 3px solid white;
                      border-top: 3px solid white;
                    }
                    img.ico {
                      margin-right: 7px;
                    }
                    
                    span {
                      display: block;
                      margin-left: 7px;
      
                      &.title {
                        text-transform: uppercase;
                      }
                      &.label {
                        display: inline;
                        font-weight: normal;
                        margin-left: 0;
                      }
                    }
                    &:hover {
                      background: transparent;
                    }
                  }
                  .badge {
                    margin: 15px 5px 0 0;
                  }
                  .close {
                    visibility: hidden;
                    margin: 15px 5px 0 0;
                    padding: 0;
                  }
                  &:hover {
                    .close {
                      visibility: visible;
                    }
                  }
                  &.empty {
                    h6 {
                      padding: 30px;
                      font-size: 1.3em;
                      small {
                        line-height: 1.3em;
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#top-baseline {
  font-size: 1.0em;
  text-shadow: 1px 1px 0px white;
  padding: 8px 0 5px;
  text-align: center;
  margin-top: 0;
  cursor: pointer;

  small {
    font-size: 0.9em;
    font-weight: normal;
  }
}

.playlist {
  background: url("/bundles/skreenhousefactoryv3/images/bg-playlist.png") bottom repeat-x;
}

#top-playlist {
  background: @bgPlaylist;
  margin-bottom: 10px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 70px;
  box-shadow:0px 1px 3px #333;
  /*box-shadow: inset 0px 1px 4px #999;*/
  
  .container {
    margin-bottom: 20px;

    .breadcrumb {
      margin: 10px 0;
      font-size: 1.3em;
      border: 1px solid #DDD;
    }

    h2 {
      color: #017FD5;
      font-weight: normal;
      text-shadow: #C3C8E8 1px 1px 3px;
      padding-left: 13px;
      font-size: 1.3em;
      cursor: pointer;
      margin: 0;
    }
  }
}

#top-nav {

  /* Subnav */
  .subnav {
    font-size: 1.2em;
    width: 100%;
    height: 38px;
    background-color: #eeeeee; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
    background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  
    .nav {
      margin-bottom: 0;
      
      li {
        float: left;
        display: block;
      }
      li > a {
        margin: 0;
        padding:    9px;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #e5e5e5;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
      }
      
      li.selected > a {
        text-shadow: 0 1px 1px blue;
        color: white;
        background-color: #08C;
      }
    }
  }

  .subnav .nav > .active > a,
  .subnav .nav > .active > a:hover {
    padding-left: 13px;
    color: #777;
    background-color: #e9e9e9;
    border-right-color: #ddd;
    border-left: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
       -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
            box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    border-left: 0;
    padding-left: 12px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  .subnav .nav > li:last-child > a {
    border-right: 0;
  }



  .subnav-fixed {
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
        -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
        -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  
    .nav {
      margin: 0 auto;
      padding: 0 1px;
      
      li:first-child > a, li:first-child > a:hover {
        -webkit-border-radius: 0;
            -moz-border-radius: 0;
                border-radius: 0;
      }
    }
  }
  
  ul#shortcuts {
    li {
      list-style: none;
      float: right;
      margin-left: 5px;
      padding: 7px 5px 0px 5px;
      
      a {
        color: #555;
        font-weight: normal;
        font-size: 0.8em;
        text-transform: uppercase;
      }
    }
  }
}

#top-filters {
  background: #E9E9E9;
  font-size: 1.1em;
  height: 37px;
  overflow-x: hidden;

  > ul {
    margin: auto;
    &.btn-group {
      font-size: 1.0em;
    }
    
    > li {
      display: none;

      > a {
        text-shadow: 0px 0px 4px white;
        color: #555;
        padding-right: 5px;
        padding-left: 5px;
      }

      &.separator {
        margin-left: 35px;
      }
      &.home {
        padding: 0px;
        
        &.no-link {
          padding: 7px;
          color: #555;
        }
      }
      &.tv-channel {
        padding: 2px 0 0 4px;
        border-left: 0;
  
        a {
          padding: 0;

          img {
            width: 34px;
          }
        }
      }
      &.active {
        > a {
          text-shadow: 0px 1px 1px blue;
          color: white;
        }
        
        &.tv-channel a {
          background-color: transparent !important;
        }
      }
    }
  }
}


/* player */
#redirect {
  display: none;
  width: 100%;
  height: 500px;
  background: transparent;
  position: relative;
  
  .progress {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 30%;
  }

  iframe {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    border: 0;
    overflow: hidden;
  }
}
#player {
  display: none;
  width: 100%;
  background: transparent;
  position: relative;

  > i.icon-white {
    position: absolute;
    top: 10px;
    right: 5px;
    height:20px;
    width:20px;
    z-index: 3;
  }

  .embed {
    height: 100%;
    width: 100%;
    
    iframe {
      pointer-events: none;
    }
  }

  .metas {
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    opacity: 0.9;
    z-index: 3;
    text-shadow: 1px 1px 0px black;

    span {
      display: inline-block;
      padding: 10px;
      background: #333;
      font-size: 1.3em;
    }
    
    span.title {
      padding: 10px;
      font-size: 2.0em;
    }
    span.subtitle {
      margin-top: 20px;
    }
  }

  ul#player-channels {
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 3;
    opacity: 0.9;
    box-shadow: 0px 1px 5px black;
    
    i {
      opacity: 0.6;
    }
  }
}
#player.on {
  display: block;
  width: 100%;
}


.player-controls {
  position:relative;
  height:8px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 10px;
  
  /* when play button toggles between play/pause class
      we move its background image */
  .play, .pause {
      position:absolute;
      width: 18px;
      height:10px;
      text-indent:-999em;
      cursor:pointer;
      overflow:hidden;
      background:url(http://flash.flowplayer.org/media/img/controls/play_pause.gif) center top no-repeat;
  }
  
  .pause {
      background-position:center -10px;
  }
  
  /* the track or "scrubber"  */
  .track {
      position:absolute;
      top:4px;
      height:18px;
      left:20px;
      background:url(http://flash.flowplayer.org/media/img/controls/track.gif) no-repeat;
      text-align:left;
      cursor:pointer;
      width: 100%;
  }
  
  /* the draggable playhead */
  .playhead {
      position:absolute;
      height:12px;
      background:url(http://flash.flowplayer.org/media/img/controls/playhead.png) no-repeat;
      cursor:pointer;
      top:0px;
      width:12px;
  }
  
  /* buffer and controls are automatically resized, their initial width should be 0 */
  .progress, .buffer {
      background-color:#fff;
      height:6px;
      margin:3px 4px;
      width:0px;
      position:absolute;
      top:0;
      font-size:0px;
  
      /* this is the way to fine tune buffer and progress max width */
      max-width:634px;
  }
  
  .buffer {
      background-color:#999;
  }
  
  /* som proprietary styling for progress bar under mozilla */
  .progress {
      -moz-border-radius-bottomleft:2px;
      -moz-border-radius-topleft:2px;
  }
  
  /* hide time & mute */
  .time, .mute, .unmute {
      display:none;
  }
}


#trigger-theaters-geoloc {
  margin-left: 10px;
}