.touch {
  body {
    width: 1025px;
    .hidden-touch {
      display: none !important;
    }
    .visible-touch {
      display: block !important;
    }
    ul.typeahead {
        &:hover {
          span.fav {
            display: none !important;
          }
        }
      }
    }
  }
}