body.trends-layout {
  .trends-container, .tops-container {
    float: left;
    width: 50%;
    height: 335px;
    &:not(.with-selectors) {
      p {
        margin-bottom: 32px;
      }
    }
  }
}