@lineheight: 75px;
@lineheightchannel: 74px;

.img-tvgrid-popover {
  float: left;
  margin: 0 10px 20px;
}
#view-tvgrid {
  #channels-search{
    width: 100%;
    .input-append{
      .search-query.form-control{
        display: inline-block;
        width: 30%;
      }
    }
  }
  .btn-filters {
    margin: 20px 195px;
  }
  h1, h2 {
    font-size: 1.3em;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .channel-wrap{
    position: relative;
    .time-bar{
      background-color: black;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0px;
      z-index: 15;
    }
    .arrow{
      position: absolute;
      z-index: 16;
      
    }
  }
  ul.nav-pills {
    display: block;
    padding: 0;
    margin: 0 3px 0 0;

    > li {
      &.active {
        > a {
          background: rgba(0, 0, 0, 0.5);
        }
      }
      &.active.time-change {
        > a {
          background: rgba(0, 136, 204, 1);
        }
      }
      &.calendar {
        padding-bottom: 7px;
        padding-top: 7px;
      }
      &.datepicker{
        > a {
          &.calendar{
            padding-bottom: 6px;
            i {
              font-size: 2em;
              margin-top: -8px;
            }
          }
        }
      }
      &.pull-right.addchannel{
        > a {
          height: 35px;
          padding-top: 7px;
        } 
      }
    }
  }
  div{
    /* create an arrow that points up */
    .arrow-up {
  	width: 0; 
  	height: 0; 
  	border-left: 7px solid transparent;  /* left arrow slant */
  	border-right: 7px solid transparent; /* right arrow slant */
  	border-bottom: 7px solid #2f2f2f; /* bottom, add background color here */
  	font-size: 0;
  	line-height: 0;
    }

    /* create an arrow that points down */
    .arrow-down {
    	width: 0; 
    	height: 0; 
    	border-left: 7px solid transparent;
    	border-right: 7px solid transparent;
    	border-top: 7px solid #2f2f2f;
    	font-size: 0;
    	line-height: 0;
    }

    /* create an arrow that points left */
    .arrow-left {
    	width: 0; 
    	height: 0; 
    	border-bottom: 7px solid transparent;  /* left arrow slant */
    	border-top: 7px solid transparent; /* right arrow slant */
    	border-right: 7px solid #2f2f2f; /* bottom, add background color here */
    	font-size: 0;
    	line-height: 0;
    }

    /* create an arrow that points right */
    .arrow-right {
    	width: 0; 
    	height: 0; 
    	border-bottom: 7px solid transparent;  /* left arrow slant */
    	border-top: 7px solid transparent; /* right arrow slant */
    	border-left: 7px solid #2f2f2f; /* bottom, add background color here */
    	font-size: 0;
    	line-height: 0;
    }


    /* shared with before and after */
    .tooltip:before, div.tooltip:after {
    	content: ' ';
    	height: 0;
    	position: absolute;
    	width: 0;
    	border: 10px solid transparent; /* arrow size */
    }

    /* these arrows will point up */

    /* top-stacked, smaller arrow */
   .tooltip:before {
    	border-bottom-color: #fff;  /* arrow color */

    	/* positioning */
    	position: absolute;
    	top: -19px;
    	left: 255px;
    	z-index: 2;
    }

    /* arrow which acts as a background shadow */
    .tooltip:after {
    	border-bottom-color: #333;  /* arrow color */

    	/* positioning */
    	position: absolute;
    	top: -24px;
    	left: 255px;
    	z-index: 1;
    }
  }
  
  #timeslider {
    width: 230px;
    position: absolute;
    left: 320px;
    height: 12px;
    margin-top: 13px;
    background: #999;
    a {
      cursor: pointer;
      text-decoration: none;
      margin: -5px 0 0 -5px;
      padding: 5px 0 10px 0;
      width: 44px;
      height: 30px;
      font-size: 0.8em;
      font-weight: normal;
      color: black;
      border-radius: 4px;
      &.ui-state-hover {
        background: #f6f6f6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
      }
    }
  }
  #datepicker {
    position: absolute;
    z-index: 2;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    margin: 35px 0px 0px 0px;
    width: 300px;
    .ui-datepicker {
      width: 100%;
    }
  }  
  ul.timeline {
    position: relative;
    background: rgba(0,0,0,0.7);
    color: white;
    list-style: none;
    margin: 10px 0 0 0;
    height: 23px;
    li {
      display: inline-block;
      width: 300px;
      color: white;
      padding: 2px 0px;
      &:first-child {
        width: 38px;
      }
      &:nth-child(2){
        padding-left: 10px;
      }
      &:nth-child(4){
        width: 262px;
      }
    }
  }
  #opt-hour{
    width: 92px;
    height: 35px;
    margin-top: 2px;
  }
  #filter{
    height: 35px;
  }
  
  .horaire{
    position: absolute;
    top: 165px;
    width: 960px;
    >i{
      color:white;
    }
  }
  .btn-precedent{
   padding: 3px 0px;
   z-index: 1;
   position: relative;
   left: 0;
   top: 2px;
   width: 90px;
   height: 24px;
   color: white;
   }
 .btn-suivant{
  padding: 3px 8px;
  position: absolute;
  right: 10px;
  z-index: 1;
  top: 2px;
  width: 90px;
  height: 24px;
  color: white;
  }
  #channels {
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    border-top: 1px solid #EEE;
    display: none;

    > li, > li:hover {
      line-height: @lineheightchannel;
      height: @lineheightchannel;
      text-align: center;
      border-bottom: 1px solid #E5E5E5;
      border-left: 1px solid #E5E5E5;
      position: relative;
      overflow: hidden;
      > .progress {
        margin: 3% 30% !important;
      }
      > a {
        padding: 0;
        margin: 0;
        float: left;
        width: 87px;
        background: #2B2B2B;
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
        background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#cccccc));
        background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
        background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
        background-image: linear-gradient(top, #eeeeee, #cccccc);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC', GradientType=0);

        i {
          position: absolute;
          display: none;
          opacity: 0.5;
          cursor: pointer;
          top: 30px;
        }
        &:hover {
          cursor: move;
          i {
            display: block;
          }
        }
      }

      ul {
        position: relative;
        height: @lineheight;
        margin: 0 0 0 87px;

        li.diff {
          position: absolute;
          line-height: @lineheight;
          height: @lineheight;
          display: block;
          overflow: hidden;
          border-left: 1px solid #E5E5E5;
          border-bottom: 1px solid #E5E5E5;
          text-align: left;
          cursor: pointer;
          background: white;

          .icon-question-sign {
            opacity: 0.5;
            margin: 5px;
          }

          .actions {
            position: absolute;
            z-index: 1;
            right: 5px;
            top: 5px;
            line-height: 30px;
            .btn {
              padding: 2px 6px;
              font-size: 0;
              i {
                margin-top: -7px;
              }
            }
            .btn-defaut{
              height: 30px;
              width: 30px;
              display: block;
              border: 1px solid rgba(20,20,20,0.2);
              border-radius: 7px;
              background: rgba(100,100,100,0.1);
              box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
            }
          }

          a.link {
            color: #333;
            display: block;
            padding: 5px;
            line-height: 16px;
            min-width: 120px;
            overflow: hidden;

            span {
              &.header {
                font-size: 0.7em;
                color: #999;
                text-transform: uppercase;
                margin-right: 5px;
                float: left;
              }
              &.label {
                font-size: 0.8em;
                display: inline-block;
                font-weight: normal;
                padding: 0 4px;
                opacity: 0.5;
                color: black;
                  
                &.label-info, &.label-warning {
                  opacity: 1;
                }
              }
              &.t {
                clear: both;
                display: block;
              }
              &.st {
                color: #999;
                font-size: 0.9em;
              }
            }
          }

          &.is-short {
            a {
              padding: 0;
              .label {
                margin: 10px 0 0 2px;
                display: inline-block;
              }
            }
          }

          &.is-live {
            background: rgba(254, 255, 231, 1);
          }

          &.has-live {
            .label-info {
              display: none;
            }
          }
        }
      }
    }
  }

  #schedule {
    min-height: 800px;
    margin-left: 87px;
    padding-bottom: 30px;
    background: white; /*url(/bundles/skreenhousefactoryv3/images/tvgrid-bg.png);*/
    border-right: 1px solid #DDD;
    
    .schedule {
      position: relative;
      cursor: pointer;
      overflow-y: hidden;
      padding-bottom: 22px;
      
      .schedule-cache {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 0;
        border-right: 1px solid white;

        background-color: rgba(150,150,150,0.1);
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        -webkit-background-size: 10px 10px;
        -moz-background-size: 10px 10px;
        -o-background-size: 10px 10px;
        background-size: 10px 10px;
        background-repeat: repeat;
      }

      &.current {
        ul.timeline.fixed {
          position: fixed;
        }
      }
      &.schedule-prev {
        .schedule-cache {
          width: 100% !important;
        }
      }
    }
  }
}