.user-on {
  display: none;
}
.connected {
  .user-on {
    display: block;
    &.inline-block {
      display: inline-block;
    }
  }
}
#view-settings {
  .tab-content {
    margin-bottom: 150px;
  }
  #user-settings{
    margin-bottom: 15px;
  }
  #notifications{
    .btn{
      border: 1px solid #ccc;
    }
  }
  .form-control{
    display: inline-block;
    width: 21%;
  }
}

#vod-view {
  .hero-unit .ico-deporte {
    display: inline-block;
    padding: 1px 5px 4px;
    border-radius: 4px;
    background: #3878ff;
    text-shadow: none;
    margin-top: -2px;
    width: 20px!important;
    height: 19px;
    color: #fff;
    font-size: 12px;
    .glyphicon {
      color: white;
    }
  }
  table {
    tr {
      td {
        &:first-child {
          width: 33%;
        }
        &:last-child {
          width: 77%;
        }
        ul {
          li {
            clear: both;
            img {
              float: left;
              margin-right: 10px;
            }
            span.access {
              text-transform: uppercase;
              font-weight: bold;
              color: #999;
              &.achat {
                padding-top: 16px;
                display: inline-block;
              }
            }
            span.label {
              color: #5bc0de;
              padding-left: 0;
            }
            .btn.pull-right {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

body[class*='view-user_'] {
  &.playlist-in #main {
    padding-top: 70px;
  }
  #content {
    min-height: 700px;
  }
  #bandeau-listes {
    margin-top: -65px;
    padding-top: 65px;
    margin-bottom: 20px;
  }
}

#bandeau-listes {
  background-color: #428bca;
  color: white;
  & + .container {
    .bs-callout {
      .btn-primary {
        margin-top: -7px;
        background-color: #3880BD;
        color: white;
        border: 1px solid #316B9C;
        &:hover {
          background-color: white;
          color: #428bca;
        }
      }
      &.no-program {
        .btn-primary {
          margin-top: -16px;
        }
      }
    }
  }
  .container {
    margin-top: 20px;
    text-align: center;
    .user-off {
      margin-top: 20px;
      .btn-primary {
        background-color: white;
        color: #428bca;
        border: 1px solid #316B9C;
        &:hover {
          background-color: #3880BD;
          color: white;
        }
      }
    }
    .row {
      margin-bottom: 0;
      .col-xs-4:first-child a img {
        max-height: 35px;
        margin-top: 15px;
      }
      &.titres {
        p {
          font-family: 'Raleway', sans-serif;
          opacity: 1;
          font-size: 1.2em;
        }
      }
    }
    a {
      text-decoration: none;
      color: white;
      &:hover img, &.active img {
        opacity: 1;
      }
    }
  }
  img {
    max-height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    opacity: 0.6;
    &+p {
      font-size: 1.2em;
      opacity: 1;
    }
  }
  p {
    font-size: 1em;
    opacity: 0.7;
  }
}
#view-user-persons{
  ul.nav {
    margin-bottom: 10px;
  }
}
.view-user_programs, .view-user_persons {
  .nav-pills {
    & > li {
      margin-right: 10px;
      &.active {
        & > a {
          background-color: #333;
        }
      }
      & > a:hover, & > a:focus {
        background-color: #333;
        color: white;
      }
    }
  }
  #user-programs {
    li {
      position: relative;
      span.fav-trash {
        display: none;
        position: absolute;
        top: -1px;
        right: -1px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 2;
        background-color: #333;
      }
      &:hover {
        span.fav-trash {
          display: block;
        }
      }
    }
  }
}
.view-user_programs, .view-user_persons, .view-user_theaters, .view-user_category, .view-user_channels {
  .btn-danger:before {
    font-size: 14px;
  }
  .pagination {
    margin-top: 0;
  }
  #bandeau-listes + .container .nav {
    margin-bottom: 20px;
  }
  #bandeau-listes {
    .row {
      &.user-on, &.auth {
        >div {
          padding-top: 10px;
        }
      }
      &.descriptions {
        >div {
          padding-bottom: 5px;
        }
      }
      .active, .col-users:hover {
        background-color: white;
        color: #333;
        a {
          color: #333;
          span {
            background-color: #428bca!important;
            color: white!important;
          }
        }
        p {
          opacity: 1;
        }
      }
      .col-users:hover {
        background-color: #F2F9FF;
      }
    }
  }
}
.view-user_channels {
  ul.channels-list {
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      width: 190px;
      height: 114px;
      margin-right: 45px;
      margin-bottom: 20px;
      overflow: visible!important;
    }
  }
  .channel_link {
    width: 190px;
    height: 114px;
    display: inline-block;
    position: relative;
    span.fav-channel {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #333;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 5;
      opacity: 0;
    }
    &:hover {
      span.fav-channel {
        opacity: 1;
      }
    }
  }
  .well {
    .channel_link {
      margin-right: 35px;
    }
  }
}
.view-user_notifs {
  #bandeau-listes {
    h1 {
      text-align: left;
      a {
        font-size: 0.5em;
        margin-top: 1em;
        span {
          color: #ccc;
        }
        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
  #view-user-notifications {
    p.empty.hide-first {
      display: none;
    }
    .notification-filter {
      display: block;
      margin-bottom: 20px;
      padding-left: 0;
      .filter {
        display: inline-block;
        margin-right: 10px;
        padding: 2px 4px;
        font-size: 11.844px;
        font-weight: bold;
        line-height: 14px;
        color: #fff;
        vertical-align: baseline;
        white-space: nowrap;
        background-color: #999;
        &:hover {
          background-color: #3a87ad;
          text-decoration: none;
        }
        &.label-info {
          background-color: #3a87ad;
        }
      }
    }
    .notif-link {
      .friend_img {
        img {
          width: 40px;
        }
      }
      .col-xs-13 {
        position: relative;
        padding-left: 0;
        span.badge {
          position: absolute;
          top: 0px;
          right: 0px;
          background-color: rgb(226, 13, 13);
        }
        .row {
          height: 20px;
          .title {
            font-size: 1em;
            color: #333;
            font-style: italic;
            span {
              font-style: normal;
            }
          }
        }
        .origine {
          position: absolute;
          top: 1px;
          right: 80px;
          font-size: 0.85em;
          color: #999;
        }
      }
    }
    .col-xs-1 {
      .row {
        height: 40px;
        padding-right: 20px;
        a {
          display: block;
          margin-top: 20px;
          opacity: 0;
          color: #333;
        }
      }
    }
    td {
      padding: 12px 8px;
      &.new-notif {
        background-color: #999;
      }
      &:hover {
        background-color: #fefbed;
        .col-xs-1 {
          .row {
            a {
              font-size: 1.1em;
              opacity: 1;
              z-index: 5;
            }
          }
        }
      }
    }
  }
}
.view-user_friends {
  #bandeau-listes {
    h1 {
      text-align: left;
      a {
        font-size: 0.5em;
        margin-top: 1em;
        span {
          color: #ccc;
        }
        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .social-on {
    display: none;
    .list-container {
      .friends-list {
        padding: 0;
        list-style: none;
        margin-bottom: 20px;
        .friend-name {
          margin-right: 10px;
          margin-top: 10px;
          float: left;
          font-size: 15px;
          height: 25px;
          .label {
            display: inline-block;
            font-size: 100%;
            height: 25px;
            line-height: 20px;
          }
          .label-default:hover {
            background-color: #428bca;
          }
          &:hover span:not(.label-primary) {
            cursor: pointer;
          }
        }
        .friend-name-pic {
          img {
            vertical-align: top;
          }
          .label {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
    #social-on-slider {
      .slider-container {
        height: 330px;
        box-shadow: none;
        border: none;
        .items {
          li {
            margin-bottom: 38px;
            .tv-component {
              background: none!important;
              width: 148px;
              height: 198px;
            }
            .friends {
              width: 148px;
              height: 100px;
              text-align: center;
              margin-top: 12px;
              overflow: hidden;
              position: relative;
              padding-top: 11px;
              &:before {
                content: ' ';
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -4px;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 8px solid #333;
              }
              img {
                width: 35px;
                vertical-align: top;
              }
              a {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    &.social-invite {
      text-align: center;
      margin-top: 100px;
      .fb-invite {
        margin: 20px auto;
      }
    }
  }
  .social-off {
    .fb-btn {
      text-align: center;
    }
    .fb-connect-friends {
      width: 180px;
      height: 32px;
      cursor: pointer;
    }
    .fbconnect-infos {
      margin-top: 20px;
    }
  }
}
