.user-on {
  display: none;
}
.connected {
  .user-on {
    display: block;
    &.inline-block {
      display: inline-block;
    }
  }
}
#view-settings {
  .tab-content {
    margin-bottom: 150px;
  }
  #user-settings{
    margin-bottom: 15px;
  }
  #notifications{
    .btn{
      border: 1px solid #ccc;
    }
  }
  .form-control{
    display: inline-block;
    width: 21%;
  }
}

#vod-view {
  .hero-unit .ico-deporte {
    display: inline-block;
    padding: 1px 5px 4px;
    border-radius: 4px;
    background: #3878ff;
    text-shadow: none;
    margin-top: -2px;
    width: 20px!important;
    height: 19px;
    color: #fff;
    font-size: 12px;
    .glyphicon {
      color: white;
    }
  }
  table {
    tr {
      td {
        &:first-child {
          width: 33%;
        }
        &:last-child {
          width: 77%;
        }
        ul {
          li {
            clear: both;
            img {
              float: left;
              margin-right: 10px;
            }
            span.access {
              text-transform: uppercase;
              font-weight: bold;
              color: #999;
              &.achat {
                padding-top: 16px;
                display: inline-block;
              }
            }
            span.label {
              color: #5bc0de;
              padding-left: 0;
            }
            .btn.pull-right {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

body[class*='view-user_'] {
  &.playlist-in #main {
    padding-top: 70px;
  }
  #content {
    min-height: 700px;
  }
  #bandeau-listes {
    margin-top: -65px;
    padding-top: 65px;
    margin-bottom: 20px;
  }
  article ul.nav {
    >li {
      &.active {
        >a {
          &:hover, &:focus {
            background-color: #428bca;
          }
        }
      }
      >a {
        &:hover, &:focus {
          background-color: #428bca;
          color: white;
        }
      }
    }
  }
}

#bandeau-listes {
  background-color: #428bca;
  color: white;
  .container {
    margin-top: 20px;
    text-align: center;
    .user-off {
      margin-top: 20px;
      .btn-primary {
        background-color: white;
        color: #428bca;
        border: 1px solid #316B9C;
        &:hover {
          background-color: #3880BD;
          color: white;
        }
      }
    }
    .row {
      margin-bottom: 0;
      .col-xs-4:first-child a img {
        max-height: 35px;
        margin-top: 15px;
      }
      &.titres {
        p {
          font-family: 'Raleway', sans-serif;
          opacity: 1;
          font-size: 1.2em;
        }
      }
    }
    a {
      text-decoration: none;
      color: white;
      &:hover img, &.active img {
        opacity: 1;
      }
    }
  }
  img {
    max-height: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    opacity: 0.6;
    &+p {
      font-size: 1.2em;
      opacity: 1;
    }
  }
  p {
    font-size: 1em;
    opacity: 0.7;
  }
}
#view-user-persons{
  ul.nav {
    margin-bottom: 10px;
  }
}
.view-user_programs {
  #user-programs {
    li {
      position: relative;
      span.fav-trash {
        display: none;
        position: absolute;
        top: -1px;
        right: -1px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 2;
        background-color: #333;
      }
      &:hover {
        span.fav-trash {
          display: block;
        }
      }
    }
  }
}
.view-user_programs, .view-user_persons, .view-user_theaters, .view-user_category {
  .btn-danger:before {
    font-size: 14px;
  }
  .pagination {
    margin-top: 0;
  }
  #bandeau-listes + .container .nav {
    margin-bottom: 20px;
  }
  #bandeau-listes {
    .row {
      &.user-on, &.auth {
        >div {
          padding-top: 10px;
        }
      }
      &.descriptions {
        >div {
          padding-bottom: 5px;
        }
      }
      .active, .col-users:hover {
        background-color: white;
        color: #333;
        a {
          color: #333;
          span {
            background-color: #428bca!important;
            color: white!important;
          }
        }
        p {
          opacity: 1;
        }
      }
      .col-users:hover {
        background-color: #F2F9FF;
      }
    }
  }
}
.view-user_notifs {
  #bandeau-listes {
    h1 {
      text-align: left;
      a {
        font-size: 0.5em;
        margin-top: 1em;
        span {
          color: #ccc;
        }
        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
  #view-user-notifications {
    p.empty.hide-first {
      display: none;
    }
    .notification-filter {
      display: block;
      margin-bottom: 20px;
      padding-left: 0;
      .filter {
        display: inline-block;
        margin-right: 10px;
        padding: 2px 4px;
        font-size: 11.844px;
        font-weight: bold;
        line-height: 14px;
        color: #fff;
        vertical-align: baseline;
        white-space: nowrap;
        background-color: #999;
        &:hover {
          background-color: #3a87ad;
          text-decoration: none;
        }
        &.label-info {
          background-color: #3a87ad;
        }
      }
    }
    .notif-link {
      .col-xs-13 {
        position: relative;
        padding-left: 0;
        span.badge {
          position: absolute;
          top: 0px;
          right: 0px;
          background-color: rgb(226, 13, 13);
        }
        .row {
          height: 20px;
          .title {
            font-size: 1em;
            color: #333;
            font-style: italic;
            span {
              font-style: normal;
            }
          }
        }
        .origine {
          position: absolute;
          top: 1px;
          right: 80px;
          font-size: 0.85em;
          color: #999;
        }
      }
    }
    .col-xs-1 {
      .row {
        height: 40px;
        padding-right: 20px;
        a {
          display: block;
          margin-top: 20px;
          opacity: 0;
          color: #333;
        }
      }
    }
    td {
      padding: 12px 8px;
      &.new-notif {
        background-color: #999;
      }
      &:hover {
        background-color: #fefbed;
        .col-xs-1 {
          .row {
            a {
              font-size: 1.1em;
              opacity: 1;
              z-index: 5;
            }
          }
        }
      }
    }
  }
}
