<h2>{{ title }}</h2>
<form id="" class="form-inline" role="form" data-step="{{ step }}">
  <div class="form-group">
    <input class="form-control input-lg" type="text" placeholder=".....">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-lg" value="Chercher">
  </div>
</form>