{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.channels'|trans }}{% endblock %}

{% block content %}
  {% set count %}{{ channels|length }}{% endset %}
  {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with {active: 'channel' } %}

  <div class="container">
    {% if channels|length == 0 %}
      <p class="bs-callout bs-callout-info">Vous ne suivez aucune chaîne.</p>
    {% endif %}
    <br class="clear"/>
    <div class="slider slider-list">
      <ul class="channels-list">
        {% for item in channels|to_array %}
          <li data-id="{{ item.id }}">
            {% include 'SkreenHouseFactoryV3Bundle:Slider:_slider-channels_item.html.twig' with { item: item, origin: 'user_channels' } %}
          </li>
        {% endfor %}
      </ul>
    </div>

    {% render(controller('SkreenHouseFactoryV3Bundle:User:suggest', { type: 'channel', ids: ids })) %}
    {#{ render_esi(controller('SkreenHouseFactoryV3Bundle:User:suggest', { type: 'channel' })) }#}

  </div>

{% endblock %}