{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.friends'|trans }}{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-friends.js'
    filter='?yui_js' 
    output='js/compiled/pages/user-friends.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
<div id="bandeau-listes">
  <div class="container">
    <h1 class="clearfix">Mes amis regardent<a class="pull-right" href="{{ path('user_programs') }}"><span class="sk-font">-></span> Consulter mes listes</a></h1>
  </div>
</div>
  <div class="container">
    <div id="view-user-notifications" class="notifications">
        <span class="notification-filter">
          <a class="label label-info filter" data-filter="all">Tout</a>
          <a class="label filter" data-filter="tv">TV</a>
          <a class="label filter" data-filter="replay">Replay</a>
          <a class="label filter" data-filter="vod">VOD</a>
          <a class="label filter" data-filter="theaters">Cinéma</a>
          <a class="label filter" data-filter="chaîne">Chaînes</a>
        </span>
        <p class="empty {{ notifications|to_array|length == 0 ? '' : 'hide-first ' }}bs-callout bs-callout-info">Vous n'avez actuellement aucune notification correspondant à vos listes. N'hésitez pas à les compléter !</p>
        <table class="table table-striped">
          <tbody>
            {% for n in notifications %}
                {% include 'SkreenHouseFactoryV3Bundle:User:_notif.html.twig' with {notif: n } %}
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}