{% extends "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block title %}
  Commencer Mes Listes
{% endblock %}

{% block content %}
<div id="bandeau-listes">
  <div class="container">
    <h1>Mes listes</h1>
    <p class="sk-font">En ajoutant des programmes, des réalisateurs, des acteurs, des chaînes et des salles de cinémas à vos listes, vous êtes averti dès qu'un programme correspondant est diffusé. Que ce soit à la TV, en Replay, au Cinéma ou en VOD.</p>

    {% include 'SkreenHouseFactoryV3Bundle:User:bandeau-listes.html.twig' with { active: true, no_background: true } %}
  </div>

</div>
<div style="background: #5B9BD1;">
    <h2>Commencer mes listes</h2>
    <br/>
    <p><a data-id="3244017" rel="popover" data-placement="left" data-store-in-session="1" class="btn btn-suivre btn-plus fav-like" data-original-title="" title="">Ajouter à mes listes </a></p>
</div>
{% endblock %}