{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}

{% block title %}{{ 'page.title.user.recommendchannels'|trans }}{% endblock %}


{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/raphael-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.raphael-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.line-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.bar.js'
    filter='?yui_js' 
    output='js/compiled/vendors/raphaeljs.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/recommendchannels.js'
    filter='?yui_js' 
    output='js/compiled/pages/recommendchannels.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
<style>
.tab-content {
  min-height: 500px;
}
.tab-content li  {
  list-style: none;
}
</style>
<div class="container">
  <h1>myskreen vous recommande</h1>
  <p class="bs-callout bs-callout-info">Ces recommandations sont faites à partir de <a href="{{ path('user_programs') }}">vos listes</a>. Pour avoir les meilleurs conseils complétez-les.</p>



  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#svod" role="tab" data-toggle="tab">SVOD</a></li>
    <li role="presentation"><a href="#vod" role="tab" data-toggle="tab">VOD</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="svod">
      <h2>Abonnement Vidéo à la demande</h2>
      <div class="row">
        <div class="col-xs-8"><div id="svod-chart"></div></div>
        <ul class="col-xs-8">
        {% for reco in recos_svod|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:User:_recommendchannels_details.html.twig' with {reco: reco } %}
        {% endfor %}
        </ul>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="vod">
      <h2>Vidéo à la demande</h2>
      <div class="row">
        <div class="col-xs-8"><div id="vod-chart"></div></div>
        <ul class="col-xs-8">
        {% for reco in recos_vod|to_array %}
          {% include 'SkreenHouseFactoryV3Bundle:User:_recommendchannels_details.html.twig' with {reco: reco } %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}