
{% extends "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block title %}
  Commencer Mes Listes
{% endblock %}

{% block body_attribute %} data-spy="scroll" data-target=".navbar-vertical" data-offset="50"{% endblock %}

{% block content %}
<div id="bandeau-listes">
  <div class="container">
    <h1>Créer Mes listes</h1>
    <p class="sk-font">En ajoutant des programmes, des réalisateurs, des acteurs, des chaînes et des cinémas à vos listes, vous êtes averti dès qu'une diffusion vous intéresse : TV, Replay, Cinéma ou VOD.</p>
  </div>
</div>
<div class="fond-bleu">
  <div class="bg"></div>
  <div class="container">
    <div class="navbar-vertical col-xs-5">
      <ul class="nav timeline sk-font">
        <li><a href="#films">Vos Films <span id="count-films" class="badge">0</span></a></li>
        <li><a href="#emissions">Vos Émissions <span id="count-emissions" class="badge">0</span></a></li>
        <li><a href="#series">Vos Séries <span id="count-series" class="badge">0</span></a></li>
        <li><a href="#persons">Vos Personnalités <span id="count-persons" class="badge">0</span></a></li>
        <li><a href="#theaters">Vos Salles de cinéma <span id="count-theaters" class="badge">0</span></a></li>
        <li><a href="#channels">Vos Chaînes <span id="count-channels" class="badge">0</span></a></li>
        <li class="user-off confirm"><a href="#confirm" class="black">Enregistrer</a></li>
      </ul>
    </div>
    <div class="forms-container col-xs-11">
      <div class="form-container">
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'films', title: 'Ajouter vos films'} %}
      </div>
      <div class="form-container">
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'emissions', title: 'Ajouter vos émissions'} %}
      </div>
      <div class="form-container">
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'series', title: 'Ajouter vos séries'} %}
      </div>
      <div class="form-container">
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'persons', title: 'Ajouter vos personnalités'} %}
      </div>
      <div class="form-container">
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'theaters', title: 'Ajouter vos salles de cinéma'} %}
      </div>
      <div class="form-container">
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'channels', title: 'Ajouter vos chaînes'} %}
      </div>
      <div class="form-container user-off">
        <h2 id="confirm">Enregistrer</h2>
        <p><button id="register" class="btn btn-primary btn-lg">Enregistrer mes listes</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/start.less'
      filter='lessphp,?yui_css'
      output='css/start.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-start.js'
    filter='?yui_js' 
    output='js/compiled/pages/user-start.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}