
{% extends "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block title %}
  Commencer Mes Listes
{% endblock %}

{% block body_attribute %} data-spy="scroll" data-target=".navbar-vertical" data-offset="50"{% endblock %}

{% block content %}
<div id="bandeau-listes">
  <div class="container">
    <h1>Créer Mes listes</h1>
    <p class="sk-font">En ajoutant des programmes, des réalisateurs, des acteurs, des chaînes et des cinémas à vos listes, vous êtes averti dès qu'une diffusion vous intéresse : TV, Replay, Cinéma ou VOD.</p>
  </div>
</div>
<div class="fond-bleu">
  <div class="bg"></div>
  <div class="container">
    <div class="navbar-vertical col-xs-5">
      <ul class="nav timeline sk-font">
        <li><a href="#films">vos films <span id="count-films" class="badge">0</span></a></li>
        <li><a href="#emissions">vos émissions <span id="count-emissions" class="badge">0</span></a></li>
        <li><a href="#series">vos séries <span id="count-series" class="badge">0</span></a></li>
        <li><a href="#persons">vos personnalités <span id="count-persons" class="badge">0</span></a></li>
        <li><a href="#theaters">vos salles de cinéma <span id="count-theaters" class="badge">0</span></a></li>
        <li><a href="#channels">vos chaînes <span id="count-channels" class="badge">0</span></a></li>
        <li class="confirm"><a href="#confirm">enregistrer</a></li>
      </ul>
    </div>
    <div class="forms-container col-xs-11">
      <div class="form-container">
        {% set suggest_films = selection_pack.films.programs %}
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'films', title: 'Ajouter vos films', placeholder: 'Avengers, Intouchables...', suggests: suggest_films} %}
      </div>
      <div class="form-container">
        {% set suggest_emissions = selection_pack.emissions.programs %}
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'emissions', title: 'Ajouter vos émissions', placeholder: 'The Voice, Le Petit Journal...', suggests: suggest_emissions} %}
      </div>
      <div class="form-container">
        {% set suggest_series = selection_pack.series.programs %}
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'series', title: 'Ajouter vos séries', placeholder: 'How I Met Your Mother, House of Cards...', suggests: suggest_series} %}
      </div>
      <div class="form-container">
        {% set suggest_persons = selection_pack.persons %}
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'persons', title: 'Ajouter vos personnalités', placeholder: 'Leonardo DiCaprio, Steven Spielberg...', suggests: suggest_persons} %}
      </div>
      <div class="form-container">
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'theaters', title: 'Ajouter vos salles de cinéma', placeholder: 'Marseille, 75014, Le Palace...', suggests: null} %}
      </div>
      <div class="form-container">
        {% set suggest_chaines = selection_pack.chaines.programs %}
        {% include 'SkreenHouseFactoryV3Bundle:User:_start-form.html.twig' with {step: 'channels', title: 'Ajouter vos chaînes', placeholder: 'Humour, Sport, Politique...', suggests: suggest_chaines} %}
      </div>
      <div class="form-container">
        <h2 id="confirm">Enregistrer</h2>
        <p><button id="register" class="btn btn-primary btn-lg">Enregistrer mes listes</button></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagestyles %}
  {% stylesheets
    '@SkreenHouseFactoryV3Bundle/Resources/public/less/start.less'
      filter='lessphp,?yui_css'
      output='css/start.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock %}

{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/user-start.js'
    filter='?yui_js' 
    output='js/compiled/pages/user-start.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}