.view-apps_install {
  #main {
    padding-top: 0;
  }
}
#view-appsinstall {
  .title-1, .title-2 {
    color: #fff;
    text-shadow: 2px 2px 0px #2371a4;
  } 
  .title-1 {
    font-size: 48px;
    display: inline-block;
    margin-top: 50px;
  }
  .title-2 {
    font-size: 62px;
    display: block;
    margin-left: 30px;
  }
  .title-3 {
    color: #2980b9;
    font-size: 30px;
    font-weight: 400; 
    margin-top:40px;
    margin-bottom: 40px; 
  }
  .title-4 {
    color: #2980B9;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .title-5 {
    color: #2980B9;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .mk_logo {
    display: inline-block;
    height:50px;
    width: 195px;
    background: url(/bundles/skreenhousefactoryv3/images/apps_logo.png) no-repeat bottom left;
    margin-top: 50px;
    margin-bottom: -12px;
    margin-left: 15px;
  }
  .img_mobile {
    background: url(/bundles/skreenhousefactoryv3/images/mobiles_apps.jpg) no-repeat top left;
    width: 100%;
    height: 368px;
    display: block;
  }
  .list-style {
    list-style-type: square;
    >li {
      color: #2980b9;
      span {
        color:#373A3B;
        font-size: 16px;
      }
    }
  }
  .myworldisblue {
    height: 373px;
    background: url(/bundles/skreenhousefactoryv3/images/mobiles_apps.jpg) no-repeat top;
    overflow: hidden;
    padding-top: 70px;
  }
  .textbgcol {
    background: #fff;
    min-height: 350px;
    p {
      font-size: 16px;
      line-height: 26px;
      color: #373a3b;
    }
  }
  .store {
    width: 237px;
    position: absolute;
    height: 60px;
    &.store1 {
      top: 263px;
      left: 596px;
    }
    &.store2 {
      top: 262px;
      left: 345px;
    }
    &:hover {
      background: white;
      opacity: 0.3;
    }
  }
}