// Chaîne Christelle Cholet

body.view-channel-85 #main {
  #content {
    padding-bottom: 400px;
  }
  #cover85 {
    height: 575px;
    .col-xs-9 {
      padding-top: 100px;
      iframe {
        float: right;
        border: none;
      }
      .under-player {
        width: 455px;
        margin-top: 30px;
        h2 {
          margin: 15px 10px 5px 0;
          font-size: 17px;
          margin-right: 10px;
        }
      }
      .shareblock {
        margin-top: 15px;
        .fb-container {
          float: left;
          width: 60px;
          height: 61px;
        }
        .twitter-share {
          margin-left: 8px!important;
          margin-right: 8px!important;
        }
      }
    }
  }
  #view-page {
    padding-bottom: 0;
    .social {
      .social-suggestion {
        background: #de5f50;
      }
      .wrap-tab {
        background: #de5f50;
      }
      .nav-tabs {
        >li:not(.active) {
          a:hover {
            background: #DA0008;
          }
        }
        >li.active {
          >a {
            >div {
              i {
                color: #de5f50;
              }
            }
          }
        }
      }
    }
  }
  .bande-resa {
    background-color: #de5f50;
    height: 80px;
    margin-top: 30px;
    h2 {
      margin: 0;
      height: 80px;
      line-height: 80px;
      color: white;
    }
    .col-xs-5 {
      height: 80px;
      line-height: 80px;
      .btn {
        width: 100%;
        background-color: white;
        color: #333;
        border-color: #9E0B10;
        &:hover {
          background-color: #E95A5F;
          color: white;
        }
      }
    }
  }
  .description-seo {
    .well {
      background: none;
      border: none;
      -webkit-box-shadow: none; 
      box-shadow: none;
    }
  }
}
