body.view-channel-56 {
  .cover56 {
    .cover-wrap {
      display: block;
      height: 500px;
      width: 100%;
      position: absolute; 
    }
    .wrap-follow {
      position: absolute;
      left: 190px;
      bottom: 36px;
      z-index: 1;        
    }
    .title-for-mobile {
      display: none;
    }
    .share-block {
      left: 660px;
    }
  }
  #cover.cover56 {
    #channel56 {
      height: 535px;
      .header-content {
        background:none;
        top: 167px;
        .share-block {
          top: 294px;
          left: 620px;
        }
        .player-wrap {
          position: relative;
          left: 563px; //438px when burger-menu displayed - to change when implemented on desktop version
          width: 367px;
          iframe {
            border: none;
          }
        }
      }
    }
  }
}
body.view-channel-56 {
  #super-wrapper.closed {
    #cover.cover56 {
      #channel56 {
        .header-content {
          .player-wrap {
            left: 563px;
          }
        }
      }
    }
  }
}