#cover.cover56 {
  #channel56 {
    height: 535px;
    .header-content {
      background:none;
      top: 167px;
      .share-block {
        top: 294px;
        left: 620px;
      }
      .player-wrap {
        position: relative;
        left: 563px;
        width: 367px;
        iframe {
          border: none;
        }
      }
    }
  }
  .cover-wrap {
    display: block;
    height: 500px;
    width: 100%;
    position: absolute; 
  }
  .wrap-follow {
    position: absolute;
    left: 190px;
    bottom: 36px;
    z-index: 1;        
  }
  .share-block {
    left: 660px;
  }
}
