@malavita55:#C13221;

@import "../mixins.less";

body.view-channel #main #cover.cover55 {
  height: 425px;
  .cover-wrap {
    display: block;
    height: 500px;
    width: 100%;
    position: absolute;
  }
  .wrap-follow {
    position: absolute;
    left: 804px;
    bottom: 87px;
    z-index: 1;       
  }
  .share-block {
    left: 660px;
  }
}

.channel55 {
  .social {
    .social-suggestion {
      background:@malavita55;
    }
    .wrap-tab {
      background:@malavita55;
    }
    .nav-tabs {
      >li {
        >a {
         &:hover {
           background: lighten(@malavita55,10%);
         }
       }
      }
      >li {
        &.active {
          i {
            color:@malavita55;
          }
        }
      }
    }
  }
}

#channel55 {
  height: 535px;
  .header-content {
    background:none;
    top: 167px;
    .share-block {
      top: 294px;
      left: 620px;
    }
    .player-wrap {
      position: relative;
      left: 563px;
      width: 367px;
      iframe {
        border: none;
      }
    }
  }
}