body.view-channel #main #cover.cover35 {
  height: 600px;
  #channel35 {
    height: 535px;
    .header-content {
      background:none;
      .share-block {
        top: 294px;
        left: 620px;
      }
      .player-wrap {
        position: relative;
        left: 497px;
        width: 440px;
        iframe {
          border: none;
        }
      }
    }
  }
}