body.view-channel #main #cover{
  &.cover28{
    height: 550px;
  }
}
#channel28 {
  .info_saison {
    font-size: 0.9em;
    position: relative;
    top: 140px;
    left: 175px;
    width: 184px;
    text-align: center;
  }
  .header-content {
    background-color: transparent;
    padding:0;
    top: 55px;
    >h1 {
      top: 65px;
      left: 22px;
      position: absolute;
      >a {
        color: black;
      }
    }
    .well {
      -webkit-box-shadow: none;
      position: relative;
      left: 343px;
      width: 690px;
      height: 340px;
      top: 64px;
      border: 0;
      margin-top: 18px;
      background-color: transparent;
      .slider {
        width: 520px;
        margin: 0 auto;
        text-align: center;
        height: 160px;
        .text1 {
          font-size: 1.3em;
        }
        .text2 {
          font-size: 1.2em;
        }
        .bande {
          position: absolute;
          top: 286px;
          left: 0px;
          height: 44px;
          width: 520px;
          line-height: 17px;
          font-size: 0.9em;
          span {
            font-size: 1.2em;
          }
        }
        iframe {
          border: 1px solid #999;
        }
      }
      .intro {
        text-align: center;
      }
    }
    .btn {
      position: absolute;
      bottom: -76px;
      left: 33px;
      width: 310px;
    }
    .channel-icon {
      top: 260px;
      width: 230px;
      height: 230px;
      z-index: 100;
      position: relative;
      background-image:url('http://mskstatic.com/230/medias/photos/PBLV/saison9.jpg');
    }
  }
}