// Channel Replay
.view-channel-70 {
  background-color: #f5f5f5;
  #header70 {
    padding-top: 30px;
    .chaines-listing {
      margin: -10px 0 10px;
      padding: 0 120px;
      >div {
        border-top: 1px solid #eee;
        padding: 10px 0;
      }
      .logo_chaine {
        float: left;
        width: 45px;
        height: 45px;
        border: 1px solid #ede8e8;
        margin-right: 5px;
        margin-bottom: 5px;
        .gradient(rgba(255,255,255,0), #EDEDED,  rgba(255,255,255,0));
        .border-radius(5px, 5px, 5px, 5px);
        &:hover {
          background-color: #F8F8F8;
        }
        img {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          padding: 5px;
        }
      }
    }
  }
  .bande-couleur-replay {
    margin-top: 65px;
    padding: 5px 0 5px;
    background-color: #428bca;
    color: white;
    .container {
      .row {
        .col-xs-11 {
          padding-top: 15px;
        }
      }
    }
    #fake_h1 {
      font-family: 'Raleway', sans-serif;
      color: white;
      font-size: 2.3em;
      line-height: 1.1em;
      &+p {
        color: #042747;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 8px;
      }
    }
    p {
      font-family: 'Raleway', sans-serif;
      &.listes-plus {
        text-align: center;
        margin-top: 55px;
        &.user-off {
          margin-top: 52px;
        }
        &.user-on {
          margin: 17px 0;
          .btn-suivre {
            height: 50px;
            line-height: 40px;
            background-color: white;
            border: none;
            color: #428bca;
            border: 1px solid #316B9C;
            width: 100%;
            font-size: 17px;
            opacity: 1;
            &:hover {
              background: #3880BD;
              border: #316B9C 1px solid;
              color: #FFFFFF;
            }
          }
        }
        a {
          color: white;
          opacity: 0.8;
          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
      }
    }
  }
  .more-replay {
    background: #e4e4e4;
    #view-page {
      margin-top: 0;
      // background-color: #e4e4e4;
      .col-xs-8.suggester {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }
}