.cover73 {
  height: 425px;
  .cover-wrap{
    display: block;
    height: 500px;
    width: 100%;
    position: absolute;
    height: 452px;
  }
  .wrap-follow{
    position: absolute;
    z-index: 1;
    left: auto;
    right: 15px;
    bottom: 10px;
    >div {
      float: left;
      &.shareblock {
        margin-left: 55px;
      }
      h2 {
        margin: 5px 10px 5px 0;
        font-size: 18px;
        margin-right: 10px;
      }
      .fb-container {
        float: left;
        width: 59px;
        height: 61px;
      }
      .twitter-share {
        margin-right: 20px!important;
        margin-left: 20px!important;
      }
      .g-plus-share {
        width: 50px!important;
      }
    }
  }
}
#channel73 {
  height: 452px;
  .header-content {
    background:none;
    top: 167px;
    .player-wrap {
      position: absolute;
      right: 24px;
      left: auto;
      bottom: 70px;
      width: 510px;
      height: 302px;
      iframe {
        border: none;
      }
    }
  }
}
#view-page.channel73 {
  .social {
    .social-suggestion, .wrap-tab {
      background-color: rgba(221, 197, 141, 0.8);
    }
    .nav-tabs {
      >li {
        >a {
          &:hover {
            background-color: rgba(221, 197, 141, 1);
          }
        }
        &.active {
          i {
            color : rgba(221, 197, 141, 1);
          }
        }
      }
    }
  }
}
.touch article #main #content .cover73 .container .row .wrap-follow .shareblock .g-plus-share {
  height: 68px!important;
  width: 60px!important;
  margin-top: -8px!important;
}