body.view-channel #main #cover.cover8 {
  height: 600px;
  .btn-suivre{
    position: relative;
    z-index: 1;
  }
}
#channel8 {
  height: 535px;
  .container {
    top:200px;
  }
  .header-content {
    top: 518px;
    min-height: 60px;
    background:rgba(0,0,0,0.2);
    .btn {
      margin-top: 5px;
    }
    .share-block{
      position: absolute!important;
      top: 23px!important;
      left: 531px!important;
      min-width: 280px!important;
      height: 30px!important;
    }
  }
  .player-wrap {
    width: 530px;
    height: 280px;
    margin-left: 45.75%;
    iframe {
      border: none;
    }
    #player-playlist { 
      position: absolute;
      bottom: -20px;
      width: 530px;
      margin-bottom: 0px;
      padding-left: 0px;
      text-align: center;
      >li {
        color: black;
        background: #CCC;
        display:none;
      }
      .playing {
        background: black;
        display: block;
        >a {
          color: white;
        }
      }
    }
  }
}
.channel8 {
  span.ms-prog-title {
    display: inline!important;
  }
}