@media (max-width:767px) {
  body.view-channel-64 {
    #super-wrapper {
      #content-wrapper {
        #main {
          #view-appsinstall {
            .myworldisblue {
              background-position: 68% 86px;
              background-size: 130% auto;
              height: 250px;
              > a.store {
                display: none;
              }
            }
            > div.textbgcol {
              > .row {
                &:first-child {
                  > .col-xs-8:first-child {
                    > h2 {
                      margin-top: 0;
                    }
                  }
                }
                & + .row {
                  .col-xs-8 {
                    margin-bottom: 30px;
                  }
                }
              }
              > br, > hr {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}