@media (max-width:767px) {
  body {
    #super-wrapper {
      #content-wrapper {
        #main {
          padding-top: 86px!important;
          .bande_fonce {
            h1 {
              margin-top: 10px;
              font-size: 1.5em;
            }
          }
          .bande_plus_fonce {
            div.pull-right {
              float: none!important;
            }
          }
          .bande_notifications {
            div.pull-right {
              float: none!important;
              margin-bottom: 10px;
              a.btn {
                display: block;
                width: 60%;
                margin: 0 auto;
              }
            }
            h2 {
              display: none;
            }
            .notifications {
              display: none;
            }
            div.bs-callout {
              margin: 10px 0;
              padding: 10px;
            }
          }
          .teaser-container, .teaser-container-float {
            width: 380px;
            overflow: hidden;
            .teaser-title {
              margin-right: 0;
            }
          }
          #view-category {
            .pager-count {
              left: 15px;
            }
            .pager {
              margin: 10px 0;
            }
            #category-programs {
              &.slider {
                margin-bottom: 120px;
              }
            }
          }
        }
      }
    }
  }
}