@media (max-width:767px) {
  body.view-channel-70 {
    #super-wrapper {
      #content-wrapper {
        #main {
          .bande-couleur-replay {
            padding-top: 80px;
            .col-xs-5 {
              display: none;
            }
            .col-xs-11 {
              width: 100%;
            }
          }
          #header70 {
            .replaytop {
              .col-xs-4, .col-xs-8 {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}