@media (max-width:767px) {
  body.view-channel {
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover-fournisseur.no-background {
            background: #F5F5F5;
          }
          #cover {
            .fournisseurtop {
              > .col-xs-4 {
                display: none;
              }
              > .col-xs-8 {
                width: 100%;
                margin-top: 15px;
                padding: 0;
                .iframe-container {
                  width: 100%;
                  height: 250px;
                  iframe {
                    height: 250px!important;
                    width: 95%;
                  }
                }
                > div > div[data-autoplay] {
                  background-color: black;
                  .player-live {
                    width: 95%;
                    display: block;
                    margin: 0 auto;
                    height: 250px!important;
                  }
                }
                p.bs-callout {
                  margin: 0px 10px 20px;
                }
              }
            }
          }
          .packfournisseur {
            #view-fournisseur {
              > div.row {
                > div.col-xs-16 {
                  padding: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}