@media (max-width:767px) {
  body.view-channel {
    #super-wrapper {
      #content-wrapper {
        #main {
          .chaines-listing {
            padding: 0 28px;
            > div {
              border-top: none;
            }
            .logo_chaine {
              margin-right: 6px;
              margin-left: 5px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}