@media (max-width:767px) {
  body.view-channel-85 {
    background-size: 200% auto !important;
    background-position: 40% 75px !important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover85 {
            > .container {
              padding: 0;
              > .row {
                margin: 0;
                .col-xs-7 {
                  display: none;
                }
                .col-xs-9 {
                  width: 100%;
                  padding: 255px 0 0;
                  iframe {
                    float: none;
                    width: 95%!important;
                    height: 250px!important;
                    margin: 0px auto;
                    display: block;
                  }
                  .under-player {
                    width: 95%;
                    float: none!important;
                    margin: 0 auto;
                    .shareblock {
                      display: none;
                    }
                  }
                }
              }
            }
          }
          .bande-resa {
            .col-xs-7 {
              width: 49%;
            }
            .col-xs-6 {
              display: none;
            }
            .col-xs-3 {
              width: 51%;
            }
          }
        }
      }
    }
  }
}