@sk-blue: #428bca;

@media (max-width:767px) {
  body.view-channel-56 {
    background: none!important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover56 {
            height: 460px;
            #channel56 {
              height: 400px;
              .cover-wrap {
                height: 420px;
              }
              .header-content {
                position: static;
                width: 100%;
                margin-left: 0;
                padding: 86px 0 0;
                .player-wrap {
                  position: static;
                  display: block;
                  width: 100%;
                  background: black;
                }
                .title-for-mobile {
                  display: block;
                  padding: 0 15px;
                  h2 {
                    margin-bottom: 5px;
                    color: @sk-blue;
                  }
                }
                .wrap-follow {
                  position: static;
                  margin-top: 15px;
                  float: right;
                  margin-right: 15px;
                }
                .share-block {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}