@media (max-width:767px) {
  body.view-channel-62 {
    background-position: 70% 0!important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover62 {
            #channel62 {
              .header-content {
                width: 100%;
                left: 0;
                margin-left: 0;
                padding: 11px 0;
                .player-wrap {
                  width: 100%;
                  left: 0;
                  iframe {
                    width: 95%!important;
                    display: block;
                    margin: 0 auto;
                  }
                }
              }
            }
            .wrap-follow {
              right: 15px;
              left: auto;
            }
          }
          #view-page {
            #myTabContent {
              width: 92%;
              margin: 0 4%;
              position: static;
              iframe {
                width: 100%!important;
              }
            }
          }
        }
      }
    }
  }
}