@media (max-width:767px) {
  body.view-channel-62 {
    background-position: 70% 0!important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover62 {
            #channel62 {
              .header-content {
                width: 100%;
                left: 0;
                margin-left: 0;
                padding: 11px 0;
                .player-wrap {
                  width: 100%;
                  left: 0;
                }
              }
            }
            .wrap-follow {
              right: 15px;
              bottom: 65px;
              left: auto;
            }
          }
        }
      }
    }
  }
}