@media (max-width:767px) {
  body {
    #super-wrapper {
      #footer {
        padding-top: 30px;
        .nav-share {
          li:not(:first-child) {
            display: none!important;
          }
          li.col-xs-4 {
            width: 100%;
          }
        }
        .row_apps, #boost, #sitemap, hr {
          display: none;
        }
      }
    }
  }
}
