@media (max-width:410px) {
  body {
    #super-wrapper {
      #slide-in {
        display: none;
      }
      #msk-menu {
        > ul {
          padding-top: 22px;
          padding-bottom: 50px;
          > li {
            #nav-search-bis {
              display: block;
              padding-bottom: 40px;
              position: relative;
              padding-left: 30px;
              span.glyphicon-search {
                top: 5px!important;
                right: 30px!important;
              }
              .searchbutton {
                width: 205px;
              }
            }
          }
        }
      }
      #content-wrapper {
        #top-header {
          padding-right: 0;
          #logo {
            width: 80px;
            img {
              width: 75px;
              margin-top: 10px;
            }
          }
          .headertoprighticons {
            float: right;
            width: 180px;
            position: static;
            margin-top: -75px;
            text-align: right;
            padding-right: 25px;
            &.nav {
              > li {
                .playlists {
                  margin-left: 0;
                }
                > a {
                  &.auth {
                    padding: 5px 8px;
                    margin-left: 35px;
                    margin-top: -13px;
                  }
                }
              }
              &.nav-playlists {
                >li.user-menu {
                  > ul {
                    left: -233px;
                    top: 90%;
                  }
                }
              }
            }
          }
          #nav-search {
            display: none;
          }
          .nav.navbar-nav {
            margin-top: -10px;
            padding-left: 0px;
            text-align: center;
            width: 100%;
            .hover-menu {
              top: 24px;
              text-align: left;
              &.vod {
                left: -50px;
              }
              &.cine {
                left: -140px;
              }
            }
            > li {
              font-size: 13px;
              display: inline-block;
              float: none;
              > a, > span {
                padding: 8px 9px;
              }
            }
          }
        }
        #content {
          #view-home {
            .carousel {
              &.carousel-a-la-une {
                &.carousel {
                  min-height: 400px;
                  .carousel-control {
                    top: 320px;
                    width: 45px;
                    height: 45px;
                    line-height: 28px;
                  }
                  .carousel-inner {
                    .item {
                      height: 400px;
                      .container {
                        .teaser-slider {
                          top: 100px;
                          width: 300px;
                          height: 166px;
                          left: 50%;
                          margin-left: -150px;
                          iframe {
                            width: 300px;
                            height: 166px;
                          }
                        }
                        .carousel-caption {
                          left: 8%;
                          width: 83%;
                          top: 285px;
                          min-height: 105px;
                          > p:first-child {
                            padding-top: 5px;
                            font-size: 1.8em;
                            a {
                              white-space: normal;
                              height: 60px;
                            }
                          }
                          p.pull-left {
                            margin-top: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .hometop {
              .thema-home {
                display: none;
              }
              .col-xs-4 {
                width: 100%;
              }
            }
            .chaines-listing {
              display: none;
            }
            .col-xs-8 {
              width: 100%;
              &.suggester {
                margin: 5px 0px;
                .new-slider {
                  .carousel-inner {
                    height: 590px;
                    .combinaison-1 {
                      width: 50%;
                    }
                    .combinaison-2x1 {
                      width: 100%;
                    }
                    .combinaison-2x2 {
                      width: 100%;
                    }
                  }
                  .wrap-carousel-control {
                    padding: 0;
                    margin: 0;
                    height: 30px;
                    li + li {
                      float: none;
                      margin: 0;
                      .carousel-indicators {
                        li {
                          margin: 0 2px;
                          &.active {
                            margin: 0 2px;
                          }
                        }
                      }
                    }
                    .carousel-control {
                      &.right {
                        right: -20px;
                        top: 0;
                      }
                      &.left {
                        left: -5px;
                        top: 0;
                      }
                    }
                  }
                  .btn-slider {
                    position: static;
                    display: block;
                    margin: 0 auto;
                  }
                }
              }
            }
            .container.nopadding {
              hr, ins {
                display: none!important;
              }
            }
          }
        }
        #footer {
          padding-top: 30px;
          .nav-share {
            li:not(:first-child) {
              display: none!important;
            }
            li.col-xs-4 {
              width: 100%;
            }
          }
          .row_apps, #boost, #sitemap, hr {
            display: none;
          }
        }
      }
    }
    &.home-mixte {
      #content {
        #view-home {
          padding-bottom: 20px;
        }
      }
    }
  }
}
