@media (max-width:767px) {
  body {
    #super-wrapper {
      #msk-menu {
        > ul {
          padding-top: 22px;
          padding-bottom: 50px;
          > li {
            #nav-search-bis {
              display: block;
              padding-bottom: 40px;
              position: relative;
              padding-left: 30px;
              span.glyphicon-search {
                top: 5px!important;
                right: 30px!important;
              }
              .searchbutton {
                width: 205px;
              }
            }
          }
        }
      }
      #content-wrapper {
        #top-header {
          padding-right: 0;
          border-top: none;
          #logo {
            width: 80px;
            img {
              width: 75px;
              margin-top: 10px;
            }
          }
          .headertoprighticons {
            float: right;
            width: 180px;
            position: static;
            margin-top: -75px;
            text-align: right;
            padding-right: 25px;
            &.nav {
              > li {
                &.playlists {
                  margin-left: 0;
                }
                > a {
                  &.auth {
                    padding: 5px 8px;
                    margin-left: 35px;
                    margin-top: -13px;
                  }
                }
              }
              &.nav-playlists {
                > li {
                  &.user-menu {
                    > ul {
                      left: -233px;
                      top: 90%;
                    }
                  }
                  &.notifications {
                    #dropdown-menu-notification {
                      display: none;
                    }
                  }
                }
              }
            }
          }
          #nav-search {
            display: none;
          }
          .nav.navbar-nav {
            margin-top: -10px;
            padding-left: 0px;
            text-align: center;
            width: 100%;
            .hover-menu {
              top: 24px;
              text-align: left;
              &.vod {
                left: -50px;
              }
              &.cine {
                left: -140px;
              }
            }
            > li {
              font-size: 13px;
              display: inline-block;
              float: none;
              > a, > span {
                padding: 8px 9px;
              }
            }
          }
        }
      }
    }
  }
}
