@media (max-width:767px) {
  body.view-channel {
    #super-wrapper {
      #content-wrapper {
        #main {
          #content {
            #cover {
              .player-wrap {
                iframe {
                  width: 95%!important;
                  height: 250px!important;
                  margin: 0px auto;
                  display: block;
                }
              }
            }
            #view-page {
              #myTabContent {
                width: 92%;
                margin: 0 4%;
                position: static;
                iframe {
                  width: 100%!important;
                }
              }
            }
          }
        }
      }
    }
  }
}