@media (max-width:767px) {
  body.view-channel-65 {
    #super-wrapper {
      #content-wrapper {
        #main {
          .mediacenter-inconnus {
            .integrale-title {
              > .row {
                > .col-xs-11 {
                  width: 100%;
                  h1 {
                    font-size: 2em;
                    line-height: 1em;
                    margin-bottom: 5px;
                  }
                  h2 {
                    font-size: 1.5em;
                    padding-bottom: 0px;
                  }
                }
                .share-title {
                  display: none;
                }
              }
            }
            .player-block {
              width: 100%;
              height: 250px;
              background-color: black;
              iframe {
                width: 100%!important;
                height: 250px!important;
              }
            }
            .myskreen-block {
              display: none;
            }
            .isplaying-title {
              margin-bottom: 0;
            }
            .vidplaylist {
              > .btn-wrap {
                top: 50%;
                margin-top: -50px;
              }
              .carousel-inner {
                .vignette {
                  float: none;
                  width: 75%;
                  margin: 0 auto;
                  .img-small {
                    display: inline-block;
                  }
                }
                span {
                  display: inline-block;
                }
              }
            }
            .packgroup {
              h2.lato {
                width: 100%;
              }
              .col-xs-6 {
                width: 100%;
                .block-big {
                  width: 100%;
                  height: auto;
                  margin-bottom: 8px;
                  .img-big {
                    width: 100%;
                    &:after {
                      left: 50%;
                      margin-left: -50px;
                    }
                  }
                }
              }
              .col-xs-10 {
                width: 100%;
                .carousel-list {
                  min-height: initial;
                  .carousel-inner {
                    margin: 0;
                    min-height: 500px;
                    .block-small {
                      margin-left: 0;
                      max-width: 165px;
                      width: 46%;
                      margin-right: 4%;
                      .img-small {
                        max-width: 165px;
                        width: 100%;
                        &:after {
                          left: 50%;
                          margin-left: -32px;
                        }
                      }
                    }
                  }
                  .wrap-carousel-control {
                    position: relative;
                    width: 100%;
                    padding: 0;
                    margin-bottom: 20px;
                    .li-glyph:first-child {
                      float: left;
                      margin: 0 10px 0 0;
                      &+ li {
                        float: none;
                        display: inline-block;
                        margin-left: 0;
                        width: 68%;
                        &+ .li-glyph {
                          margin: 0 0 0 10px;
                        }
                      }
                    }
                    .carousel-control {
                      .glyphicon.glyphicon-chevron-left {
                        left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}