@media (max-width:767px) {
  body.view-channel-60 {
    background-size: 165% auto !important;
    background-position: -100px 82px !important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover60 {
            height: 460px;
            #channel60 {
              .header-content {
                width: 100%;
                left: 0;
                margin-left: 0;
                padding: 0;
                .player-wrap {
                  width: 100%;
                  left: 0;
                  top: 200px;
                  background-color: black;
                }
                a.popin_vrais_inconnus {
                  left: 43%;
                  top: 170px;
                  font-size: 10px;
                  min-height: 20px;
                  min-width: 168px;
                  padding: 2px;
                  line-height: 1em;
                }
                #logo {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}