@media (max-width:1420px) {
  #super-wrapper.closed {
    #top-header {
      .headertoprighticons {
        right: -135px;
      }
    }
  }
}
@media (max-width:1250px) {
  #super-wrapper {
    padding-left: 0;
    #msk-menu {
      left: 0;
      display: none;
    }
    &.active {
      position: relative;
      left: 250px;
      #msk-menu {
        display: block;
        left: 250px;
        width: 250px;
        transition: all 0.3s ease 0s;
      }
      #content-wrapper {
        #top-header {
          left: 250px;
          .headertoprighticons {
            right: 275px;
          }
        }
      }
    }
    &.closed {
      #content-wrapper {
        #top-header {
          padding-left: 0px;
          .headertoprighticons {
            right: 30px;
          }
        }
      }
    }
    #content-wrapper {
      #top-header {
        left: 0;
        padding-right: 15px;
        .headertoprighticons {
          li.playlists {
            a.auth {
              margin-left: 60px;
            }
          }
        }
      }
    }
  }
}