@media (max-width:767px) {
  body.view-fournisseur.last-replay  {
    #super-wrapper {
      #content-wrapper {
        #main {
          .slider {
            .items {
              .teaser-container {
                float: none;
                width: 100%;
                height: auto;
                .teaser-replay {
                  width: 100%;
                  height: 250px;
                  iframe {
                    width: 100%!important;
                    height: 250px!important;
                  }
                }
                .replay-infos {
                  margin-top: 15px;
                  margin-right: 0;
                  padding: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}