@media (max-width:767px) {
  body.view-channel-55 {
    background: none!important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover55 {
            height: 370px;
            #channel55 {
              height: 350px;
              .cover-wrap {
                height: 400px;
                .header-content {
                  width: 100%;
                  position: static;
                  margin-top: 86px;
                  margin-left: 0;
                  padding: 0;
                  .player-wrap {
                    position: static;
                    width: 100%;
                    background-color: black;
                  }
                }
              }
            }
            .wrap-follow {
              position: static;
              margin-left: 5%;
            }
          }
          .bande_notifications {
            display: none;
          }
        }
      }
    }
  }
}