@media (max-width:767px) {
  body.view-channel-35 {
    background-size: 140% auto !important;
    background-position: 12% 87px !important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover35 {
            height: 550px;
            .cover-wrap {
              #channel35 {
                height: 550px;
                .header-content {
                  top: 270px;
                  width: 100%;
                  margin-left: 0;
                  left: 0;
                  padding: 0;
                  .player-wrap {
                    position: static;
                    width: 100%;
                    left: 0;
                    iframe {
                      width: 95%!important;
                      height: 250px!important;
                      margin: 0px auto;
                      display: block;
                    }
                  }
                  .share-block {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}