@media (max-width:767px) {
  body {
    #super-wrapper {
      #content-wrapper {
        .modal {
          width: 98%;
          margin: 0 auto;
          left: 0;
          .modal-header {
            padding: 10px;
            padding-bottom: 0;
            .modal-title {
              font-size: 1.1em;
            }
            .modal-message {
              margin-top: 10px;
              font-size: 0.9em;
            }
          }
          .modal-body {
            padding: 10px;
            .oubien {
              margin-bottom: 10px;
            }
            #fbconnect {
              margin-top: 0;
              .bs-callout {
                padding: 5px;
              }
            }
            .paymentPopin {
              .btn.btn-large.btn-primary.tv-component.tv-component-input.form-control {
                margin-top: 10px;
              }
            }
            form {
              > ul {
                font-size: 0.9em;
              }
              .tab-content {
                > br {
                  display: none;
                }
              }
              table {
                th {
                  width: 115px;
                  padding-right: 5px;
                }
              }
            }
            .tv-component.tv-component-force {
              margin-left: 0%;
            }
          }
          .modal-footer {
            padding: 10px;
            margin-top: 0px;
          }
          #modal-pass {
            padding-top: 0;
            padding-bottom: 0;
            p {
              margin-bottom: 0;
              img {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}