@media (max-width:767px) {
  body {
    #super-wrapper {
      #content-wrapper {
        #main {
          .col-xs-8 {
            width: 100%;
            &.suggester {
              margin: 5px 0px;
              .new-slider {
                .carousel-inner {
                  height: 590px;
                  .combinaison-1 {
                    width: 50%;
                  }
                  .combinaison-2x1 {
                    width: 100%;
                  }
                  .combinaison-2x2 {
                    width: 100%;
                  }
                }
                .wrap-carousel-control {
                  padding: 0;
                  margin: 0;
                  height: 30px;
                  li + li {
                    float: none;
                    margin: 0;
                    .carousel-indicators {
                      li {
                        margin: 0 2px;
                        &.active {
                          margin: 0 2px;
                        }
                      }
                    }
                  }
                  .carousel-control {
                    width: 30px;
                    height: 30px;
                    .glyphicon {
                      margin-left: 0;
                    }
                    &.right {
                      right: 0;
                      top: 0;
                    }
                    &.left {
                      left: 0;
                      top: 0;
                    }
                  }
                }
                .btn-slider {
                  position: static;
                  display: block;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
