@media (max-width:767px) {
  body.view-person {
    #super-wrapper {
      #content-wrapper {
        #main {
          #view-person {
            .bande_listes {
              margin-top: 0px!important;
              > .container {
                > .row {
                  > .col-xs-2 {
                    width: 33%;
                  }
                  > .col-xs-9 {
                    width: 67%;
                  }
                  > .col-xs-5 {
                    .col-xs-16:not(.ajout) {
                      display: none;
                    }
                  }
                }
              }
            }
            .bande_fonce {
              h2 {
                margin-top: 5px;
              }
              p.sk-font.pull-right {
                margin-bottom: 0;
              }
            }
            #person-related {
              .person-relations {
                float: none;
                width: 100%;
                padding: 5px;
                a.btn-sm {
                  padding: 5px;
                  width: 135px;
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}