@media (max-width:767px) {
  body {
    #super-wrapper {
      #content-wrapper {
        #main {
          #player.default-player.in {
            width: 96%;
            height: 250px;
            left: 2%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}