@media (max-width:767px) {
  body {
    #super-wrapper {
      #content-wrapper {
        .description-seo {
          &.description-seo-absolute {
            margin-left: 0;
            margin-right: 0;
            width: 90%;
            left: 5%;
          }
        }
      }
    }
  }
}