@media (max-width:767px) {
  body.view-channel-73 {
    background-size: 300% auto !important;
    background-position: -200px 66px !important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover.cover73 {
            height: 600px;
            #channel73 {
              height: 545px;
              .cover-wrap {
                .header-content {
                  width: 100%;
                  left: 0;
                  margin-left: 0;
                  padding: 0;
                  top: 285px;
                  .player-wrap {
                    position: static;
                    width: 100%;
                    height: 250px;
                    background-color: black;
                  }
                }
              }
            }
            .wrap-follow {
              position: static;
              padding: 0 15px;
              > div {
                float: none;
              }
              .shareblock {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}