@media (max-width:767px) {
  body.view-channel-13 {
    background-size: 100%!important;
    background-position: 0 86px!important;
    #super-wrapper {
      #content-wrapper {
        #main {
          #cover {
            height: auto;
            .header-container {
              height: auto;
              position: static;
              .header-content {
                position: static;
                left: 0;
                margin-left: 0;
                width: 100%;
                padding-top: 180px;
                height: auto;
                .share-block {
                  display: none;
                }
                #fake_h1 {
                  font-size: 2em;
                }
                .lead.channel-description {
                  font-size: 1em;
                }
              }
            }
          }
          .bande_notifications {
            .pull-right {
              a.btn-suivre {
                width: 100%;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}