@media (max-width:767px) {
  body.view-user_start {
  	#super-wrapper {
        #top-header {
          position: static;
          margin-bottom: 5px;
        }
        #main {
          padding-top: 0px!important;
          #content {
            min-height: 600px;
          }
        }
        #bandeau-listes {
          padding-top: 0;
          height: 600px;
          > .container:first-child {
            display: none;
            & + .container {
              padding-left: 0;
            }
          }
          > .container {
            height: 600px;
          }
          .panel-start {
            &:first-child {
              h1 {
                padding: 0;
                margin-bottom: 5px;
              }
              #intro-step-one, #intro-step-two, #intro-step-three {
                position: static;
                width: 100%;
              }
              #intro-step-one {
                margin-left: 0;
              }
              #intro-ligne-one {
                display: none;
              }
              #intro-ligne-two {
                display: none;
              }
              #intro-ligne-three, #intro-ligne-four {
                display: none;
              }
              .start-list {
                left: 50%;
                margin-left: -120px;
                top: 300px;
              }
            }
            > .relative {
              height: 500px;
              .btn-back {
                top: 415px;
              }
              a.btn-primary {
                top: 415px;
                left: 100px;
                white-space: normal;
              }
            }
            .form-container {
              height: 400px;
              h2 {
                padding: 5px 10px;
                margin-bottom: 5px;
                font-size: 1.2em;
              }
              .form-inline {
                padding: 0 15px;
                .form-group:first-child {
                  margin-bottom: 5px;
                }
              }
              .results {
                padding: 0 15px;
                .head-suggest {
                  padding: 5px 0 5px 25px;
                }
                .suggest {
                  a.btn-suivre + .col-xs-1 {
                    display: none;
                    & + a {
                      .col-xs-4 {
                        display: none;
                      }
                      .col-xs-10 {
                        width: 87%;
                      }
                    }
                  }
                }
                &.slider ul.items li {
                  height: 91px;
                }
              }
              &.share-container {
                .user-friends-link {
                  margin-top: 180px;
                }
                .share-off > div > img {
                  margin-top: 180px;
                }
                .share-on {
                  margin-top: 180px;
                }
              }
            }
          }
      }
  	}
  }
}