@media (max-width:767px) {
  body {
    #super-wrapper {
      #content-wrapper {
        #main {
          padding-top: 100px!important;
          #content {
            > .container.clearfix {
              padding: 0;
              .trends-container, .tops-container {
                width: 100%;
                h3, p, .btn-group {
                  padding-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}