@media (max-width:767px) {
  body.view-tvgrid {
    #super-wrapper {
      #content-wrapper {
        #main {
          #view-tvgrid {
            .bande_listes {
              margin-top: 0;
              .col-xs-5 {
                display: none;
              }
              .col-xs-11 {
                width: 100%;
              }
            }
          }
          .container {
            .marger {
              margin-top: 15px;
              ul.nav-pills {
                > li {
                  a {
                    padding: 3px 5px !important;
                    font-size: 15px;
                    line-height: 30px;
                    min-height: 38px;
                  }
                  &.datepicker {
                    margin-top: 0;
                    text-align: left;
                    > span {
                      text-align: center;
                    }
                  }
                }
                #datepicker {
                  margin: 0px 0px 0px -150px;
                  left: 50%;
                  top: -192px;
                }
              }
              .col-xs-8.text-right {
                text-align: left;
                #opt-hour {
                  padding: 7px;
                }
              }
            }
          }
        }
      }
    }
  }
}