<div class="adsense-block">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <div id="ins-adsense">
    <script type="text/javascript">
    if ('matchMedia' in window) {
      document.getElementById("ins-adsense").innerHTML = '<ins class="adsbygoogle" '
                  + (window.matchMedia('(min-width:500px)').matches ? 'style="display:inline-block;width:970px;height:90px"' : 'style="display:inline-block;width:290px;height:50px"' )
                  + ' data-ad-client="ca-pub-4265768576048156" data-ad-slot="' + (window.matchMedia('(min-width:500px)').matches ? '3195548951' : '9874522159' )
                  + '"></ins>';
    } else {
      document.getElementById("ins-adsense").innerHTML = '<ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-4265768576048156" data-ad-slot="3195548951"></ins>';
    }
  </script>
  </div>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>