<div class="col-xs-6">
<p class="ms-surtitre">En ce moment</p>
{% for p in programs %}
{% if loop.index in [20,40] %}
</div>
<div class="col-xs-5 span-d">
	{% endif %}
	<a href="{{ p.seo_url }}">{{ p.title }} {{ p.has_vod in [5,6,7,8] ? 'replay' : 'streaming' }}</a>
	{% endfor %}
</div>