<ul class="nav">
  {% for p in programs %}
  {% if loop.first %}{% else %}<li class="pull-left"> ~ </li>{% endif %}<li><a class="pull-left" href="{{ p.seo_url }}">{{ p.title }}</a></li>
  {% endfor %}
</ul>