<div class="container clear">
  <hr/>
  <div class="row">
  <ul class="nav">
    <li><a rel="nofollow" class="pull-left" href="http://www.facebook.com/myskreen" id="fb" class="colorbox">Facebook</a></li>
    <li><a rel="nofollow" class="pull-left" href="http://www.twitter.com/myskreen" id="tw" class="colorbox">Twitter</a></li>
    <li><a rel="nofollow" class="pull-left" href="https://plus.google.com/106555719800030017985/posts">Google+</a></li>
  </ul>
  </div>
  <div class="row clear">
    <div class="span2"><a class="pull-left" href="http://www.myskreen.com/"><img src="http://www.myskreen.com/images/skhv2/img/logo-footer.jpg" alt="mySkreen.com"></a></div>
    <div class="span8"><p class="clear">mySkreen est un guide de programmes innovant qui réunit sur un seul site toutes les chaines de télévision, tout le replay, tous les catalogues de VOD, le cinéma avec les horaires et les salles, et les web séries produites par les meilleurs sites médias. Suivez les programmes que vous aimez et soyez avertis à chaque diffusion ou nouvelle offre en streaming. Grâce à mySkreen vous reprenez le pouvoir : mySkreen c’est votre télé à la carte et à la demande.</p>
  </div>
  <div class="row">
    <div id="boost" class="span5">
    {% render 'SkreenHouseFactoryV3Bundle:Main:boost' %}
    </div>
    <div id="cats" class="span5">
    CATS
    </div>
  </div>
  <div class="row">
  <ul class="nav">
    <li><a rel="nofollow" class="pull-left" href="http://v2.myskreen.com/about">A propos</a></li>
    <li><a rel="nofollow" class="pull-left" class="external" href="http://medias.myskreen.com/pdf/cguv.pdf">CGUV</a></li>
    <li><a rel="nofollow" class="pull-left" id="http://v2.myskreen.com/writeus" class="colorbox">Nous écrire</a></li>
  </ul>
  </div>
</div>