<nav id="msk-menu">
  <ul>
    <li>
      <span href="">Prochaines diffusions et disponibilités</span>
      <ul>
        <li class="user-off"><span>Retrouvez-ici les diffusions des programmes que vous suivez&nbsp;: TV, VOD, Replay et Cinéma</span></li>
        <li class="user-on"><a href="">- TV</a></li>
        <li class="user-on"><a href="">- Streaming</a></li>
        <li class="user-on"><a href="">- Cinéma</a></li>
        <li class="user-on"><a href="">- Replay</a></li>
        <li class="user-on"><a href="">- Mes amis</a></li>
      </ul>
    </li>
    <li>
      <span href="">Mes listes</span>
      <ul>
        <li><a href="">- Mes films</a></li>
        <li><a href="">- Mes documentaires</a></li>
        <li><a href="">- Mes émissions</a></li>
        <li><a href="">- Mes personnalités</a></li>
        <li><a href="">- Mes salles de cinéma</a></li>
        <li><a href="">- Mes catégories</a></li>
      </ul>
    </li>
    <li>
      <a href="">Mes amis</a>
    </li>
  </ul>
</nav>