<nav id="msk-menu">
  <ul>
    <li>
      <a href="">Notifications</a>
    </li>
    <li>
      <a href="">Prochaines diffusions et disponibilités</a>
      <ul>
        <li><span>Retrouvez-ici les diffusions des programmes que vous suivez&nbsp;: TV, VOD, Replay et Cinéma</span></li>
      </ul>
    </li>
    <li>
      <a href="">Mes listes</a>
      <ul>
        <li><a href="">Mes films</a></li>
        <li><a href="">Mes documentaires</a></li>
        <li><a href="">Mes émissions</a></li>
        <li><a href="">Mes personnalités</a></li>
        <li><a href="">Mes salles de cinéma</a></li>
        <li><a href="">Mes catégories</a></li>
      </ul>
    </li>
    <li>
      <a href="">Mes amis</a>
    </li>
  </ul>
</nav>