<a class="btn back-selector" href="#">&laquo; {{ 'back'|trans }}</a>
<h2>{{ type|trans }}</h2>
<ul id="playlist" class="items" data-update-url="">
  <li style="background:url(http://mskstatic.com/150/200/medias/photos/programmes/moins_de4350000/4348916/the-divide.jpg) no-repeat;">
    <span class="title">The Divide<br/><span class="label label-info">sur mySkreen</span></span>
  </li>
  <li style="background:url(http://mskstatic.com/150/200/medias/photos/programmes/moins_de1320000/1303115/city-of-crime.jpg) no-repeat;">
    <span class="title">City of crime<br/><span class="label label-warning">au cinéma</span></span>
  </li>
  <li style="background:url(http://mskstatic.com/150/200/medias/photos/programmes/moins_de4380000/4356824/histoires-en-serie.jpg) no-repeat;">
    <span class="title">Prêtes à tout pour leurs enfants<br/><span class="label label-important">en direct</span></span>
    
  </li>
</ul>