{% extends app.request.isXmlHttpRequest or app.request.get('xhr') ? "SkreenHouseFactoryV3Bundle::empty.html.twig" : "SkreenHouseFactoryV3Bundle::layout.html.twig" %}

{% block meta %}
<meta property="og:title" content="{{ 'page.title.apps.install'|trans }}" />
<meta property="og:description" content="{{ 'page.description.apps.install'|trans }}" />
<meta property="og:image" content="http://medias.myskreen.com/logo.png" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.myskreen.com" />
{% endblock %}
{% block title %}{{ 'page.title.apps.install'|trans }}{% endblock %}
{% block description %}{{ 'page.description.apps.install'|trans }}{% endblock %}

{% block content %}
<div id="view-appsinstall" class="container">
  <div class="row">
    <div class="col-xs-10">
      <span class="lato title-1">
        Retrouvez
      </span>
      <span class="mk_logo"/></span>
      <span class="lato title-2">
        sur votre mobile !
      </span>
      <a href="#" class="btn large gray bAppStore">
          <h5 class="branding">
            Disponible dans la boutique <span class="store">App Store</span>
          </h5>
       </a>
          
      <a href="#" class="btn large black bGooglePlay">
        <h6 class="branding">
          A télécharger dans la boutique <span class="store">Google Play</span>
        </h6>
    </a>
    </div>
    <div class="col-xs-6">
      <span class="img_mobile" ></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <h2 class="lato title-3">
        Disponible sur iOs et android
      </h2>
      <p>
      </p>
    </div>
    <div class="col-xs-8">
      <h2 class="lato">
        VOD, Séries, Replay
      </h2>
      <p>
      </p>
    </div>
  </div>
    <script>
    var ua = navigator.userAgent.toLowerCase();
    if(ua.indexOf('android') != -1 && ua.indexOf('mobile')) {
      // Redirect to Android-site
      window.location = 'https://play.google.com/store/apps/details?id=com.myskreen.android&hl=fr';
    }
    if(ua.indexOf('ios') != -1 && (ua.indexOf('iphone') ||  ua.indexOf('ipod'))) {
      // Redirect to iTunes-site
      //window.location = 'https://play.google.com/store/apps/details?id=com.myskreen.android&hl=fr';
    }
  </script>
</div>
{% endblock %}