{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}
{# HEAD Title #}
{% block title %}
  Tops et Tendances
{% endblock %}

{# HEAD Description #}
{% block description %}
  Bla Bla Bla
{% endblock %}

{% block body_class %}trends-layout{% endblock %}

{# HEAD Pagescripts #} 
{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/raphael-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.raphael-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.line-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.bar.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/trends.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/tops.js'
    filter='?yui_js' 
    output='js/compiled/pages/trends.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div class="container clearfix">
    <div class="trends-container with-selectors">
      <h3>Tendances - Programmes</h3>
      <p>Les 5 programmes les plus en vogue actuellement</p>
      <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default active" data-trends="all">Tous</button>
        <button type="button" class="btn btn-default" data-trends="film">Films</button>
        <button type="button" class="btn btn-default" data-trends="serie">Séries</button>
        <button type="button" class="btn btn-default" data-trends="documentaire">Documentaires</button>
        <button type="button" class="btn btn-default" data-trends="emission">Emissions</button>
      </div>
      <div id="trends-program" class="svg-container"></div>
    </div>
    <div class="trends-container">
      <h3>Tendances - Personnalités</h3>
      <p>Les 5 personnalités les plus en vogue actuellement</p>
      <div id="trends-person" class="svg-container"></div>
    </div>
    <div class="trends-container">
      <h3>Tendances - Catégories</h3>
      <p>Les 5 catégories les plus en vogue actuellement</p>
      <div id="trends-category" class="svg-container"></div>
    </div>
    <div class="trends-container">
      <h3>Tendances - Chaînes</h3>
      <p>Les 5 chaînes les plus en vogue actuellement</p>
      <div id="trends-channel" class="svg-container"></div>
    </div>
    <div class="tops-container with-selectors">
      <h3>Top 10 - Programmes</h3>
      <p>Les 10 programmes les plus suivis</p>
      <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default active" data-trends="all">Tous</button>
        <button type="button" class="btn btn-default" data-trends="film">Films</button>
        <button type="button" class="btn btn-default" data-trends="serie">Séries</button>
        <button type="button" class="btn btn-default" data-trends="documentaire">Documentaires</button>
        <button type="button" class="btn btn-default" data-trends="emission">Emissions</button>
      </div>
      <div id="tops-program" class="svg-container"></div>
    </div>
    <div class="tops-container">
      <h3>Top 10 - Personnalités</h3>
      <p>Les 10 personnalités les plus suivies</p>
      <div id="tops-person" class="svg-container"></div>
    </div>
    <div class="tops-container">
      <h3>Top 10 - Chaînes</h3>
      <p>Les 10 chaînes les plus suivies</p>
      <div id="tops-channel" class="svg-container"></div>
    </div>
  </div>
{% endblock %}