{% extends 'SkreenHouseFactoryV3Bundle::layout.html.twig' %}
{# HEAD Title #}
{% block title %}
  Tendances
{% endblock %}

{# HEAD Description #}
{% block description %}
  Bla Bla Bla
{% endblock %}

{# HEAD Pagescripts #}
{% block pagescripts %}
  {% javascripts
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/raphael-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.raphael-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.line-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/vendors/g.bar-min.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/trends.js'
    '@SkreenHouseFactoryV3Bundle/Resources/public/js/scripts/tops.js'
    filter='?yui_js' 
    output='js/compiled/pages/trends.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block content %}
  <div class="container">
    Hello World !
    <h2>Tendances des Programmes</h2>
    <div id="trends-program"></div>
    <h2>Tendances des Personnalités</h2>
    <div id="trends-person"></div>
    <h2>Tendances des Catégories</h2>
    <div id="trends-category"></div>
    <h2>Tendances des Chaînes</h2>
    <div id="trends-channel"></div>
    <h2>Tops des Programmes</h2>
    <div id="tops-program"></div>
    <h2>Tops des Personnalités</h2>
    <div id="tops-person"></div>
    <h2>Tops des Chaînes</h2>
    <div id="tops-channel"></div>
  </div>
{% endblock %}